{% extends "base.html" %}
{% load staticfiles i18n l10n customformatting %}

{% block title %}{{ project.name }}{% endblock %}
{% block head_navbar %}
<ul class="nav navbar-nav navbar-left">
  <li class="active"><a href="{% url 'project.view' project.id %}">{{ project.name }}</a></li>
</ul>
{% endblock %}

{% block container %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.1/css/datepicker3.min.css">
<style>
.list-group > .list-group-item:first-child {
  border-width: 0;
}
.panel > .list-group:last-child > .list-group-item:last-child {
  border-bottom: 1px solid #ddd;
}

.list-group-item {
  padding: 9px 15px;
}

.panel-col {
  height: 100%;
  padding-right: 10px;
}

.panel-col > .panel,
.panel-col > .week-slider > .panel {
  height: 100%;
  position: relative;
}



.daily-plan-row {
  position: fixed;
  left: 20px;
  right: 20px;
  height: 350px;
}

.week-slider {
  direction: rtl;
  white-space: nowrap;
  overflow-x: auto;
  padding: 0px 0px 4px 0px;
  height: 100%;
}

.daily-plan {
  direction: ltr;
  white-space: normal;
  width: 400px;
  display: inline-block;
  margin-bottom: 0px;
  margin-left: 5px;
}

.daily-plan > .panel-heading {
  cursor: pointer;
  width: 150px;
  border-top-right-radius: 0px;
}

.daily-plan.active {
  border-color: #337ab7;
}

.daily-plan.active > .panel-heading {
  color: #fff;
  background-color: #337ab7;
}

.daily-labor {
  width: 150px;
  position: absolute;
  top: 38px;
  bottom: 0px;
  left: 0px;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  overflow-y: auto;
}

.daily-labor > div {
  padding-left: 5px;
  padding-right: 5px;
}

.daily-labor .thumbnail:hover {
  text-decoration: line-through;
}

.daily-tasks {
  width: 248px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 150px;
  overflow-y: auto;
  border-left: 1px solid #ddd;
}

.daily-tasks > a:hover {
  text-decoration: line-through;
}

.daily-tasks > a.list-group-item:first-child {
  border-top-right-radius: 4px;
}


#calendar {
  height: 100%;
}

#calendar > .datepicker-inline, 
#calendar > .datepicker-inline > div, 
#calendar > .datepicker-inline > div > table {
  width: 100%;
  height: 100%;
}

#calendar .datepicker-days tbody > tr:hover {
  background: #f5f5f5;
}
#calendar .datepicker-days tbody > tr > td {
  border-radius: 0;
}
#calendar .datepicker-days .cw:hover {
  cursor: pointer;
  background: #eee;
}

</style>


<div class="row daily-plan-row">
  <div class="col-md-9 panel-col">
    <div class="week-slider"></div>
  </div>
  <div class="col-md-3 panel-col">
    <div class="panel panel-default">
    <div id="calendar"></div>
    </div>
  </div>
</div>



<style>
.panels-row {
    position: fixed;
    top: 440px;
    left: 20px;
    bottom: 20px;
    right: 20px;
}

.panel-list {
  overflow-y: auto;
  position: absolute;
  top: 38px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: none;
}

.panel-list.visible {
  display: block;
}

.thumbnail .caption {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
}

.thumbnail.disabled {
  opacity: .2;
}

.thumbnail:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

</style>

<div class="row panels-row">

  <div class="col-md-3 panel-col">

    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title">{% trans 'Labor' %}</h3>
      </div>

      <div class="panel-body panel-list visible">
       <div class="row labor-list">
       {% for name in users %}
        <div class="col-md-3" data-username="{{ name }}">
         <div class="thumbnail btn">
           <img src="{% static "img/construction_worker_256.png" %}" alt="...">
           <div class="caption">{{ name }}</div>
         </div>
        </div>
        {% endfor %}
       </div>
      </div>

    </div>
  </div>

  <div class="col-md-3 panel-col">

    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title">{% trans 'Jobs' %}</h3>
      </div>

        <div class="list-group panel-list job-list visible">
        {% for job in project.jobs.all %}
            <a href="#" class="list-group-item {% if forloop.first %}active{% endif %}" data-job-id="{{ job.id }}">{{ job.name }}</a>
        {% endfor %}
        </div>

    </div>
  </div>

  <div class="col-md-3 panel-col">

    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title">{% trans 'Task Groups' %}</h3>
      </div>

        {% for job in project.jobs.all %}
        <div class="list-group panel-list taskgroup-list {% if forloop.first %}visible{% endif %}" id="task_groups_for_{{ job.id }}">
        {% for taskgroup in job.taskgroups.all %}
          <a href="#" class="list-group-item {% if forloop.first %}active{% endif %}" data-taskgroup-id="{{ taskgroup.id }}">{{ taskgroup.code }} {{ taskgroup.name }}</a>
        {% endfor %}
        </div>
        {% endfor %}

    </div>
  </div>

  <div class="col-md-3 panel-col">

    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title">{% trans 'Tasks' %}</h3>
      </div>

        {% for job in project.jobs.all %}
        {% for taskgroup in job.taskgroups.all %}
        <div class="list-group panel-list task-list {% if forloop.first %}visible{% endif %}" id="tasks_for_{{ taskgroup.id }}">
        {% for task in taskgroup.tasks.all %}
          <a href="#" class="list-group-item" data-task-id="{{ task.id }}">
            {{task.code}} {{ task.name }}
            {% if task.complete_percent > 0 %}
            <span class="badge">{{ task.complete_percent }}%</span>
            {% endif %}
          </a>
        {% endfor %}
        </div>
        {% endfor %}
        {% endfor %}

    </div>
  </div>

</div>
{% endblock %}

{% block extra_js%}
<script type="text/template" id="daily-plan-template">
<div class="panel panel-default daily-plan">
  <div class="panel-heading">
    <h3 class="panel-title">[[date]]</h3>
  </div>
  <div class="row daily-labor"></div>
  <div class="list-group daily-tasks"></div>
</div>
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.1/js/bootstrap-datepicker.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.1/js/locales/bootstrap-datepicker.{{ LANGUAGE_CODE }}.js"></script>
<script type="text/javascript">

var active_plan;

function removeDailyTask(e) {
  $(this).remove();
}

function removeDailyLabor(e) {
  var daily_plan = $(this).closest('.daily-plan');
  $(this).remove();
  updateLaborFromPlan(daily_plan);
}

function updateLaborFromPlan(plan) {
  var users = plan.find('.daily-labor > div').map(function() { return $(this).data('username'); }).get();
  $('.labor-list > div').each(function() {
	  var user = $(this).data('username');
	  var thumbnail = $(this).find('.thumbnail');
	  if ($.inArray(user, users)>-1) {
        thumbnail.addClass('disabled');
	  } else {
        thumbnail.removeClass('disabled');
	  }
  });
}

function newDailyPlan(week, date, formatted) {
	
    if (active_plan != null) {
        active_plan.removeClass('active')
    }

	var template = $("#daily-plan-template").html();
	active_plan = $(template.replace("[[date]]", formatted)).appendTo('.week-slider');

    active_plan.on('click', function(e) {
    	e.preventDefault();
    	var plan = $(this);
        if (active_plan != null) {
            if (active_plan.is(plan)) return;
            active_plan.removeClass('active')
        }
        plan.addClass('active');
        active_plan = plan;
        updateLaborFromPlan(plan);
	});

    $(".daily-tasks").sortable();
    $('.daily-tasks > a', active_plan).on('click', removeDailyTask);
    $('.daily-labor > div', active_plan).on('click', removeDailyLabor);

	active_plan.addClass('active');

}

$(function() {
	
	
    $('.task-list > a').on('click', function(e) {
    	if (active_plan != null) {
    		var tasks = $('.daily-tasks', active_plan);
    		var task = $(this);
    		if (tasks.find('a[data-task-id="'+task.data('task-id')+'"]').length==0) {
                task.clone().appendTo(tasks).on('click', removeDailyTask);
    		}
    	}
    });


    $('.labor-list .thumbnail').on('click', function(e) {
    	if (active_plan != null) {
    		var workers = $('.daily-labor', active_plan);
    		var worker = $(this).parent();
    		if (workers.find('div[data-username="'+worker.data('username')+'"]').length==0) {
                worker.clone()
                 .removeClass('col-md-3')
                 .addClass('col-md-6')
                 .appendTo(workers)
                 .on('click', removeDailyLabor);
                $(this).addClass('disabled');
            }
    	}
    });
	

    var current_week, clicked_date;

	$('#calendar').datepicker({
		language: "{{ LANGUAGE_CODE }}",
		todayHighlight: true,
		calendarWeeks: true
	}).on('click', function(e) {
		var target = $(e.target).closest('td');
		if (target.length === 1 && target[0].nodeName.toLowerCase() == 'td') {
            if (target.hasClass('cw')) {
              current_week = target.text();
            } else if (target.hasClass('day')) {
              current_week = $(target).siblings().first().text();
              date = $('#calendar').datepicker('getDate');
              date_formatted = $('#calendar').datepicker('getFormattedDate', 'M d');
              newDailyPlan(current_week, date, date_formatted);
            }
		}
	});
	
	
	
	
	$('.job-list > a').on('click', function(e) {
		$('.job-list a.active').removeClass('active');
		$(this).addClass('active');

		$('.taskgroup-list.visible').removeClass('visible');
		$('#task_groups_for_'+$(e.target).data('job-id')).addClass('visible');
	});

	$('.taskgroup-list > a').on('click', function(e) {
		$('.taskgroup-list a.active').removeClass('active');
		$(this).addClass('active');

		$('.task-list.visible').removeClass('visible');
		$('#tasks_for_'+$(e.target).data('taskgroup-id')).addClass('visible');
	});

});







$("#job-table").sortable({
		handle: ".handle",
    update: function(event, ui) {
      $.ajax({
        type: 'GET',
        headers: { 'X-CSRFToken': '{{ csrf_token }}' },
        data: {'position': ui.item.index()},
        url: ui.item.data('move'),
        async: false
      });
    }
});
</script>
{% endblock extra_js%}