{% load i18n %}
<h2 class="sub-header">{{ phase }}</h2>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>{% trans 'Name' %}</th>
      <th>{% trans 'City' %}</th>
      <th>{% trans 'State' %}</th>
      <th>{% trans 'Actions' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects %}
    <tr>
      <td width="5%">{{ project.id }}</td>
      <td width="40%"><a href="{% url 'project.view' project.id %}">{{ project }}</a></td>
      <td width="30%">{{ project.jobsites.first.city }}</td>
      <td width="10%">{{ project.get_state_display }}</td>
      <td width="15%">
        <a href="{% url 'project.edit' project.id %}">{% trans "Edit" %}</a>
        <a href="{% url 'project.delete' project.id %}">{% trans "Delete" %}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>