{% extends "frame.html" %}
{% load i18n %}

{% block sidebar %}{% include "main/sidebar.html" with section='projects' %}{% endblock %}

{% block content %}
  <p><a href="{% url 'project.create' %}">{% trans "Create" %}</a> {% trans "or" %} <a href="{% url 'project.import' %}">{% trans "Import" %}</a></p>

  {% for phase, projects in project_groups.items %}
    {% if projects %}
      {% include 'project/project_list_table.html' with phase=projects.0.get_phase_display projects=projects %}
    {% endif %}
  {% endfor %}

  <p>
  {% if not phase_filter %}
      <a href="{% url 'projects' 'finished' %}">
      {% trans "Finished" as finished_phase %}
      {% blocktrans with phase=finished_phase %}Show {{phase}} Projects{% endblocktrans %}
      </a>
  {% elif phase_filter %}
      <a href="{% url 'projects' %}">{% trans 'Show All Projects' %}</a>
  {% endif %}
  </p>

{% endblock content %}