{% extends "project.html" %}
{% load i18n bootstrap %}

{% block mainmenu %}{% include "main/mainmenu.html" with section='projects' %}{% endblock %}

{% block content %}
  <div class="col-sm-4">
    <h2 class="sub-header">{% trans "Workers Summary" %}</h2><h4>{% trans "man days" %}: {{ total_man_days }}</h4>
    <div class="table-responsive">
      <table class="table table-striped" id="jobs-table">
        <thead>
        <tr>
          <th>{% trans "Workers" %}</th>
          <th>{% trans "Count" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in workers_summary %}
          <tr>
            <td><span class="label label-default">{{ entry.0 }}</span></td>
            <td>{{ entry.1 }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-8">
    <h2 class="sub-header">{% trans "DailyPlans" %}</h2><h4>{% trans "dailyplans" %}: {{ total_dailyplans }}</h4>
    <div class="table-responsive">
      <table class="table table-striped" id="jobs-table">
        <thead>
        <tr>
          <th>{% trans "Date" %}</th>
          <th>{% trans "Count" %}</th>
          <th>{% trans "Workers" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for dailyplan in dailyplans %}
          <tr>
            <td>{{ dailyplan.day }}</td>
            <td>{{ dailyplan.worker_count }}</td>
            <td>{% for worker in dailyplan.workers.all %}<span class="label label-default">{{ worker }}</span> {% endfor %}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}