{% extends "frame.html" %}
{% load l10n i18n bootstrap dartium %}


{% block body_start %}
<style>

    body {
        padding-top: 90px;
    }
    #filter-bar {
        position:fixed;
        left: 0px;
        margin-top: -38px;
        height: 38px;
        width: 100%;
        padding-top: 4px;
        background-color: #fff;
    }
    #tile-container{
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }
    .tile{
        flex: 1 0 150px;
        max-width: 100%;
        margin: 2px;
        padding: 5px;
        background: #c0c0c0;
        border-radius: 3px;
        word-wrap: break-word;
    }
    .tile span {
        color: rgba(0,0,0,0.75);
        font-weight:bold;
    }
    .tile a {
        color: rgba(0,0,0,0.75);
    }

    .btn {
        text-shadow: none;
    }

    .btn span.glyphicon {
        opacity: 0;
    }
    .btn.active span.glyphicon {
        opacity: 1;
    }
    .line_through {
        text-decoration: line-through !important;
    }
    .hidden {
        display:none;
    }

    #search_input {
        width: 172px;
    }
    #search_clear {
        position: absolute;
        right: 5px;
        top: 0;
        bottom: 0;
        height: 20px;
        margin: auto;
        font-size: 14px;
        cursor: pointer;
        color: #ccc;
        z-index:10;
    }

</style>

{{ super }}
{% endblock body_start %}

{% block menu_dropdown %}{% include "main/menu_dropdown.html" with section='projects' %}{% endblock %}

{% block container %}
<div id="filter-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12" style="overflow:scroll;">
                    <div class="form-inline" style="width:1210px;">

                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" id="search_input" placeholder="Filter">
                                <button class="glyphicon glyphicon-remove" id="search_clear" class="hidden"></button>
                            </div>

                            <div class="btn-group">
                                <sys-sort-button type="button" data-type="id" data-reversed=true class="btn btn-sm btn-default">
                                    {% trans "ID ↓↑" %}</sys-sort-button>
                                <sys-sort-button type="button" data-type="name" data-reversed=false class="btn btn-sm btn-default">
                                    {% trans "name ↓↑" %}</sys-sort-button>
                                <sys-sort-button type="button" data-type="phase" data-reversed=true class="btn btn-sm btn-default active">
                                    {% trans "phase ↓↑" %}</sys-sort-button>
                            </div>
                            <div class="btn-group" data-toggle="buttons">
                            {% for phase, phase_display in phases %}
                                <sys-phase-button type="button" class="btn btn-default btn-sm active {{ phase }}" data-phase="{{ phase }}" data-hide-phase="false">
                                    {{ phase_display }}
                                </sys-phase-button>
                            {% endfor %}
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm">
                                    <a href="{% url 'project.create' %}">{% trans "Create" %}</a>
                                </button>
                                <button type="button" class="btn btn-default btn-sm">
                                    <a href="{% url 'project.import' %}">{% trans "GAEB-Import (experimental)" %}</a>
                                </button>
                            </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div id="tile-container">
          {% for phase, projects in project_groups.items %}
                {% for project in projects %}
                        <sys-project-tile data-pk="{{ project.id }}" data-name="{{ project|slugify }} - {{ project.id }}"
                             data-phase="{{ phase }}" class="tile {{ phase }}">

                            <a href="{% url 'project.view' project.id %}"><span>#{{ project.id }}</span><br>{{ project }}</a>
                        </sys-project-tile>
                {% endfor %}
          {% endfor %}
    </div>
</div>

{% endblock container %}

{% block extra_js %}
  {% dart "project_list.dart" %}
{% endblock %}
