{% extends "base.html" %}
{% load i18n bootstrap customformatting static %}

{% block container %}
  <div class="container-fluid" style="padding-bottom:100px;">
    <div class="row">
      <div class="col-sm-12 main">

          <table class="table table-striped" id="table">
            <thead>
            <tr>
              <th class="hidden-xs">#</th>
              <th>{% trans 'Name' %}</th>
            </tr>
            </thead>
            <tbody>
                    {% for project in object_list %}
                      <tr class="project_row" data-project-id="{{ project.id }}">
                        <td class="hidden-xs">{{ project.id }}</td>
                        <td>{{ project }}</td>
                      </tr>
                    {% endfor %}
            </tbody>
          </table>

      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  {% if request.is_dartium %}
    <script type="application/dart" src="{% static "dart/project_list.dart" %}"></script>
  {% else %}
    <script src="{% static "build/project_list.dart.js" %}"></script>
  {% endif %}
{% endblock %}
