.idea/workspace.xml
.idea/dataSources.ids
.idea/dataSources.local.xml
*.pyc
.settings/
bitbucket.login
__pycache__
documents/
systori/settings/__init__.py
editor/pubspec.lock
editor/packages/
editor/web/packages
editor/build/
editor/.pub/
