{% extends "frame.html" %}
{% load i18n %}

{% block sidebar %}{% include "main/sidebar.html" with section='equipment' %}{% endblock %}

{% block content %}
  <h2 class="sub-header">{% trans 'Equipment' %}</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>{% trans 'license plate' %}</th>
      <th>{% trans 'Name' %}</th>
      <th>{% trans 'Actions' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for equipment in equipment_list %}
      <tr>
        <td>{{ equipment.license_plate }}</td>
        <td>
            <a href="{% url 'equipment.view' equipment.id %}">{{ equipment.name }}</a>
            {% if equipment.number_of_seats %}
            <span>
                {{ equipment.number_of_seats }} <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </span>
            {% endif %}
        </td>
        <td>
          <a href="{% url 'equipment.edit' equipment.id %}">{% trans "Edit" %}</a>
          <a href="{% url 'equipment.delete' equipment.id %}">{% trans "Delete" %}</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'equipment.create' %}">{% trans "Create" %}</a>
{% endblock content %}