{% extends "frame.html" %}
{% load i18n %}

{% block sidebar %}{% include "main/sidebar.html" with section='equipment' %}{% endblock %}

{% block content %}
    <div class="btn-toolbar">
        <div class="btn-group">
            <span class="btn">{% trans "Filter Equipment" %}</span>
        </div>
        <div class="btn-group btn-group-sm" role="group" aria-label="Invoice filter">
            <a href="{% url "equipment.list" "all" %}" type="button"
               class="btn btn-sm btn-default {% if "all" in active_filter %}active{% endif %}">
                {% trans "all" %}
            </a>
            <a href="{% url "equipment.list" "active" %}"
               type="button" class="btn btn-sm btn-default {% if "active" in active_filter %}active{% endif %}">
                {% trans "active" %}
            </a>
            <a href="{% url "equipment.list" "passive" %}" type="button"
               class="btn btn-sm btn-default {% if "passive" in active_filter %}active{% endif %}">
                {% trans "passive" %}
            </a>
        </div>
    </div>

  <h2 class="sub-header">{% trans 'Equipment' %}</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>{% trans 'license plate' %}</th>
      <th>{% trans 'Name' %}</th>
      <th>{% trans 'Actions' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for equipment in equipment_list %}
      <tr>
        <td>{{ equipment.license_plate }}</td>
        <td>
            <a href="{% url 'equipment.view' equipment.id %}">{{ equipment.name }}</a>
            {% if equipment.number_of_seats %}
            <span>
                {{ equipment.number_of_seats }} <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </span>
            {% endif %}
        </td>
        <td>
          <a href="{% url 'equipment.edit' equipment.id %}">{% trans "Edit" %}</a>
          <a href="{% url 'equipment.delete' equipment.id %}">{% trans "Delete" %}</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'equipment.create' %}">{% trans "Create" %}</a>
{% endblock content %}