{% extends "base.html" %}
{% load static i18n l10n customformatting %}

{% debug %}

{% block head %}
  {{ block.super }}
<style type="text/css">

</style>
{% endblock %}

{% block body_start %}
<body onresize="resizePanel()">
{% endblock %}

{% block header %}
  <div style="font-size:20px; height:100%; position:relative;">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin:0px;">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">{% trans 'Toggle navigation' %}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Systori</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav">
          <li><a href="{{ previous_day_url }}">{% trans 'back' %}</a></li>
          <li><a>{{ request.selected_day|date:"l" }} {{ request.selected_day|localize }}</a></li>
          <li><a href="{{ next_day_url }}">{% trans 'next' %}</a></li>
        </ul>
        <a class="navbar-brand pull-right">{% trans 'Updated' %} <span class="timeago" title="{% now "c" %}">{% trans "less than a minute ago" %}</span></a>

      </div>
    </div>
  </nav>
{% endblock %}


{% block container %}

<div class="container-fluid">
  <div class="row row-eq-height">
    {% for plan in selected_plans %}
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <div class="panel panel-primary" data-id="{{ plan.id }}">
          <div class="panel-heading">{{ plan.jobsite.project.name }}</div>
          <div class="panel-body">
            <h6>{{ plan.jobsite.name }}</h6>
            <h4>{{ plan.jobsite.address }} - {{ plan.jobsite.city }}</h4>
            <hr>
          {% for worker in plan.workers.all %}
            <h5>{{ worker.access.user.get_full_name }}</h5>
          {% endfor %}
            <hr>
          {% for equipment in plan.equipment.all %}
            <h5>{{ equipment }}</h5>
          {% endfor %}
            <hr>
          {% for note in plan.notes %}
            <h4><small>{{ plan.notes }}</small></h4>
          {% endfor %}
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:6 %}
      </div> <div class="row">
      {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}
{% block extra_js %}

  {% include "main/timeago_js.html" %}

  <script type="text/javascript">
    window.onload = function resizePanel(){
        var h = $("#panel-2").height();
        $("#panel-1").height(h); // add a line like this for each panel you want to resize
    }

  // $(document).ready(function(){
  //   setInterval(function() {page_reload()}, 5000);

  //   $("span.timeago").timeago();

  //   });

  // function page_reload()
  // {
  //   $.ajax({
  //     type: "HEAD",
  //     url: window.location,
  //     success: function() {
  //       window.location.reload();
  //     },
  //     error: function() {
  //       console.log("error reloading page.");
  //     },
  //     statusCode: {
  //       404: function() { console.log("404"); },
  //       501: function() { console.log("501"); },
  //       502: function() { console.log("502"); }
  //     }
  //   });
  // };

  </script>
{% endblock %}
