{% extends "base.html" %}
{% load static i18n l10n customformatting timetracking %}

{% debug %}

{% block head %}
  {{ block.super }}
<style type="text/css">
  #progress {
    -webkit-transition: none !important;
    transition: none !important;
  }
  grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    grid-auto-rows: min-content;
    grid-gap: 5px;
  }
  grid-child {
    display:flex;
    flex-direction:column;
    background-color: #EEF6F1;
  }
  .bg-day-indicator {
    background-color:
      {% if is_selected_past %}#faebcc;
      {% elif is_selected_today %}#bba892;
      {% elif is_selected_future %}#bce8f1;
      {% else %}#eeeeee;{% endif %}
  }
  .border-day-indicator {
    border: 2px solid
      {% if is_selected_past %}#faebcc;
      {% elif is_selected_today %}#bba892;
      {% elif is_selected_future %}#bce8f1;
      {% else %}#eeeeee;{% endif %}
    border-radius: 3px;
  }
  project-title {
    font-size: large;
    align-self: stretch;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  project-id, jobsite, workers, equipments, notes {
    font-size: small;
    text-align: center;
    font-weight: bold;
  }
  jobsite-address, worker, equipment, note {
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-size: 14px;
  }

</style>
{% endblock %}

{% block header %}
  <div style="font-size:20px; height:100%; position:relative;">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin:0px;">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">{% trans 'Toggle navigation' %}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Systori</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav">
          <li><a href="{{ previous_day_url }}">{% trans 'back' %}</a></li>
          <li><a>{{ selected_day|date:"l" }} {{ selected_day|localize }}</a></li>
          <li><a href="{{ next_day_url }}">{% trans 'next' %}</a></li>
        </ul>
        <div class="nav navbar-text progress pull-right" style="width: 300px;">
            <div id="progress" role="progressbar" style="background-color: #d1725e; height:100%;"></div>
        </div>
      </div>
    </div>
  </nav>
  </div>
{% endblock %}


{% block container %}
{% load_user_statuses %}
<div class="container-fluid">
  <grid>
    {% for plan in selected_plans %}
      <grid-child class="border-day-indicator panel-primary">
        <project-id class="bg-day-indicator" data-id="{{ plan.id|unlocalize }}">
        # {{ plan.jobsite.project.id }}</project-id>

        <project-title data-id="{{ plan.id|unlocalize }}">
        {{ plan.jobsite.project.name }}</project-title>

        <jobsite class="bg-day-indicator">{{ plan.jobsite.name }}</jobsite>
        <jobsite-address>{{ plan.jobsite.address }} {{ plan.jobsite.city }}</jobsite-address>

        <workers class="bg-day-indicator">{% trans "Workers" %}</workers>
        <worker>
            {% for plan_worker in plan.workers.all %}
              <span>{{ plan_worker.get_full_name }}</span>
            {% endfor %}
        </worker>
        <equipments class="bg-day-indicator">{% trans "equipment" %}</equipments>
        <equipment>
              {% for equipment in plan.equipment.all %}
                <span>{{ equipment|safe }}</span>
              {% endfor %}
        </equipment>
        <notes class="bg-day-indicator">{% trans "Notes" %}</notes>
        <note>
              {{ plan.notes }}
        </note>
      </grid-child>
    {% endfor %}
  </grid>
</div>

{% endblock %}
{% block extra_js %}
  <script src="{% static "js/day_based_overview.js" %}"></script>
{% endblock %}