{% extends "base.html" %}
{% load i18n l10n static staticfiles field_app dartium customformatting %}

{% block mainmenu %}{% include "main/mainmenu.html" %}{% endblock %}

{% block content %}
  <style>
  #notes > tr > span {
    color: grey;
  }
  .notes-table > h1, .h1, h2, .h2,
  h3, .h3, h4, .h4, h5, .h5 {
    margin-top: 0;
  }
  </style>
  <h1 class="page-header">{% trans 'Notes' %}</h1>
  <div class="table-responsive notes-dashboard">
    <table class="table table-striped notes-table">
      <tbody id="notes">
      <tr data-note-pk="{{ note.pk }}">
        <td>
          <nobr>
            {% if note.project %}<a href="{% url 'project.view' note.project.id %}">#{{ note.project.id }}</a>{% endif %}
            {{ note.worker }}
          </nobr><br>
            <span class="note-created" datetime="{{ note.created|date:"c" }}">{{ note.created }}</span>
        </td>
        <td id="note_html">{{ note.html|safe }}</td>
      </tr>
      </tbody>
    </table>
  <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/3.0.2/timeago.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/3.0.2/timeago.locales.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    timeago().render(document.querySelectorAll('.note-created'), '{{ LANGUAGE_CODE }}');
  </script>
{% endblock extra_js %}
