{% load i18n l10n main %}

<tr is="note-tr"
    data-pk="{{ note.pk|unlocalize }}"
    data-worker-pk="{{ note.worker.pk|unlocalize }}"
    data-note-created="{{ note.created|unlocalize }}">
  <td>
    <nobr><b>{{ note.worker }}</b></nobr>
    <br>
    <span style="color: grey;">
      {{ note.created }}
    </span>
  </td>
  <td>
    <div class="html_container">
      {{ note.html|safe }}
    </div>
    {# textarea for note.text has to be in a single line (prevents whitespaces) #}
    {% if request.worker == note.worker %}
    <div class="btn-group btn-group-sm btn-group-note" role="group">
      <a id="note-edit-button" class="btn btn-sm btn-default" href="{% url 'note' note.pk request.path %}"><span class="glyphicon glyphicon-edit"></span></a>
      <a id="note-delete-button" class="btn btn-sm btn-danger" href="{% url 'note.delete' note.pk request.path %}"><span class="glyphicon glyphicon-trash"></span></a>
    </div>
    {% endif %}
  </td>
</tr>
