{% extends "frame.html" %}
{% load i18n l10n static staticfiles field_app main dartium customformatting %}

{% block menu_dropdown %}{% include "main/menu_dropdown.html" %}{% endblock %}

{% block content %}
  <style>
  #notes > tr {
    font-size: smaller;
  }
  #notes > tr > span {
    color: grey;
  }
  </style>
  <h1 class="page-header">{% trans 'Notes' %}</h1>
  <table class="table table-striped notes-table">
    <thead>
    <tr>
      <th></th>
      <th>{% trans 'Note' %}</th>
    </tr>
    </thead>
    <tbody id="notes">
    {% for note in notes %}
    <tr>
      <td>
        {% if note.project %}<a href="{% url 'field.project' note.project.id %}">#{{ note.project.id }}</a>{% endif %}
        {{ note.worker }}
        <span class="note-created">{{ note.created }}</span>
      </td>
      <td>{{ note.text|markdown|safe }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block extra_js %}
  {% dart "notes_dashboard.dart" %}
{% endblock extra_js %}
