{% extends "frame.html" %}
{% load i18n l10n static staticfiles field_app main dartium customformatting %}

{% block menu_dropdown %}{% include "main/menu_dropdown.html" %}{% endblock %}

{% block content %}
  <style>
  #notes > tr > span {
    color: grey;
  }
  .notes-table > h1, .h1, h2, .h2,
  h3, .h3, h4, .h4, h5, .h5 {
    margin-top: 0;
  }
  </style>
  <h1 class="page-header">{% trans 'Notes' %}</h1>
  <div class="table-responsive notes-dashboard">
    <table class="table table-striped notes-table">
      <tbody id="notes">
      {% for note in object_list %}
      <tr data-note-pk="{{ note.pk }}">
        <td>
          <nobr>
            {% if note.project %}<a href="{% url 'field.project' note.project.id %}">#{{ note.project.id }}</a>{% endif %}
            {{ note.worker }}
          </nobr><br>
            <span class="note-created" datetime="{{ note.created|unlocalize }}">{{ note.created }}</span>
        </td>
        <td>{{ note.text|markdown|safe }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block extra_js %}
  {% dart "notes_dashboard.dart" %}
{% endblock extra_js %}
