{% extends "frame.html" %}
{% load i18n %}

{% block menu_dropdown %}{% include "main/menu_dropdown.html" with section="templates" %}{% endblock %}

{% block content %}
  <h2 class="sub-header">{% trans "Job Templates" %}</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Actions" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for job in jobs %}
      <tr>
        <td><a href="{% url 'job.editor' project.id job.id %}">{{ job }}</a></td>
        <td>
          <a href="{% url 'job.editor' project.id job.id %}">{% trans "Edit" %}</a>
          <a href="{% url 'job.delete' project.id job.id %}">{% trans "Delete" %}</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'job.create' %}">{% trans "Create" %}</a>

  <h2 class="sub-header">{% trans "Document Templates" %}</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Type" %}</th>
      <th>{% trans "Actions" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for doc in documents %}
      <tr>
        <td><a href="{% url 'document-template.view' doc.id %}">{{ doc }}</a></td>
        <td>{{ doc.document_type }}</a></td>
        <td>
          <a href="{% url 'document-template.edit' doc.id %}">{% trans "Edit" %}</a>
          <a href="{% url 'document-template.delete' doc.id %}">{% trans "Delete" %}</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'document-template.create' %}">{% trans "Create" %}</a>


  <h2 class="sub-header">{% trans "Document Settings" %}</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <th colspan="2">{% trans "Text" %}</th>
      <th colspan="3">{% trans "Letterhead" %}</th>
      <th></th>
    </tr>
    <tr>
      <th>{% trans "Language" %}</th>
      <th>{% trans "Proposal" %}</th>
      <th>{% trans "Invoice" %}</th>
      <th>{% trans "Proposal" %}</th>
      <th>{% trans "Invoice" %}</th>
      <th>{% trans "Evidence" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for docsetting in document_settings %}
      <tr>
        <td>{{ docsetting.get_language_display }}</td>
        <td>{{ docsetting.proposal_text.name }}</td>
        <td>{{ docsetting.invoice_text.name }}</td>
        <td>{{ docsetting.proposal_letterhead.name }}</td>
        <td>{{ docsetting.invoice_letterhead.name }}</td>
        <td>
          <a href="{% url 'document-settings.edit' docsetting.id %}">{% trans "Edit" %}</a>
          <a href="{% url 'document-settings.delete' docsetting.id %}">{% trans "Delete" %}</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'document-settings.create' %}">{% trans "Create" %}</a>


  <h2 class="sub-header">{% trans 'Letterhead' %}</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>{% trans 'Name' %}</th>
      <th>{% trans 'Actions' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for object in letterheads %}
      <tr>
        <td><a href="{% url 'letterhead.update' object.id %}">{{ object.name }}</a></td>
        <td>
          <a href="{% url 'letterhead.update' object.id %}">{% trans "Edit" %}</a>
          <a href="{% url 'letterhead.delete' object.id %}">{% trans "Delete" %}</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'letterhead.create' %}">{% trans "Create" %}</a>

{% endblock %}