{% load i18n %}
{% csrf_token %}

{% if worker.flags.can_track_time %}
    <div id="timer-box">{{ timetracking_timer_duration }}</div>
    <button type="button" class="btn btn-default" id="timer-toggle" value="Start">
      <span class="glyphicon glyphicon-play"></span>
      <span class="btn-label"
        data-label-stopped="{% trans 'Paused' %}"
        data-label-geolocating="{% trans 'Geolocating...' %}"
        data-label-running="{% trans 'Running' %}">{% trans 'Paused' %}</span>
    </button>
{% endif %}

{% if worker.flags.timetracking_enabled %}
  <div class="table-responsive">
      <table class="table" is="timetracking-report" id="timer-report">
          <thead>
            <tr>
              <th>{% trans "Date" %}</th>
              <th>{% trans "Timers" %}</th>
              <th>{% trans "Overtime" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for date, row in timetracking_report.items %}
              {% include "timetracking/report_row.html" %}
            {% endfor %}
          </tbody>
      </table>
  </div>
{% endif %}
