{% extends "frame.html" %}
{% load i18n static bootstrap timetracking %}

{% block head %}
{{ block.super }}
<style type="text/css">
  #id_user {
    width: 200px;
  }
  #id_duration {
    width: 80px !important;
  }
</style>
{{ form.media.css }}

{# This is here because of the datepicker init calls in the body #}
<script src="{% static "js/jquery-1.11.2.min.js" %}"></script>
<script src="{% static "js/jquery-ui.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>

{# <script type="application/dart" src="{% static "dart/timetracking.dart" %}"></script> #}
<script src="{% static "dart/packages/web_components/webcomponents.min.js" %}"></script>
<script src="{% static "dart/packages/web_components/dart_support.js" %}"></script>
<script src="{% static "dart/packages/browser/dart.js" %}"></script>
{{ form.media.js }}
{% endblock head %}

{% block sidebar %}{% include "main/sidebar.html" with section='timetracking' %}{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
    {% trans "Time Report for" %} {{ user.get_full_name }} - {{ report_period|date:"F Y" }}
    </h3>
  </div>
  <div class="panel-body">
    <form class="form-inline" method="GET">
    <label for="timetracking-report-period">Period:</label>{{ period_form|bootstrap_inline }}
      <div class="form-group">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">{% trans "Show" %}</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="alert alert-warning">
      {% trans "Fixed breaks from 9:00-9:30 and 12:30-13:00 are always subtracted for all kinds." %}
    </div>
    <form class="form-inline" method="POST">
    {% csrf_token %}
    {{ form|bootstrap_inline }}
      <div class="form-group">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
        </div>
      </div>
    </form>
  </div>

  <table class="table table-striped table-bordered" id="timer-report">
    <tr>
      <th>{% trans "Date" %}</th>
      <th>{% trans "Activity" %}</th>
      <th>{% trans "Start" %}</th>
      <th>{% trans "End" %}</th>
      <th>{% trans "Hours" %}</th>
      <th>{% trans "Overtime" %}</th>
      <th>{% trans "Total Hours" %}</th>
    </tr>
    {% for date, date_entries in report.rows.items %}
      {% for kind, row in date_entries.items %}
        {% if row.start %}
    <tr>
      <td>{{ date }}</td>
          {% if kind == 'work' %}
      <td>
        {% trans "Work" %}
        {% for start_location, end_location in row.locations %}
          <div class="btn-group">
            {% if start_location.0 %}
              <a href="https://www.google.com/maps/place/{{ start_location.0 }},{{ start_location.1 }}"
                 class="btn btn-xs btn-info"
                 role="button"
                 title="{% trans "start" %}"
                 target="_blank">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
              </a>&nbsp;
            {% endif %}
            {% if end_location.0 %}
              <a href="https://www.google.com/maps/place/{{ end_location.0 }},{{ end_location.1 }}"
                 class="btn btn-xs btn-success"
                 role="button"
                 title="{% trans "end" %}"
                 target="_blank">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
              </a>
            {% endif %}
          </div>
        {% endfor %}
    </td>
      </td>
      <td>{{ row.start|date:"H:i" }}</td>
      <td>{{ row.end|date:"H:i"}}</td>
      <td>{{ row.duration|seconds_to_hours }}</td>
      <td>{{ row.overtime|seconds_to_hours}}</td>
      <td>{{ row.total|seconds_to_hours }}</td>
          {% elif kind == 'holiday' %}
      <td>{% trans "Holiday" %}</td>
      <td colspan="5">{{ row.duration|seconds_to_hours }}</td>
          {% elif kind == 'illness' %}
      <td>{% trans "Illness" %}</td>
      <td>{{ row.start|date:"H:i" }}</td>
      <td>{{ row.end|date:"H:i" }}</td>
      <td>{{ row.duration|seconds_to_hours }}</td>
      <td colspan="3"></td>
          {% elif kind == 'correction' %}
      <td>{% trans "Correction" %}</td>
      <td>{{ row.start|date:"H:i" }}</td>
      <td>{{ row.end|date:"H:i" }}</td>
      <td>{{ row.duration|seconds_to_hours }}</td>
      <td colspan="3">{{ row.comment }}</td>
          {% elif kind == 'education' and row.start %}
      <td>{% trans "Education" %}</td>
      <td>{{ row.start|date:"H:i" }}</td>
      <td>{{ row.end|date:"H:i" }}</td>
      <td>{{ row.duration|seconds_to_hours }}</td>
      <td colspan="3"></td>
          {% endif %}
        {% endif %}
    </tr>
      {% endfor %}
    {% empty %}
    <tr><td colspan="5">{% trans "No entries" %}</td></tr>
    {% endfor %}
  </table>
</div>

<div class="panel panel-default">
  <table class="table table-striped table-bordered">
    <tr>
      <td>{% trans "Holidays used" %}</td><td>{{ report.holidays_used }}</td>
    </tr>
    <tr>
      <td>{% trans "Holidays available" %}</td><td>{{ report.holidays_available }}</td>
    </tr>
    <tr>
      <td>{% trans "Overtime" %}</td><td>{{ report.overtime|seconds_to_hours }}</td>
    </tr>
  </table>
</div>
{% endblock %}

{% block base_js %}{% endblock %}
