{% extends "field/base.html" %}
{% load i18n staticfiles %}

{% block container %}
<div class="container">

  <a href="{% url 'field.projects' %}" class="btn btn-default btn-block btn-back">&laquo; {% trans 'Projects' %}</a>
  
  <div class="panel panel-default">

    <div class="panel-heading">
      {{ project.name }} {% trans 'Jobs' %}
    </div>

    <ul class="list-group">
    {% for job in project.jobs.all %}
      <a href="{% url 'field.job' project.id job.id %}" class="list-group-item clearfix">{{job.code}} - {{ job.name }} <span class="pull-right">&raquo;</span></a>
    {% endfor %}
    </ul>

  </div>

</div>
{% endblock %}