{% load i18n customformatting %}
<a name="lineitem-{{ lineitem.pk }}"></a>
<div class="editor">
  <div class="editor-row">
    <span class="sys-lineitem-handle glyphicon glyphicon-menu-hamburger"></span>
    <div class="name" placeholder="{% trans 'line item' %}" contenteditable>{{ lineitem.name|safe }}</div>
    <div class="qty" placeholder="{% trans 'qty' %}" contenteditable>{{ lineitem.unit_qty|ubrdecimal }}</div>
    <div class="unit" placeholder="{% trans 'unit' %}" contenteditable>{{ lineitem.unit }}</div>
    <div class="price" placeholder="{% trans 'price' %}" contenteditable>{{ lineitem.price|ubrdecimal }}</div>
    <div class="total">{{ lineitem.total|ubrdecimal:3 }}</div>
    <div class="labels">
      <span class="is_flagged {{ lineitem.is_flagged }} label label-danger">{% trans 'Flag' %}</span>
    </div>
  </div>
</div>