{% load i18n customformatting task %}
<a name="lineitem-{{ lineitem.pk }}"></a>
<div class="editor">
  <div class="editor-row">
    <sys-code-input class="sys-lineitem-handle glyphicon glyphicon-menu-hamburger" data-order="{% if lineitem.order %}{{ lineitem.order }}{% endif %}"></sys-code-input>
    <sys-input class="name"  placeholder="{% trans 'line item' %}" contenteditable>{{ lineitem.name|safe }}</sys-input>
    <sys-cell  class="qty"   placeholder="{% trans 'qty' %}"   data-canonical="{{ lineitem.qty_equation }}"   {% if lineitem.qty_equation|is_formula %}data-resolved="" {% endif %}contenteditable>{{ lineitem.qty|ubrnumber }}</sys-cell>
    <sys-input class="unit"  placeholder="{% trans 'unit' %}"                                                 contenteditable>{{ lineitem.unit }}</sys-input>
    <sys-cell  class="price" placeholder="{% trans 'price' %}" data-canonical="{{ lineitem.price_equation }}" {% if lineitem.price_equation|is_formula %}data-resolved="" {% endif %}contenteditable>{{ lineitem.price|ubrdecimal }}</sys-cell>
    <sys-cell  class="total" placeholder="{% trans 'total' %}" data-canonical="{{ lineitem.total_equation }}" {% if lineitem.total_equation|is_formula %}data-resolved="" {% endif %}contenteditable>{{ lineitem.total|ubrdecimal }}</sys-cell>
    <div class="actions">
      <sys-toggle class="is_hidden glyphicon glyphicon-eye-close {{ lineitem.is_hidden }}"></sys-toggle>
      <sys-toggle class="is_flagged glyphicon glyphicon-flag {{ lineitem.is_flagged }}"></sys-toggle>
    </div>
  </div>
</div>