{% extends "base.html" %}
{% load i18n l10n static customformatting %}

{% block title %}#{{ project.id }} {{ project.name|truncatechars:10 }} > {{ job.name }}{% endblock %}

{% block container %}
  <style>
    navbar {
      justify-content: space-between;
    }
    navbar > span {
      color: white;
    }
    navbar > span > a {
      background-color: transparent;
      color: white;
      text-decoration: none;
    }
    #editor-area {
      max-width: 1100px;
      padding: 50px 50px 100px 50px;
      margin: auto;
    }

    sys-job,
    sys-group,
    sys-task,
    sys-task > div.price-difference {
      display: block;
      position: relative;
      margin-right: 15px;
    }

    sys-lineitem {
      display: block;
      position: relative;
    }

    sys-job,
    sys-group {
      border-right: 1px solid #e9e9e9;
    }

    sys-job > .editor,
    sys-group > .editor,
    sys-task > .editor {
      position: relative;
      padding-bottom: 10px;
      /* 2px left border is needed by the sticky header sensors */
      border-left: white 2px solid;
    }
    sys-lineitem > .editor {
      /* 2px left border is needed by the sticky header sensors */
      border-left: white 2px solid;
    }

    sys-job > .editor.changed,
    sys-group > .editor.changed,
    sys-task > .editor.changed {
      border-left-color: orange;
    }
    sys-lineitem > .editor.changed {
      border-left-color: orange;
    }

    sys-job > .editor.saving,
    sys-group > .editor.saving,
    sys-task > .editor.saving {
      border-left-color: yellow;
    }
    sys-lineitem > .editor.saving {
      border-left-color: yellow;
    }

    .editor-row {
      display: flex;
      align-items: flex-start;
      padding-bottom: 3px;
    }

    /* job, group, task */

    .code {
      flex: 0 0 auto;
      font-family: monospace;
    }

    .name {
      flex: 1 1 auto;
      margin: 0 10px 0 10px;
    }

    .total {
      flex: 0 0 auto;
      position: relative;
      min-width: 90px;
      text-align: right;
      padding: 0 4px 0 4px;
      margin-right: -5px;
      margin-left: 10px;
      border: 1px solid black;
      background-color: #fff;
      z-index: 2;
    }

    .description {
      display: block;
      margin-left: 50px;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    sys-group > .editor .name {
      font-weight: bold;
    }

    sys-group > .editor .total:after,
    sys-task > .editor .total:after {
      display: block;
      position: absolute;
      content: "+";

      width: 11px;
      height: 10px;

      top: 0px;
      right: -12px;

      color: #848484;
      font-size: 9px;
      text-align: left;

      padding-left: 2px;
      border-bottom: 1px solid #e9e9e9;
    }

    /* cover up end of line when last child */
    sys-group:last-child:after,
    sys-task:last-child:after {
      display: block;
      position: absolute;
      content: "";
      width: 3px;
      top: 10px;
      bottom: 0px;
      right: -17px;
      background-color: white;
    }

    /* cover up line if empty group */
    sys-group > .editor:only-child:after {
      display: block;
      position: absolute;
      content: "";
      width: 1px;
      top: 0px;
      bottom: 0px;
      right: -1px;
      background-color: white;
    }

    /* task, lineitem */

    [contenteditable]:focus {
      outline: none;
    }

    sys-task {
      padding-bottom: 20px;
    }

    sys-task > div.editor > div > sys-input.name {
        font-weight: bold;
    }

    .unit {
      flex: 0 0 auto;
      width: 70px;
      padding-left: 4px;
    }

    .variant {
      flex: 0 0 auto;
      padding-right: 5px;
      min-width: 20px;
    }
    .variant:empty {
      visibility: hidden;
    }
    .variant[data-serial="1"] { color: #0074D9 } /* BLUE */
    .variant[data-serial="2"] { color: #3D9970 } /* OLIVE */
    .variant[data-serial="3"] { color: #FF851B } /* ORANGE */
    .variant[data-serial="4"] { color: #B10DC9 } /* PURPLE */
    .variant[data-serial="5"] { color: #FF4136 } /* RED */
    .variant[data-serial="6"] { color: #7FDBFF } /* AQUA */
    .variant[data-serial="7"] { color: #01FF70 } /* LIME */
    .variant[data-serial="8"] { color: #F012BE } /* FUCHSIA */
    .variant[data-serial="9"] { color: #FFDC00 } /* YELLOW */
    .editor:hover > .editor-row > .variant {
      visibility: visible;
    }
    .editor:hover > .editor-row > .variant:empty:before {
      color: #e9e9e9;
      cursor: pointer;
    }

    sys-task > .editor .is_provisional {
      color: rgba(133, 20, 75, 1);
    }

    sys-lineitem > .editor .total,
    .qty, .price {
      flex: 0 0 auto;
      width: 100px;
      text-align: right;
      padding-right: 4px;
      background-color: #fff;
    }

    sys-lineitem > .editor .total {
      border: 1px solid #e9e9e9;
    }

    sys-task.excluded > .editor .total:after {
      color: white;
      border-bottom: none;
    }

    sys-task.excluded > .editor .total {
      color: rgba(133, 20, 75, 0.3);;
      border: 1px solid rgba(133, 20, 75, 0.3);
    }

    sys-task > .editor .price {
      position: relative;
      border: 1px solid black;
      margin-left: 10px;
    }

    sys-task > .editor .price:before {
      display: block;
      position: absolute;
      content: "x";
      width: 180px;
      height: 1px;
      padding-right: 2px;
      border-top: 1px solid #e9e9e9;
      top: -1px;
      left: -181px;
      color: #e9e9e9;
      font-size: 8px;
      text-align: right;
    }

    sys-task > .editor .price:after {
      display: block;
      position: absolute;
      content: "=";
      width: 10px;
      padding-left: 2px;
      border-top: 1px solid #e9e9e9;
      top: 1px;
      right: -11px;
      color: #e9e9e9;
      font-size: 8px;
      text-align: left;
    }

    sys-task > div.price-difference {
      display: flex;
      margin-bottom: 10px;
      margin-left: 100px;
    }

    sys-task > div.price-difference > .glyphicon {
      color: red;
    }

    sys-task > div.price-difference > .total {
      color: red;
      font-weight: bold;
      border-color: red;
      min-width: 100px;
    }

    sys-task > .editor:not(:only-child):after {
      display: block;
      position: absolute;
      content: "";
      width: 1px;
      top: 0px;
      bottom: 0px;
      right: 100px;
      border-right: 1px solid #e9e9e9;
      z-index: -1;
    }

    sys-lineitem:not(:last-child):after {
      display: block;
      position: absolute;
      content: "";
      width: 1px;
      top: 0px;
      bottom: 0px;
      right: 100px;
      border-right: 1px solid #e9e9e9;
    }

    /* line item */

    sys-lineitem {
      background-color: white;
    }

    sys-lineitem > a {
      position: absolute;
      top: -150px;
    }

    sys-lineitem,
    .sys-lineitem-placeholder {
      margin-bottom: 10px;
    }

    sys-cell[data-canonical=""] {
      font-weight: bold;
    }

    sys-cell[data-resolved] {
      font-weight: bold;
      border-bottom: green 2px dotted;
    }

    sys-cell {
      position: relative;
    }

    sys-cell:focus {
      outline: none;
    }

    sys-lineitem sys-cell[data-preview]:focus:after {
      display: block;
      position: absolute;
      content: attr(data-preview);
      font-size: 10px;
      color: dimgrey;
      bottom: -15px;
      right: 4px;
      width: 400px;
      white-space: nowrap;
    }

    .sys-lineitem-handle {
      cursor: pointer;
    }

    sys-lineitem-sheet {
      -webkit-user-select: none;
      user-select: none;
      margin-left: 100px;
      display: block;
      position: relative;
    }

    sys-lineitem-sheet:after {
      display: block;
      position: absolute;
      content: "";
      width: 1px;
      top: 0px;
      bottom: 0px;
      right: 100px;
      border-right: 1px solid #e9e9e9;
      z-index: -1;
    }

    /* description */

    sys-job > .editor .description {
      margin-right: 180px;
    }
    sys-job > sys-group > .editor .description {
      margin-right: 165px;
    }
    sys-job > sys-group > sys-group > .editor .description {
      margin-right: 150px;
    }
    sys-job > sys-group > sys-group > sys-group > .editor .description {
      margin-right: 135px;
    }
    sys-job > sys-group > sys-group > sys-group > sys-group > .editor .description {
      margin-right: 120px;
    }
    sys-task > .editor .description {
      margin-right: 105px;
    }

    /* actions */

    sys-task > .editor > .editor-row > .actions {
      flex: 0 1 auto;
      padding-right: 5px;
    }

    sys-lineitem > .editor > .editor-row > .actions {
      flex: 0 0 auto;
      width: 100px;
      padding-left: 20px;
    }

    .actions > sys-toggle-lineitem:hover,
    .actions > sys-toggle-tm:hover,
    .actions > sys-toggle:hover {
      cursor: pointer;
    }

    .actions > sys-toggle-lineitem[data-value=other],
    .actions > sys-toggle-tm.False,
    .actions > sys-toggle.False {
      visibility: hidden;
      color: #e9e9e9;
    }

    .editor:hover > .editor-row > .actions > sys-toggle-lineitem[data-value=other],
    .editor:hover > .editor-row > .actions > sys-toggle-tm.False,
    .editor:hover > .editor-row > .actions > sys-toggle.False {
      visibility: visible;
    }

    /* other */

    [contenteditable][placeholder]:empty:before {
      font-family: 'Glyphicons Halflings';
      content: attr(placeholder);
      font-style: italic;
      color: #d9d9d9;
    }

    [contenteditable][placeholder]:empty:focus:before {
      content: "";
    }


    sys-autocomplete {
      z-index: 100;
      visibility: hidden;
      position: absolute;
      background: white;
      width: 450px;
      border: 1px solid lightgrey;
      -webkit-transition: top 0.1s;
      -moz-transition: top 0.1s;
      -ms-transition: top 0.1s;
      -o-transition: top 0.1s;
      transition: top 0.1s;
    }

    sys-autocomplete > div {
      position: relative;
      border-bottom: 1px solid lightgrey;
    }

    sys-autocomplete > div > h2 {
      font-size: 14px;
      margin-top: 0px;
    }

    sys-autocomplete > div > p {
      font-size: 12px;
    }

    sys-autocomplete > div > div {
      position: absolute;
      left: 450px;
      top: 0px;
      width: 516px;
      background: #DDEDE1;
      padding: 5px;
    }

    sys-autocomplete > div > div > table {
      width: 100%;
    }

    sys-autocomplete > div > div > table .info-decimal {
      padding-left: 3px;
      text-align: right;
    }

    sys-autocomplete > div > div > table .info-total {
      font-weight: bold;
    }

    sys-autocomplete > div > div > table tr:nth-child(even) {
      background: #EEF6F1;
    }

    sys-autocomplete > div > div > table tr:nth-child(-n+4) {
      background: #DDEDE1;
    }

    sys-autocomplete > div.active {
      background: #B7DBC1;
    }

    sys-group[data-pk=""] > .editor sys-input.name,
    sys-task[data-pk=""] > .editor sys-input.name {
      position: relative;
      margin-left: 20px;
    }

    sys-group[data-pk=""] > .editor sys-input.name:after,
    sys-task[data-pk=""] > .editor sys-input.name:after {
      position: absolute;
      left: -17px;
      font-family: 'Glyphicons Halflings';
      font-size: small;
      content: "\e003"; /* magnifying glass */
      color: black;
    }

    .sticky-header {
      position: fixed;
      background-color: white;
      z-index: 100;
    }

    .sticky-header.sliding {
      color: lightgray;
      z-index: 99;
    }
    
    .navbar-nav {
      color:white;
      margin-top: 25px;
    }
    a {
      color: white;
      text-decoration: none;
    }
    a:hover {
        color: #B7DBC1;
        text-decoration: none;
    }
  </style>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img alt="Systori" src="{% static 'img/systori_logo_nav.svg' %}" style="margin-top:-10px;"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <span>
          <a href="{% url 'project.view' project.pk %}"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> {{ project.name }}</a> :  
          {{ job.name }}
        </span>
      </ul>


      <div class="navbar-form navbar-right">
            <form id="set-language" action="{% url 'set_language' %}" method="post">{% csrf_token %}
              <div class="input-group" style="width: 8em;">
                  <span class="input-group-addon" id="infoBox">#</span>
                  <sys-goto-project type="text" class="form-control" contenteditable></sys-goto-project>
                  <div class="input-group-btn">
                      <button tabindex="-1" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                          <span class="caret"></span>
                          <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu pull-right">
                          {% if selected_company %}
                            <li>
                              <a href="javascript:window.open('{% url 'field.dashboard' %}', 'field-app', 'height=700,width=400,location=no,menubar=no,toolbar=no');">
                                    {% trans 'open field app' %}
                              </a>
                            </li>
                          {% endif %}
        
                          {% get_language_info_list for LANGUAGES as languages %}
                          {% for language in languages %}
                            {% if language.code != LANGUAGE_CODE %}
                              <li><a class="language-link" href="#"
                                    data-language="{{ language.code }}">{{ language.name_local }}</a></li>
                            {% endif %}
                          {% endfor %}
                          <li class="divider"></li>
                          <li><a href="{% url 'account_logout' %}">{% trans 'Logout' %}</a></li>
                          <!-- <li><a href="{% url 'settings' %}">{% trans 'Settings' %}</a></li> -->
                      </ul>
                  </div>
                </div>
                <input type="hidden" name="language" value=""/>
              </form>  
      </div>
    </div><!--/.nav-collapse -->
  </div>
</nav>


  {% localize off %}
  <div id="editor-area">

  <sys-job id="task-editor" data-pk="{{ job.pk|unlocalize }}" data-code="{{ job.code }}"
           data-structure-format="{{ job.project.structure.pattern}}">
    {% include "task/editor/group_editor.html" with group=job %}
    {% for group in job.groups.all %}
      {% include "task/editor/group_loop.html" with group=group %}
    {% endfor %}
    {% for task in job.tasks.all %}
      {% include "task/editor/task_loop.html" with task=task %}
    {% endfor %}
  </sys-job>

  </div>

  <template id="group-template">
    {% include "task/editor/group_editor.html" with group=blank_group %}
  </template>

  <template id="task-template">
    {% include "task/editor/task_editor.html" with task=blank_task %}
  </template>

  <template id="lineitem-template"
    data-material="{% trans 'Material' %}"
    data-material-icon="{{ blank_lineitem.ICONS.material }}"
    data-labor="{% trans 'Labor' %}"
    data-labor-icon="{{ blank_lineitem.ICONS.labor }}"
    data-equipment="{% trans 'Equipment' %}"
    data-equipment-icon="{{ blank_lineitem.ICONS.equipment }}"
    data-other="{% trans 'Type' %}"
    data-other-icon="{{ blank_lineitem.ICONS.other }}">
    {% include "task/editor/lineitem_editor.html" with lineitem=blank_lineitem %}
  </template>
  {% endlocalize %}

{% endblock %}

{% block extra_js %}
  {% if not job.is_locked %}
    <script src="{% static "/dart/build/job_editor.dart.js" %}"></script>
  {% endif %}
  
{% endblock extra_js %}
