{% load i18n customformatting %}

<div class="editor">
  <div class="editor-row">
    <sys-code-input class="code" data-order="{% if task.order %}{{ task.order }}{% endif %}">{{ task.code }}</sys-code-input>
    <sys-input class="name"  placeholder="{% trans 'task' %}"                                             contenteditable>{{ task.name|safe }}</sys-input>
    <sys-cell  class="qty"   placeholder="{% trans 'qty' %}"   data-canonical="{{ task.qty_equation }}"   contenteditable>{{ task.qty|ubrnumber }}</sys-cell>
    <sys-input class="unit"  placeholder="{% trans 'unit' %}"                                             contenteditable>{{ task.unit }}</sys-input>
    <sys-cell  class="price"                                   data-canonical="{{ task.price_equation }}" contenteditable>{{ task.price|ubrdecimal }}</sys-cell>
    <sys-cell  class="total" placeholder="{% trans 'total' %}" data-canonical="{{ task.total_equation }}" contenteditable>{{ task.total|ubrdecimal }}</sys-cell>
    {% comment %}
      <div class="labels">
        <span class="is_optional {{ task.is_provisional }} label label-primary">{% trans 'Optional' %}</span>
      </div>
    {% endcomment %}
  </div>
  <sys-styled-input class="description" placeholder="{% trans 'description' %}" contenteditable>{{ task.description|safe }}</sys-styled-input>
</div>

<sys-lineitem-sheet>
  {% for lineitem in task.lineitems.all %}
    <sys-lineitem
        data-pk="{% if lineitem.pk %}{{ lineitem.pk }}{% endif %}"
        data-token="{% if lineitem.token %}{{ lineitem.token }}{% endif %}">
      {% include "task/editor/lineitem_editor.html" with lineitem=lineitem %}
    </sys-lineitem>
  {% endfor %}
</sys-lineitem-sheet>

<div class="price-difference" style="visibility: hidden;">
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  <div class="name">{% trans 'Line items do not add up to the task price.' %}</div>
  <div class="total">{{ task.price_difference|ubrdecimal:3 }}</div>
  <div class="actions"></div>
</div>
