{% extends "base.html" %}
{% load i18n %}
{% block body_start %}
{{ super }}
<style>
  navbar {
    justify-content: space-between;
  }
  navbar > a {
    background-color: transparent;
    color:white;
    text-decoration: none;
  }
  navbar > a:hover {
    color: #B7DBC1;
    text-decoration: none;
  }
  navbar > span {
    color: white;
  }
</style>
{% endblock body_start %}
{% block open_field_app %}
  <li>
      <a href="javascript:window.open('{% url 'field.project' project.id %}', 'field-app', 'height=700,width=400,location=no,menubar=no,toolbar=no');">
      {% trans 'open field app' %}
      </a>
  </li>
{% endblock %}

{% block title %}
    {% if project.is_template %}
    {% trans 'Templates' %}
    {% else %}
        #{{ project.id }} {{ project.name }}
    {% endif %}
{% endblock title %}

{% block mainmenu %}{% include "main/mainmenu.html" with section='projects' %}{% endblock %}

{% block head_navbar %}
  <span><big>{{ project.name }}</big><small> ({{ project.get_phase_display }})</small></span>
{% endblock %}

{% block content %}
{% endblock %}