{% extends "frame.html" %}
{% load i18n %}

{% block sidebar %}
<ul class="nav nav-sidebar">
  <li class="active"><a href="/">{% trans 'Dashboard' %}</a></li>
  <li><a href="{% url 'projects' %}">{% trans 'Projects' %}</a></li>
  <li><a href="{% url 'directory' %}">{% trans 'Directory' %}</a></li>
</ul>
{% endblock %}

{% block content %}
<h1 class="page-header">Dashboard</h1>

<p>Dashboard screen will have things like:</p>
<ul>
<li>short list of recent/active project this user is working on</li>
<li>documents awaiting approval, invoices needing generated, etc</li>
<li>tasks needing to be done</li>
<li>tasks behind schedule</li>
<li>etc...</li>
</ul>
{% endblock %}