{% load i18n customformatting %}

{% autoescape off %}

  <tr class="bold total line-above">
    <td colspan="5"><p>{% trans "Total without VAT" %}</td>
    <td class="total"><p>{{ estimate_total.net|money }}</td>
  </tr>

  <tr class="bold total">
    <td colspan="5"><p>19,00% {% trans "VAT" %}</td>
    <td><p>{{ estimate_total.tax|money }}</td>
  </tr>

  <tr class="bold total">
    <td colspan="5"><p>{% trans "Total including VAT" %}</td>
    <td><p>{{ estimate_total.gross|money }}</td>
  </tr>

</table>

<p><br></p>

<p>{{ footer|linebreaksbr }}</p>

{% endautoescape %}
