{% load i18n %}

{% autoescape off %}

<p class="address">
{% if address_label %}
  {{ address_label|linebreaksbr }}
{% else %}
  {% if business %}{{ business }}<br>{% endif %}
  {{ salutation }} {{ first_name }} {{ last_name }}<br>
  {{ address }}<br>
  {{ postal_code }} {{ city }}
{% endif %}
</p>

<p class="vspace-50"><br></p>

<table>
  <colgroup>
    <col width="1*">
    <col width="0*">
  </colgroup>
  <tr>
    <td class="header-title">{{ title }}</td>
    <td class="header-date bottom">{{ doc_date }}</td>
  </tr>
</table>

<br>

{% if show_project_id %}
  <p>{% trans "Project" %} #{{ project_id }}</p>
{% endif %}

<p>{{ header|linebreaksbr }}</p>

<br>

<table>

  <colgroup>
    <col width="0*">
    <col width="1*">
    <col width="0*">
    <col width="0*">
    <col width="0*">
    <col width="0*">
  </colgroup>

  <thead>
    <tr>
      <td class="left code">{% trans "Pos." %}</td>
      <td class="left">{% trans "Description" %}</td>
      <td colspan="2" class="right">{% trans "Amount" %}</td>
      <td class="right">{% trans "Price" %}</td>
      <td class="right">{% trans "Total" %}</td>
    </tr>
  </thead>

{% endautoescape %}
