{% load customformatting %}

<p class="lineitems-job">{{ job.code }} {{ job.name }}</p>
<p class="lineitems-task">{{ task.code }} {{ task.name }}</p>
<p>{{ task.description }}</p>

<table>

  <colgroup>
    <col width="1*">
    <col width="0*">
    <col width="0*">
    <col width="0*">
    <col width="0*">
  </colgroup>

  {% for lineitem in task.lineitems %}
  <tr>
    <td class="left"><p>{{ lineitem.name }}</td>
    <td class="right"><p>{{ lineitem.qty|ubrdecimal }}</td>
    <td class="right"><p>{{ lineitem.unit }}</td>
    <td class="right"><p>{{ lineitem.price|money }}</td>
    <td class="right"><p>{{ lineitem.estimate|money }}</td>
  </tr>
  {% endfor %}

  <tr class="lineitems-subtotal">
    <td></td>
    <td class="right"><p>{{ 1|ubrdecimal }}</td>
    <td class="right"><p>{{ task.unit }}</td>
    <td></td>
    <td class="right"><p>{{ task.price|money }}</td>
  </tr>

</table>
