thead {
  font-weight: bold;
  text-align: center;
}

thead:nth-child(n+1) {
  border-bottom-width: 1px;
}

.lineitems-job {
  page-break-before: always;
}

.lineitems-task {
  font-weight: bold;
}

.lineitems-subtotal {
  border-top-width: 1px solid black;
}

.lineitems-subtotal > td {
  font-weight: bold;
}
