{% load i18n customformatting %}

{% autoescape off %}

  <tr>
    <td><p>{{code}}</td>
    <td colspan="5"><p>{{task_name}}</td>
  </tr>

  {% if show_description %}
  <tr>
    <td></td>
    <td colspan="5"><p>{{description}}</td>
  </tr>
  {% endif %}

  {% if qty != None %}
    <tr>
      <td></td>
      <td></td>
      <td class="qty"><p>{{qty|ubrdecimal}}</td>
      <td class="unit"><p>{{unit}}</td>
      <td class="price"><p>{{price|money}}</td>
      <td class="total"><p>{{task_total}}</td>
    </tr>
  {% else %}
    {% for li in lineitems %}
    <tr>
      <td></td>
      <td><p>{{li.name}}</td>
      <td class="qty"><p>{{li.qty|ubrdecimal}}</td>
      <td class="unit"><p>{{li.unit}}</td>
      <td class="price"><p>{{li.price|money}}</td>
      <td class="total"><p>{{li.estimate|money}}</td>
    </tr>
    {% endfor %}
  {% endif %}

{% endautoescape %}
