{% extends "project.html" %}
{% load i18n l10n staticfiles customformatting %}

{% block title %}{{ project.name }} > {{ job.name }}{% endblock %}
{% block head_navbar %}
  <li><a href="{% url 'project.view' project.id %}">{{ project.name }}</a></li>
  <li class="active"><a href="{% url 'tasks' project.id job.id %}">{{ job.name }}</a></li>
{% endblock %}

{% block sidebar %}
  <style>
    @media (max-width: 1269px) {
      .sidebar {
        display: none;
      }

      .main {
        margin-left: 0px;
      }
    }
  </style>
  {% include "project/sidebar.html" with section='jobs' %}
{% endblock %}

{% block content %}
  <style>

    #task-editor {
    }

    .main {
      margin-bottom:250px;
    }

    ubr-taskgroup,
    ubr-task,
    ubr-taskinstance,
    ubr-lineitem {
      display: block;
      position: relative;
    }

    .editor {
      position: relative;
      padding-bottom: 10px;
    }

    .editor-row {
      display: -webkit-flex;
      display: flex;
    }

    /* task group & task */

    .code {
      width: 80px;
      flex-shrink: 0;
      -webkit-flex-shrink: 0;
    }

    .description {
      margin-left: 80px;
      padding-right: 10px;
      width: 612px;
      flex-shrink: 0;
      -webkit-flex-shrink: 0;
    }

    .qty {
      width: 90px;
      text-align: right;
      align-self: flex-end;
      flex-shrink: 0;
      -webkit-flex-shrink: 0;
    }

    .unit {
      width: 90px;
      padding-left: 4px;
      align-self: flex-end;
      flex-shrink: 0;
      -webkit-flex-shrink: 0;
    }

    .price {
      width: 90px;
      text-align: right;
      padding-right: 4px;
      align-self: flex-end;
      flex-shrink: 0;
      -webkit-flex-shrink: 0;
    }

    .total {
      width: 90px;
      font-weight: bold;
      text-align: right;
      padding-right: 4px;
      margin-left: 10px;
      align-self: flex-end;
      flex-shrink: 0;
      -webkit-flex-shrink: 0;
    }

    .labels {
      padding-left: 20px;
      align-self: flex-end;
      flex-shrink: 0;
      -webkit-flex-shrink: 0;
    }

    .labels > .label:hover {
      cursor: pointer;
    }

    .labels > .label.False {
      display: none;
      background-color: #F0F0F0;
    }

    .editor:hover > .editor-row > .labels > .label.False {
      display: inline;
    }

    /* task group */

    ubr-taskgroup > .editor .name {
      font-weight: bold;
      width: 700px;
      flex-shrink: 0;
      -webkit-flex-shrink: 0;
    }

    ubr-taskgroup > .editor .total {
      width: 100px;
      border: 1px solid black;
      background-color: #fff;
      z-index: 2;
      flex-shrink: 0;
      -webkit-flex-shrink: 0;
    }

    ubr-taskgroup:not(.empty) > .editor:after {
      display: block;
      position: absolute;
      content: "";
      border-left: 1px solid #e9e9e9;
      top: 0px;
      bottom: 0px;
      left: 791px;
      z-index: 1;
    }

    /* task */

    ubr-task:not(:last-child):after {
      display: block;
      position: absolute;
      content: "";
      border-left: 1px solid #e9e9e9;
      top: 0px;
      bottom: 0px;
      left: 791px;
      z-index: 1;
    }

    ubr-task > .editor {
      padding-bottom: 0px;
    }

    ubr-task > .editor .code {
      padding-left: 10px;
      flex-shrink: 0;
      -webkit-flex-shrink: 0;
    }

    ubr-task > .editor .name {
      width: 420px;
      flex-shrink: 0;
      -webkit-flex-shrink: 0;
    }

    ubr-task > .editor .price {
      position: relative;
      font-weight: bold;
      border: 1px solid black;
      margin-left: 10px;
      flex-shrink: 0;
      -webkit-flex-shrink: 0;
    }

    ubr-task > .editor .price:before {
      display: block;
      position: absolute;
      content: "x";
      width: 180px;
      height: 1px;
      padding-right: 2px;
      border-top: 1px solid #e9e9e9;
      top: -1px;
      left: -181px;
      color: #e9e9e9;
      font-size: 8px;
      text-align: right;
    }

    ubr-task > .editor .price:after {
      display: block;
      position: absolute;
      content: "=";
      width: 10px;
      padding-left: 2px;
      border-top: 1px solid #e9e9e9;
      top: 1px;
      right: -11px;
      color: #e9e9e9;
      font-size: 8px;
      text-align: left;
    }

    ubr-task > .editor .total {
      width: 100px;
      border: 1px solid #e9e9e9;
      background-color: #fff;
      z-index: 2;
      flex-shrink: 0;
      -webkit-flex-shrink: 0;
    }

    ubr-task > .editor .total:before {
      display: block;
      position: absolute;
      content: "+";
      height: 10px;
      top: -10px;
      color: #e9e9e9;
      font-size: 9px;
      text-align: left;
      padding-left: 2px;
    }

    ubr-task > .editor .description {
      padding-bottom: 15px;
      flex-shrink: 0;
      -webkit-flex-shrink: 0;
    }

    ubr-task:not(.empty) > .editor .description {
      padding-bottom: 20px;
      border-right: 1px solid #e9e9e9;
    }

    /* task instance */

    ubr-taskinstance > .editor .name {
      width: 612px;
      padding-right: 10px;
      flex-shrink: 0;
      -webkit-flex-shrink: 0;
    }

    ubr-taskinstance:nth-of-type(1) > .editor {
      width: 692px;
      border-right: 1px solid #e9e9e9;
    }

    ubr-taskinstance:nth-of-type(1) > ubr-lineitem > .editor .total {
      border: 1px solid #e9e9e9;
    }

    ubr-taskinstance:nth-of-type(1) > ubr-lineitem > .editor .total:before {
      display: block;
      position: absolute;
      content: "+";
      height: 10px;
      border-left: 1px solid #e9e9e9;
      top: -10px;
      color: #e9e9e9;
      font-size: 9px;
      text-align: left;
      padding-left: 2px;
    }

    ubr-taskinstance:last-of-type {
      padding-bottom: 40px;
    }

    ubr-taskinstance:only-of-type > .editor {
      display: none;
    }

    /* line item */

    ubr-lineitem .name {
      width: 310px;
      margin-left: 100px;
      flex-shrink: 0;
      -webkit-flex-shrink: 0;
    }

    ubr-lineitem .price {
      flex-shrink: 0;
      -webkit-flex-shrink: 0;
    }

    ubr-lineitem > a {
      position: absolute;
      top: -150px;
    }

    div[contenteditable][placeholder]:empty:before {
      content: attr(placeholder);
      font-style: italic;
      color: #d9d9d9;
    }

    div[contenteditable][placeholder]:empty:focus:before {
      content: "";
    }

    ubr-autocomplete {
      z-index: 100;
      display: none;
      position: absolute;
      background: white;
      left: 80px;
      width: 480px;
      border: 1px solid lightgrey;
      top: 20px;
      -webkit-transition: top 0.1s;
      -moz-transition: top 0.1s;
      -ms-transition: top 0.1s;
      -o-transition: top 0.1s;
      transition: top 0.1s;
    }

    ubr-autocomplete > div {
      border-bottom: 1px solid lightgrey;
    }

    /*
    ubr-autocomplete > div:hover {
      background: #FFE8D9;
      cursor: pointer;
    }
    */

    ubr-autocomplete > div.active {
      background: orange;
    }

    #mode-selector {
      position: fixed;
      top: 60px;
      right: 10px;
    }

    .editor-hint {
      color: silver;
      font-style: italic;
      font-size: 85%;
      display: none;
      margin-top: 4px;
      margin-left: 80px;
      margin-bottom: 10px;
    }

    .editor-hint > .label-default {
      background-color: silver;
    }

    .editor-hint .hidden {
      display: none;
    }

    ubr-lineitem .editor-hint {
      margin-left: 100px;
    }

    .job-total-row {
      width: 900px;
      margin-bottom: 10px;
    }
    
    .job-total-label {
      width: 780px;
      display: inline-block;
      font-weight: bold;
      text-align: right;
    }

    .job-total, .job-total-gross {
      text-align: right;
      display: inline-block;
      border-top: 2px solid black;
      font-weight: bold;
      margin-left: 10px;
      width: 100px;
    }


  </style>

  <div id="mode-selector" class="btn-group-vertical" data-toggle="buttons">
    <label id="input-task-mode" class="btn btn-default btn-sm"
           title="{% trans "Stops indenting at the tasks level." %}">
      <input type="radio" name="input-mode"><span class="glyphicon glyphicon-step-forward"></span>
    </label>
    <label id="input-lineitem-mode" class="btn btn-default btn-sm active"
           title="{% trans 'Stops indenting at line items level.' %}">
      <input type="radio" name="input-mode"><span class="glyphicon glyphicon-fast-forward"></span>
    </label>
  </div>

  <ubr-job id="task-editor"
           data-pk="{{ job.pk }}"
           data-code="{{ job.code }}"
           data-taskgroup-offset="{{ job.taskgroup_offset }}"
           data-taskgroup-zfill="{{ project.taskgroup_zfill }}"
           data-task-zfill="{{ project.task_zfill }}">

    {% for group in object_list %}
      {% include "task/taskgroup_loop.html" with group=group %}
    {% empty %}
      {% include "task/taskgroup_loop.html" with group=blank_taskgroup %}
    {% endfor %}

    <div class="job-total-row">
      <div class="job-total-label">{% trans 'Total' %}</div>
      <div class="job-total">{{ job_total_net|ubrdecimal }}</div>
    </div>

    <div class="job-total-row">
      <div class="job-total-label">{% trans 'incl. tax' %} {{ tax_rate_percent|localize }}%</div>
      <div class="job-total-gross" data-tax-rate="{{ tax_rate }}">{{ job_total_gross|ubrdecimal }}</div>
    </div>
  </ubr-job>

  <template id="taskgroup-template">
    {% include "task/taskgroup_editor.html" with group=blank_taskgroup %}
  </template>

  <template id="task-template">
    {% include "task/task_editor.html" with task=blank_task %}
  </template>

  <template id="taskinstance-template">
    {% include "task/taskinstance_editor.html" with task=blank_taskinstance %}
  </template>

  <template id="lineitem-template">
    {% include "task/lineitem_editor.html" with lineitem=blank_lineitem %}
  </template>

{% endblock content %}

{% block extra_js %}
  <script type="application/dart" src="{% static "dart/editor.dart" %}"></script>
  <script src="{% static "dart/packages/web_components/webcomponents.min.js" %}"></script>
  <script src="{% static "dart/packages/web_components/dart_support.js" %}"></script>
  <script src="{% static "dart/packages/browser/dart.js" %}"></script>
{% endblock extra_js %}
