{% load i18n customformatting %}
<a name="lineitem-{{ lineitem.id }}"></a>
<div class="editor">
  <div class="editor-row">
    <div class="name" placeholder="{% trans 'line item' %}" contenteditable>{{ lineitem.name|safe }}</div>
    <div class="qty" placeholder="{% trans 'qty' %}" contenteditable>{{ lineitem.unit_qty|ubrdecimal }}</div>
    <div class="unit" placeholder="{% trans 'unit' %}" contenteditable>{{ lineitem.unit }}</div>
    <div class="price" placeholder="{% trans 'price' %}" contenteditable>{{ lineitem.price|ubrdecimal }}</div>
    <div class="total">{{ lineitem.price_per_task_unit|ubrdecimal:3 }}</div>
    <div class="labels">
      <span class="is_flagged {{ lineitem.is_flagged }} label label-danger">{% trans 'Flag' %}</span>
    </div>
  </div>
  <div class="editor-hint">
    {% trans '<span class="label label-default">shift</span> <span class="label label-default">del</span> delete this item' %}
    <br>
    {% trans '<span class="label label-default">shift</span> <span class="label label-default">enter</span> <span class="blank">create a new Task Instance</span><span class="non-blank">create a new Line Item</span>' %}
  </div>
</div>