{% load i18n customformatting %}
<div class="editor">
  <div class="editor-row">
    <div class="code">{{ task.code }}</div>
    <div class="name" placeholder="{% trans 'task' %}" contenteditable>{{ task.name|safe }}</div>
    <div class="qty" placeholder="{% trans 'qty' %}" contenteditable>{{ task.qty|ubrdecimal }}</div>
    <div class="unit" placeholder="{% trans 'unit' %}" contenteditable>{{ task.unit }}</div>
    <div class="price">{{ task.unit_price|ubrdecimal:3 }}</div>
    <div class="total">{{ task.fixed_price_estimate|ubrdecimal:3 }}</div>
    <div class="labels">
      <span class="is_optional {{ task.is_optional }} label label-primary">{% trans 'Optional' %}</span>
    </div>
  </div>
  <div class="editor-hint">
    {% trans '<span class="label label-default">shift</span> <span class="label label-default">del</span> delete this item' %}
    <br>
    {% trans '<span class="label label-default">shift</span> <span class="label label-default">enter</span> new Line Item' %}
    <br>
    {% trans '<span class="label label-default">shift</span> <span class="label label-default">alt</span> + <span class="label label-default">enter</span> new Task Instance' %}
  </div>
  <div class="description" placeholder="{% trans 'description' %}" contenteditable>{{ task.description|safe }}</div>
</div>