{% extends "frame.html" %}
{% load i18n bootstrap %}

{% block menu_dropdown %}{% include "main/menu_dropdown.html" with section='accounts' %}{% endblock %}

{% block content %}
  <form role="form" method="post">
      {% csrf_token %}
      {% if not form.fields.code %}
        <p><label for="id_code">Code:</label> {{ form.instance.code }}</p>
      {% endif %}
      {{ form|bootstrap }}
      <div class="form-group">
        <button type="submit" class="btn btn-primary" value="{% trans 'Save' %}">{% trans 'Save' %}</button>
      </div>
  </form>
{% endblock %}