{% extends "project.html" %}
{% load i18n l10n staticfiles bootstrap customformatting ubrutils amount %}

{% block sidebar %}{% include "project/sidebar.html" with section='invoices' %}{% endblock %}

{% block content %}
  <form method="post" autocomplete="off">{% csrf_token %}

    <h2 class="sub-header">
      {% trans "Adjustments & Corrections" %}
      <div class="btn-group" role="group">
        {% if not form.instance.invoice %}
        <button type="button" class="btn btn-default" id="match-overpaid">{% trans "Match Overpaid" %}</button>
        <button type="button" class="btn btn-default" id="match-underpaid">{% trans "Match Underpaid" %}</button>
        <button type="button" class="btn btn-default" id="match-overbilled">{% trans "Match Overbilled" %}</button>
        {% endif %}
        <button type="button" class="btn btn-default" id="reset-adjustments">{% trans "Reset" %}</button>
      </div>
    </h2>

    <style>
      .job-paid,
      .job-invoiced,
      .job-progress,
      .job-adjustment,
      .job-corrected {
        text-align: right;
      }
      .job-name {
        border-right: 2px solid #ddd;
      }
      .adjustment-table-totals {
        font-weight: bold;
      }
    </style>

    <div class="form-group {% if form.formset.non_form_errors %}has-error{% endif %}">
    {{ form.formset.management_form }}
    <table is="adjustment-table" class="table table-striped" data-tax-rate="{{ TAX_RATE }}">
      <thead>
      <tr>
        <th class="job-name">{% trans 'Job' %}</th>
        {% if not form.instance.invoice %}
        <th class="job-paid">{% trans 'Paid' %}</th>
        {% endif %}
        <th class="job-invoiced">
          {% if form.instance.invoice %}
            {% trans 'Invoice' %} {{ form.instance.invoice.invoice_no }}
          {% else %}
            {% trans 'Invoiced' %}
          {% endif %}
        </th>
        {% if not form.instance.invoice %}
        <th class="job-progress">{% trans 'Progress' %}</th>
        {% endif %}
        <th class="job-adjustment">{% trans 'Adjustment' %}</th>
        <th class="job-corrected">{% trans 'Corrected' %}</th>
      </tr>
      </thead>
      <tbody>
      {% for adjustment in form.formset %}
        <tr is="adjustment-row" class="adjustment-row">
          <td class="job-name">{{ adjustment.job_id }}{{ adjustment.initial.job.name }}</td>
          {% if not form.instance.invoice %}
          {% amount_view "job-paid clickable" adjustment.pre_txn "paid" select_if_equal=adjustment.corrected_amount %}
          {% endif %}
          {% amount_view "job-invoiced clickable" adjustment.pre_txn "invoiced" select_if_equal=adjustment.corrected_amount %}
          {% if not form.instance.invoice %}
          {% amount_view "job-progress clickable" adjustment.pre_txn "progress" select_if_equal=adjustment.corrected_amount %}
          {% endif %}
          {% amount_input "job-adjustment" adjustment "adjustment" %}
          {% amount_input "job-corrected" adjustment "corrected" %}
        </tr>
      {% endfor %}
        <tr class="adjustment-table-totals">
          <td class="job-name"></td>
          {% if not form.instance.invoice %}
          {% amount_view "job-paid" form "pre_txn_paid_total" %}
          {% endif %}
          {% amount_view "job-invoiced" form "pre_txn_invoiced_total" %}
          {% if not form.instance.invoice %}
          {% amount_view "job-progress" form "pre_txn_progress_total" %}
          {% endif %}
          {% amount_view "job-adjustment" form "adjustment_total" %}
          {% amount_view "job-corrected" form "corrected_total" %}
        </tr>
      </tbody>
    </table>
    {% for error in form.formset.non_form_errors %}
      <span class="help-block ">{{ error }}</span>
    {% endfor %}
    </div>

    <h2 class="sub-header">{% trans "Adjustment Document" %}</h2>
    {{ form.document_date|bootstrap }}
    {{ form.title|bootstrap }}
    {{ form.header|bootstrap }}
    {{ form.footer|bootstrap }}
    {{ form.notes|bootstrap }}

    <div class="form-group">
      <button name="save" type="submit" class="btn btn-primary" value="{% trans 'Save' %}">{% trans 'Save' %}</button>
    </div>
  </form>
{% endblock %}

{% block extra_js %}
  <script type="application/dart" src="{% static "dart/adjustment_editor.dart" %}"></script>
  <script src="{% static "dart/packages/web_components/webcomponents.min.js" %}"></script>
  <script src="{% static "dart/packages/web_components/dart_support.js" %}"></script>
  <script src="{% static "dart/packages/browser/dart.js" %}"></script>
{% endblock extra_js %}
