{% load i18n customformatting %}
<td is="amount-input" class="{{ css_class }}" data-tax-rate="{{ TAX_RATE }}">
  <input class="amount-gross" type="text" value="{{ amount.gross|ubrdecimal:2 }}"><br/>
  <input class="amount-net" placeholder="{% trans "net" %}" id="{{ net.id_for_label }}" name="{{ net.html_name }}" type="text" value="{% if amount.net > 0 %}{{ amount.net|ubrdecimal:2 }}{% endif %}"><input class="amount-tax" placeholder="{% trans "tax" %}" id="{{ tax.id_for_label }}" name="{{ tax.html_name }}" type="text" value="{% if amount.tax > 0 %}{{ amount.tax|ubrdecimal:2 }}{% endif %}">
</td>
