{% extends "project.html" %}
{% load i18n l10n customformatting %}

{% block sidebar %}{% include "main/sidebar.html" with section='invoices' %}{% endblock %}

{% block content %}

  <h2>{% trans 'Invoices' %}</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>{% trans "Project" %}</th>
        <th>{% trans "Progress" %}</th>
        <th>{% trans "Payments" %}</th>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Invoice No." %}</th>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Amount" %}</th>
        <th>{% trans "Parent" %}</th>
      </tr>
      </thead>
      <tbody>
      {% for month, details in invoice_groups.items %}
        <tr><td colspan="8" class="bg-primary">{{ month|date:"Y - F" }}</td></tr>
        {% for invoice in details.invoices %}
          <tr>
            <td><a href="{{ invoice.project.get_absolute_url }}">{{ invoice.project }}</a></td>
            <td style="text-align:right;">{{ invoice.json.invoiced.gross|money }}</td>
            <td style="text-align:right;">{{ invoice.json.paid.negate.gross|money }}</td>
            <td>{{ invoice.document_date }}</td>
            <td><a href="{% url "invoice.pdf" invoice.project.id "email" invoice.id %}">{{ invoice.invoice_no }}</a></td>
            <td>{{ invoice.get_status_display }}</td>
            <td style="text-align:right;"><b>{{ invoice.json.debit.gross|money }}</b></td>
            <td>{% if invoice.parent %}<span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ invoice.parent.invoice_no }}{% else %}---{% endif %}</td>
          </tr>
        {% endfor %}
          <tr>
            <td colspan="6" style="text-align:right;">Summe {{ month|date:"F" }}:</td><td style="text-align:right;">{{ details.debit.gross|money }}</td><td></td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}