{% load i18n customformatting amount %}
<div class="panel panel-{% if invoice.status == invoice.DRAFT %}primary{% elif invoice.status == invoice.SENT %}info{% else %}success{% endif %} invoice">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-4">{{ invoice.invoice_no }}</div>
      <div class="col-md-4 text-center">{{ invoice.get_status_display }}</div>
      <div class="col-md-4 text-right">{{ invoice.document_date }}</div>
    </div>
  </div>
  <table class="table">
  {% for job in invoice.json.jobs %}
    <tr>
      <td>
        {% if job.is_itemized %}
          <span class="glyphicon glyphicon-list"></span>
        {% else %}
          <span class="glyphicon glyphicon-tag"></span>
        {% endif %}
      </td>
      <td>{{ job.name }}</td>
      <td style="text-align: right; white-space: nowrap;">{{ job.debit.net|money }}</td>
      <td style="text-align: right; white-space: nowrap;">{% if job.adjustment %}{% amount_diff_part job.adjustment 'net' %}{% endif %}</td>
    </tr>
  {% endfor %}
    <tr style="text-align: right; white-space: nowrap;">
      <td colspan="2">{% trans "Net" %}:</td>
      <td style="text-align: right; white-space: nowrap;">{{ invoice.json.debit.net|money }}</td>
      <td style="text-align: right; white-space: nowrap;">{% if invoice.json.adjustment %}{% amount_diff_part invoice.json.adjustment 'net' %}{% endif %}</td>
    </tr>
    <tr style="text-align: right; white-space: nowrap;">
      <td colspan="2">{% trans "VAT" %} {{ TAX_RATE_DISPLAY }}:</td>
      <td style="text-align: right; white-space: nowrap;">{{ invoice.json.debit.tax|money }}</td>
      <td style="text-align: right; white-space: nowrap;">{% if invoice.json.adjustment %}{% amount_diff_part invoice.json.adjustment 'tax' %}{% endif %}</td>
    </tr>
    <tr style="text-align: right; white-space: nowrap;">
      <td colspan="2">{% trans "Gross" %}:</td>
      <td name="debit_gross" style="font-weight: bold; text-align: right; white-space: nowrap;">{{ invoice.json.debit.gross|money }}</td>
      <td style="text-align: right; white-space: nowrap;">{% if invoice.json.adjustment %}{% amount_diff_part invoice.json.adjustment 'gross' %}{% endif %}</td>
    </tr>
    {% if invoice.json.payment %}
    <tr style="text-align: right; white-space: nowrap;">
      <td colspan="2" class="text-success">{% trans "Paid" %}:</td>
      <td name="paid" class="text-success" style="font-weight: bold; text-align: right; white-space: nowrap;">{{ invoice.json.payment.gross|money }}</td>
      <td></td>
    </tr>
    {% endif %}
  </table>
  <div class="panel-footer" style="text-align: right;">
    {% if invoice.status == invoice.DRAFT %}
    <a class="btn btn-sm btn-default pull-left" href="{% url 'invoice.delete' project.id invoice.id %}">{% trans "Delete" %}</a>
    {% endif %}
    {% for state in invoice.get_available_status_transitions %}
      {% if state.name == 'pay' %}

        <a name="status_button" class="btn btn-sm btn-default"
        {% if invoice.adjustment %}
          href="{% url 'adjustment.update' project.id invoice.adjustment.id %}"{% else %}
          href="{% url 'adjustment.create' project.id invoice.id %}"{% endif %}
        >{% trans 'Adjust' %}</a>

        <a name="status_button" class="btn btn-sm btn-default"
        {% if invoice.payment %}
          href="{% url 'payment.update' project.id invoice.payment.id %}"{% else %}
          href="{% url 'payment.create' project.id invoice.id %}"{% endif %}
        >{{ state.custom.label }}</a>

      {% else %}

        <a name="status_button" class="btn btn-sm btn-default" href="{% url 'invoice.transition' project.id invoice.id state.name %}">{{ state.custom.label }}</a>

      {% endif %}
    {% endfor %}
    {% if invoice.status == invoice.DRAFT %}
    <a class="btn btn-sm btn-default" href="{% url 'invoice.update' project.id invoice.id %}">{% trans "Edit" %}</a>
    {% endif %}
    <div class="btn-group">
      <a target="_blank" class="btn btn-sm btn-default" href="{% url 'invoice.pdf' project.id 'print' invoice.id %}">{% trans 'PDF' %}</a>
      <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a target="_blank" href="{% url 'invoice.pdf' project.id 'email' invoice.id %}">{% trans 'Email' %}</a></li>
        <li><a target="_blank" href="{% url 'invoice.pdf' project.id 'email' invoice.id %}?payment_details=1">{% trans 'Email w/ Payment Details' %}</a></li>
        <li><a target="_blank" href="{% url 'invoice.pdf' project.id 'email' invoice.id %}?lineitem_details=1">{% trans 'Email w/ Line Items' %}</a></li>
        <li><a target="_blank" href="{% url 'invoice.pdf' project.id 'print' invoice.id %}">{% trans 'Print' %}</a></li>
        <li><a target="_blank" href="{% url 'invoice.pdf' project.id 'print' invoice.id %}?payment_details=1">{% trans 'Print w/ Payment Details' %}</a></li>
        <li><a target="_blank" href="{% url 'invoice.pdf' project.id 'print' invoice.id %}?lineitem_details=1">{% trans 'Print w/ Line Items' %}</a></li>
      </ul>
    </div>
  </div>
</div>