{% extends "project.html" %}
{% load i18n bootstrap customformatting %}

{% block sidebar %}{% include "project/sidebar.html" with section='invoices-and-payments' %}{% endblock %}

{% block content %}
  <form method="post">{% csrf_token %}

    {{ form|bootstrap }}

    <div class="form-group {% if split.non_form_errors %}has-error{% endif %}">
    {{ split.management_form }}
    <table class="table table-striped">
      <thead>
      <tr>
        <th>{% trans 'Job' %}</th>
        <th style="text-align: right;">{% trans 'Balance' %}</th>
        <th style="text-align: right;">{% trans 'Credit' %}</th>
        <th>{% trans 'Is Discounted?' %}</th>
      </tr>
      </thead>
      <tbody>
      {% for form in split %}
        <tr>
          <td>{{ form.job }}{{ form.initial.job.name }}</td>
          <td style="text-align: right;">{{ form.initial.job.account.balance|money }}</td>
          <td style="text-align: right;" data-balance="{{ form.initial.job.account.balance }}">{{ form.amount }}</td>
          <td>{{ form.discount }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% for error in split.non_form_errors %}
      <span class="help-block ">{{ error }}</span>
    {% endfor %}
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" value="{% trans 'Save' %}">{% trans 'Save' %}</button>
    </div>
  </form>
{% endblock %}