{% extends "project.html" %}
{% load i18n staticfiles bootstrap customformatting ubrutils %}

{% block sidebar %}{% include "project/sidebar.html" with section='invoices' %}{% endblock %}

{% block content %}
  <form method="post">{% csrf_token %}

    {{ form.payment_form|bootstrap }}

    <style>
      .numeric-column {
        text-align: right;
      }
    </style>

    <div class="form-group {% if form.non_form_errors %}has-error{% endif %}">
    {{ form.management_form }}
    <table class="table table-striped">
      <thead>
      <tr>
        <th>{% trans 'Job' %}</th>
        <th class="numeric-column">{% trans 'Starting Balance' %}</th>
        <th class="numeric-column">{% trans 'Payment' %}</th>
        <th class="numeric-column">{% trans 'Discount' %}</th>
        <th class="numeric-column">{% trans 'Adjustment' %}</th>
      </tr>
      </thead>
      <tbody>
      {% for split in form.forms %}
        <tr>
          <td>{{ split.job }}{{ split.initial.job.name }}</td>
          <td class="numeric-column">{{ split.initial.job.account.balance|money }}</td>
          <td class="numeric-column split-input"
              data-balance="{{ split.initial.job.account.balance }}"
              data-ratio="{{ split.initial.job.account.balance|divide:project.balance }}">
            {{ split.amount }}
          </td>
          <td class="numeric-column">{{ split.discount }}</td>
          <td class="numeric-column">{{ split.adjustment }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% for error in form.non_form_errors %}
      <span class="help-block ">{{ error }}</span>
    {% endfor %}
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" value="{% trans 'Save' %}">{% trans 'Save' %}</button>
    </div>
  </form>
{% endblock %}

{% block extra_js %}
  <script type="application/dart" src="{% static "dart/split_payment.dart" %}"></script>
  <script src="{% static "dart/packages/web_components/webcomponents.min.js" %}"></script>
  <script src="{% static "dart/packages/web_components/dart_support.js" %}"></script>
  <script src="{% static "dart/packages/browser/dart.js" %}"></script>
{% endblock extra_js %}
