{% extends "project.html" %}
{% load i18n static bootstrap customformatting ubrutils amount %}

{% block head %}
  {{ block.super }}
  {{ form.media.css }}
{% endblock %}

{% block sidebar %}{% include "project/sidebar.html" with section='invoices' %}{% endblock %}

{% block content %}
  <form method="post" autocomplete="off">{% csrf_token %}

    <h2 class="sub-header">{% trans "Calculate & Apply Refund" %}</h2>

    {% if form.invoice.id %}
      <div class="form-group">
        <label class="control-label">{% trans "Invoice" %}</label>
        <div>{{ form.invoice.json.invoice_no }} {{ form.invoice.json.title }}</div>
      </div>
    {% endif %}

    <style>
      .job-paid,
      .job-invoiced,
      .job-progress,
      .job-refund,
      .job-credit {
        text-align: right;
      }
      .job-paid {
        border-left: 2px solid #ddd;
      }
      .refund-table-totals {
        font-weight: bold;
      }
    </style>

    <div class="form-group {% if form.formset.non_form_errors %}has-error{% endif %} table-responsive">
    {{ form.formset.management_form }}
    <table is="refund-table" class="table table-striped" data-tax-rate="{{ TAX_RATE|ubrdecimal:2 }}">
      <thead>
      <tr>
        <th class="job-name">{% trans 'Job' %}</th>
        <th class="job-paid">{% trans 'Paid' %}</th>
        <th class="job-invoiced">{% trans 'Invoiced' %}</th>
        <th class="job-progress">{% trans 'Progress' %}</th>
        <th class="job-refund">{% trans 'Refund' %}</th>
        <th class="job-credit">{% trans 'Apply Refund' %}</th>
      </tr>
      </thead>
      <tbody>
      {% for refund in form.formset %}
        <tr is="refund-row" class="refund-row">
          <td class="job-name">{{ refund.job_id }}{{ refund.initial.job.name }}</td>
          {% amount_view "job-paid clickable" refund.pre_txn "paid" %}
          {% amount_view "job-invoiced" refund.pre_txn "invoiced" %}
          {% amount_view "job-progress" refund.pre_txn "progress" %}
          {% amount_input "job-refund" refund "refund" %}
          {% amount_input "job-credit" refund "credit" %}
        </tr>
      {% endfor %}
        <tr class="refund-table-totals">
          <td class="job-name"></td>
          {% amount_view "job-paid" form "pre_txn_paid_total" %}
          {% amount_view "job-invoiced" form "pre_txn_invoiced_total" %}
          {% amount_view "job-progress" form "pre_txn_progress_total" %}
          {% amount_view "job-refund" form "refund_total" %}
          {% amount_view "job-credit" form "credit_total" %}
        </tr>
      </tbody>
    </table>
    {% for error in form.formset.non_form_errors %}
      <span class="help-block ">{{ error }}</span>
    {% endfor %}
    </div>

    <style>
    .table-nonfluid {
      width: auto !important;
    }
    </style>
    <h2 class="sub-header">{% trans "Issue Refund" %}</h2>
    <div class="form-group">
      <label class="control-label">{% trans 'Customer Refund' %}</label>
      <table class="table table-nonfluid">
        <tr>{% amount_view "issue-refund" form "customer_refund" %}</tr>
      </table>
    </div>
    {% bootstrap form %}

    <div class="form-group">
      <button name="save" type="submit" class="btn btn-primary" value="{% trans 'Save' %}">{% trans 'Save' %}</button>
    </div>
  </form>
{% endblock %}

{% block extra_js %}
  {{ form.media.js }}
  {% fieldinit form %}
  <script src="{% static "/dart/build/refund_editor.dart.js" %}"></script>
{% endblock extra_js %}
