{% load i18n dartium %}
{% csrf_token %}

<style type="text/css">
  #timer-box { font-size: 300%; display: inline-block; }
  #timer-toggle { position: relative; top: -10px; }
</style>

<div id="timer-box">{{ timetracking_timer_duration }}</div>
<button type="button" class="btn btn-default" id="timer-toggle" value="Start">
<span class="glyphicon glyphicon-play"></span>
<span class="btn-label"
  data-label-stopped="{% trans 'Paused' %}"
  data-label-geolocating="{% trans 'Geolocating...' %}"
  data-label-running="{% trans 'Running' %}">{% trans 'Paused' %}</span>
</button>

{% block extra_js %}
  {% dart "timetracking.dart" %}
{% endblock extra_js %}
