{% extends "frame.html" %}
{% load i18n static bootstrap customformatting %}

{% block head %}
{{ block.super }}
<style type="text/css">
  tr.timetracking-enter-form.hidden-box td {
    opacity: 0;
    height: 1px;
    margin-top: -8px;
    padding: 0;
  }
  tr.timetracking-enter-form.hidden-box div {
    display: none;
  }
  tr.timetracking-enter-form:not(.hidden-box) td {
    opacity: 1;
    height: 30px;
    background-color: inherit;
    transition: all 0.3s ease 0.1s;
    margin-top: 8px;
    padding: 8px;
  }
  tr.timetracking-enter-form.hidden-box:not(.hidden-box) div {
    display: default;
  }
  #timetracking-report td.user {
    width: 18%;
  }
  #timetracking-report .progress {
    min-width: 600px;
  }
</style>
{{ form.media.css }}
{% endblock head %}

{% block menu_dropdown %}{% include "main/menu_dropdown.html" with section='timetracking' %}{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
        {% trans "Time Report for" %} {{ report_period|date:"j F Y" }}
    </h3>
  </div>
  <div class="panel-body">
    <form class="form-inline" method="GET">
    <label for="timetracking-report-period">Period:</label>{{ period_form|bootstrap_inline }}
      <div class="form-group">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">{% trans "Show" %}</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
      <form class="form-inline" method="POST">
      {% csrf_token %}
      {{ form|bootstrap_inline }}
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
          </div>
        </div>
      </form>
    </div>
    <table id="timetracking-report" class="table table-striped table-bordered">
      <tr>
        <th>{% trans "User" %}</th>
        <th>{% trans "Timer" %}</th>
        <th>{% trans "Total" %}</th>
      </tr>
      {% for worker, day in report.items %}
      <tr>
        <td class="user">
          <a href="{% url 'timetracking_worker' worker.pk %}">{{ worker.get_full_name }}</a>
        </td>
          <td>
            <div class="progress">
              {% for timer in day.timers %}
                {% include "timetracking/timer.html" with timer=timer %}
              {% endfor %}
            </div>
          </td>
        <td>{{ day.total|hours }}</td>
      </tr>
      {% empty %}
        {% trans "No users" %}
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}

{% block extra_js %}
  {{ form.media.js }}
  <script>
  {% autoescape off %}
  {{ period_form.fields.period.widget.init_javascript }}
  {{ form.fields.started.widget.init_javascript }}
  {{ form.fields.stopped.widget.init_javascript }}
  {% endautoescape %}
  </script>
{% endblock %}
