{% load i18n dartium customformatting %}
{% csrf_token %}

<style type="text/css">
  #timer-digits {
    font-family: monospace;
    font-size: 300%;
    display: inline-block;
  }
  #timer-toggle {
    position: relative;
    top: -10px;
  }
</style>

<timer-widget
  data-running="{% if timer %}true{% endif %}"
  data-seconds="{% if timer %}{{ timer.running_duration_seconds }}{% else %}0{% endif %}">
<div id="timer-digits">{% if timer %}{{ timer.running_duration|hours }}{% else %}-:--{% endif %}</div>
<button type="button" class="btn btn-default" id="timer-toggle">
<span class="glyphicon glyphicon-{% if timer %}pause{% else %}play{% endif %}"></span>
<span class="btn-label"
  data-started="{% trans 'Running' %}"
  data-start-failed="{% trans 'Could not start timer.' %}"
  data-stopped="{% trans 'Stopped' %}"
  data-stop-failed="{% trans 'Could not stop timer.' %}">
  {% if timer %}
  {% trans 'Running' %}
  {% else %}
  {% trans 'Stopped' %}
  {% endif %}
</span>
</button>
</timer-widget>

{% block extra_js %}
  {% dart "timetracking.dart" %}
{% endblock extra_js %}
