{% load i18n %}
<hr>
<div class="progress">
  <div class="progress-bar timer-bar-work" style="width: 16.6666666666667%">
    {% trans "Work" %}
  </div>
    <div class="progress-bar timer-bar-vacation" style="width: 16.6666666666667%">
    {% trans "Vacation" %}
  </div>
    <div class="progress-bar timer-bar-sick" style="width: 16.6666666666667%">
    {% trans "Sick" %}
  </div>
    <div class="progress-bar timer-bar-public-holiday" style="width: 16.6666666666667%">
    {% trans "Public holiday" %}
  </div>
    <div class="progress-bar timer-bar-paid-leave" style="width: 16.6666666666667%">
    {% trans "Paid leave" %}
  </div>
    <div class="progress-bar timer-bar-unpaid-leave" style="width: 16.6666666666667%">
    {% trans "Unpaid leave" %}
  </div>
</div>