{% load customformatting %}
<div class="progress-bar
  {% if timer.kind == timer.WORK %} progress-bar-success
  {% elif timer.kind == timer.BREAK %} progress-bar-info progress-bar-striped
  {% else %} progress-bar-warning
  {% endif %}"
  role="progressbar"
  style="width: {{ timer.running_duration }}px">
  {{ timer.started|time:"H:i" }}
  {% if forloop.last %}
    - {{ timer.stopped|time:"H:i" }}
  {% endif %}
  {% if timer.kind != timer.BREAK %}
    ({{ timer.running_duration|hours }})
  {% endif %}
  {% if can_delete and timer.kind != timer.BREAK %}
  <a href="{% url 'timer.delete' timer.pk %}">
    <span class="glyphicon glyphicon-trash" aria-hidden="true" style="top:2px;"></span>
  </a>
  {% endif %}
</div>
