{% extends "frame.html" %}
{% load i18n dartium bootstrap customformatting %}

{% block head %}
{{ block.super }}
<style type="text/css">
  tr.timetracking-enter-form.hidden-box td {
    opacity: 0;
    height: 1px;
    margin-top: -8px;
    padding: 0;
  }
  tr.timetracking-enter-form.hidden-box div {
    display: none;
  }
  tr.timetracking-enter-form:not(.hidden-box) td {
    opacity: 1;
    height: 30px;
    background-color: inherit;
    transition: all 0.3s ease 0.1s;
    margin-top: 8px;
    padding: 8px;
  }
  tr.timetracking-enter-form.hidden-box:not(.hidden-box) div {
    display: default;
  }
  #timetracking-report td.user {
    width: 18%;
  }
  #timetracking-report .progress {
    min-width: 600px;
  }
  .table > tbody > tr > td:not(:first-of-type) {
    text-align: center;
  }
</style>
{{ form.media.css }}
{{ period_form.media.css }}
{% endblock head %}

{% block menu_dropdown %}{% include "main/menu_dropdown.html" with section='timetracking' %}{% endblock %}

{% block content %}
  <h2 class="sub-header">{% trans "Vacation Schedule" %}</h2>
  <p>{% trans "Prediction of holiday consumption (in Days)." %}</p>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>{% trans "Worker" %}</th>
        <th>{% trans 'Jan' %}</th>
        <th>{% trans 'Feb' %}</th>
        <th>{% trans 'Mar' %}</th>
        <th>{% trans 'Apr' %}</th>
        <th>{% trans 'May' %}</th>
        <th>{% trans 'Jun' %}</th>
        <th>{% trans 'Jul' %}</th>
        <th>{% trans 'Aug' %}</th>
        <th>{% trans 'Sep' %}</th>
        <th>{% trans 'Oct' %}</th>
        <th>{% trans 'Nov' %}</th>
        <th>{% trans 'Dec' %}</th>
        <th>{% trans 'Total' %}</th>
        <th>{% trans 'Available' %}</th>
      </tr>
      </thead>
      <tbody>
      {% for worker, durations in object_list.items %}
      <tr>
        <td><nobr>{{ worker }}</nobr></td>
        {% for month, duration in durations.items %}
          {% if forloop.last %}
            <td><b>{{ duration|workdays }}</b></td>
          {% else %}
            <td>{{ duration|workdays:False }}</td>
          {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block extra_js %}
{% endblock %}
