{% extends "field/base.html" %}
{% load i18n staticfiles ubrutils %}

{% block container %}

  <style>
    html {
      min-height: 100%;
    }

    body {
      background-image: url("{% random_image "img/bg_img/" %}");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .container {
      padding: 15px;
      margin: 100px auto 0px auto;
      background-color: rgba(255, 255, 255, 0.9);;
      border-radius: 6px;
    }

    .form-signin {
      max-width: 330px;
    }

    .form-signin .form-signin-heading {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .form-signin .form-control {
      position: relative;
      height: auto;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px;
      font-size: 16px;
    }

    .form-signin .form-control:focus {
      z-index: 2;
    }

    .form-signin input[type="text"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  </style>

  <div class="container">
  {% block content %}{% endblock %}
  </div>

{% endblock %}