{% extends "account/base.html" %}
{% load i18n staticfiles ubrutils account socialaccount %}

{% block content %}

  <style>
    .container {
      max-width: 330px;
    }

    .form-signin .form-signin-heading {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .form-signin .form-control {
      position: relative;
      height: auto;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px;
      font-size: 16px;
    }

    .form-signin .form-control:focus {
      z-index: 2;
    }

    .form-signin input[type="text"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  </style>

  {% get_providers as socialaccount_providers %}

    <form class="form-signin" method="post" action="{% url 'account_login' %}">{% csrf_token %}

    {% if socialaccount_providers %}
      <p>{% blocktrans with site.name as site_name %}Please sign in with one
        of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
        for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
      <div class="socialaccount_ballot">
        <ul class="socialaccount_providers">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>
        <div class="login-or">{% trans 'or' %}</div>
      </div>
      {% include "socialaccount/snippets/login_extra.html" %}
    {% endif %}

      <h2 class="form-signin-heading"><img src="{% static "img/sys_logo_landscape3.svg" %}" height="70px"></h2>
      {% if form.errors %}
        <p>{% trans "Your username and password didn't match. Please try again." %}</p>
      {% endif %}
      <label for="input_username" class="sr-only">{{ form.login.label }}</label>
      <input type="text" id="input_username" class="form-control" placeholder="{{ form.login.label }}"
             name="{{ form.login.html_name }}" value="{% if form.login.value %}{{ form.login.value }}{% endif %}" required autofocus>
      <label for="input_password" class="sr-only">{{ form.password.label }}</label>
      <input type="password" id="input_password" class="form-control" placeholder="Password"
             name="{{ form.password.html_name }}" required>
      {{ form.remember.label_tag }} {{ form.remember }}
      <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Sign in' %}</button>
      <a class="btn btn-lg btn-primary btn-block" href="{% url 'account_signup' %}">{% trans 'Register' %}</a>
      <a class="btn" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
    </form>

{% endblock %}