{% load i18n %}

{% autoescape off %}

<p class="address">
{% if invoice.address_label %}
  {{invoice.address_label|linebreaksbr}}
{% else %}
  {% if invoice.business %}{{invoice.business}}<br />{% endif %}
  {{invoice.salutation}} {{invoice.first_name}} {{invoice.last_name}}<br />
  {{invoice.address}}<br />
  {{invoice.postal_code}} {{invoice.city}}
{% endif %}
</p>

<p class="vspace-50"><br></p>

<table>
  <tr>
    <td class="header-title">{% if invoice.title %}{{invoice.title}}{% else %}{% trans "Invoice" %}{% endif %}</td>
    <td class="bottom header-date">{{invoice_date}}</td>
  </tr>
</table>

<p class="right">{% trans "Invoice No." %} {{invoice.invoice_no}}</p>
<p class="right invoice-no-fine-print">{% trans "Please indicate the correct invoice number on your payment." %}</p>

{% if invoice.show_project_id %}
  <p>{% trans "Project" %} #{{invoice.project_id}}</p>
{% endif %}

{% if vesting_start and not vesting_end %}
  <p>{% trans "Vesting Date" %} {{ vesting_start }}</p>
{% elif vesting_end and not vesting_start %}
  <p>{% trans "Vesting Date" %} {{ vesting_end }}</p>
{% elif vesting_start and vesting_end %}
  <p>{% trans "Vesting Period" %} {{ vesting_start }} {% trans "to" %} {{ vesting_end }}</p>
{% endif %}

<br>

<p>{{invoice.header|linebreaksbr}}</p>

<br>

<table class="payments-table">

  <colgroup>
    <col width="1*">
    <col width="0*">
    <col width="0*">
    <col width="0*">
  </colgroup>

  <thead class="payments">
  <tr>
    <td class="payment-description"></td>
    <td class="right">{% trans "consideration" %}</td>
    <td class="right">19% {% trans "tax" %}</td>
    <td class="right">{% trans "gross" %}</td>
  </tr>
  </thead>

  <tbody>
  {% for css, description, net, tax, gross in payments %}
  <tr class="payments payment-{{ css }}">
    <td class="payment-description">{{ description }}</td>
    <td class="net">{{ net }}</td>
    <td class="tax">{{ tax}}</td>
    <td class="gross">{{ gross }}</td>
  </tr>
  {% endfor %}
  </tbody>

</table>

<br>

<p class="footer-text">{{ invoice.footer|linebreaksbr }}</p>

<p class="right">{{ invoice_date }}</p>

<p class="bold">{% blocktrans with invoice_no=invoice.invoice_no %}Itemized listing for Invoice No. {{invoice_no}}{% endblocktrans %}</p>

<br>

<table>

  <colgroup>
    <col width="0*">
    <col width="1*">
    <col width="0*">
    <col width="0*">
    <col width="0*">
    <col width="0*">
  </colgroup>

  <thead>
  <tr>
    <td class="left code">{% trans "Pos." %}</td>
    <td class="left">{% trans "Description" %}</td>
    <td colspan="2" class="right">{% trans "Amount" %}</td>
    <td class="right">{% trans "Price" %}</td>
    <td class="total">{% trans "Total" %}</td>
  </tr>
  </thead>

{% endautoescape %}
