thead:nth-child(n+2) {
  border-bottom-width: 1px;
}

.invoice-no-fine-print {
  font-size: 7pt;
}

.footer-text {
  page-break-after: always;
}

/* Payments Table */

thead.payments {
  border-bottom-width: 1px;
}

.net, .tax, .gross {
  text-align: right;
  border-left-width: 1px;
}

tr.payments:last-child > td {
  border-left-width: 0px;
  font-weight: bold;
}

tr.payments:last-child {
  border-top-width: 1px;
}

.payment-small {
  font-size: 8pt;
}

/* Itemized Listing */

.qty, .price, .total {
  text-align: right;
  vertical-align: bottom;
}
