thead:nth-child(n+1) {
  border-bottom-width: 1px;
}

.invoice-no-fine-print {
  font-size: 7pt;
}

.footer-text {
  page-break-after: always;
}

/* Payments Table */

.payments-table {
  border-collapse: collapse;
}

thead.payments > tr {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
}

.net, .tax, .gross {
  text-align: right;
  border-left-width: 1px;
  padding-left: 4px;
  padding-right: 4px;
}

tr.payments:last-child {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: black;
}

tr.payments:last-child > td {
  border-left-width: 0;
  font-weight: bold;
}

.payment-small {
  font-size: 8pt;
}
