{% extends "frame.html" %}
{% load i18n bootstrap %}

{% block menu_dropdown %}{% include "main/menu_dropdown.html" with section="templates" %}{% endblock %}

{% block content %}
  <table>
    <tr>
      <td>
        <form role="form" method="post">
            {% csrf_token %}
            {% bootstrap form %}
            <div class="form-group">
              <button type="submit" class="btn btn-primary" value="{% trans 'Save' %}">{% trans 'Save' %}</button>
            </div>
        </form>
      </td>
      <td valign="top"><br/><br/>
        {% for key, val in form.instance.vars.items %}
          <b>[{{ key }}]</b> &nbsp; {{ val }}<br/>
        {% endfor %}
    </tr>
  </table>
{% endblock %}