@page {
  margin-top: 20px;
  margin-right: 35px;
  margin-bottom: 75px;
  margin-left: 35px;
  letterhead-page: 1;
}

table.meta-table > tbody > tr > td > h2 {
  font-size: 12pt;
  font-weight: bold;
}

table.meta-table > tbody > tr > td {
  padding-left: 2px;
}

.margin_top {
  margin-top: 5px;
}

.pagebreak {
  page-break-after: always;
}

