{% load i18n customformatting %}
<table class="meta-table table table-bordered table-hover table-striped table-condensed">
    <colgroup>
        <col width="1*">
        <col width="0*">
        <col width="0*">
    </colgroup>
    <tbody>
        <tr>
            <td>
                <h2>{% trans 'Evidence Sheet' %}:</h2>
            </td>
            <td class="right">
                <b>{% trans 'Sheet-No' %}</b>
            </td>
            <td class="right">
                .....................
            </td>
        </tr>
        <tr>
            <td>#{{ project.pk }} {{ project.name }} {{ group.code }} {{ group.name }}</td>
            <td></td>
            <td class="right">{{ document.date }}</td>
        </tr>
        <tr>
            <td>{% trans 'Task' %} {{ task.code }}</td>
            <td class="right">{% trans 'P-Amount' %}</td>
            <td class="right">{{ task.qty|ubrdecimal }} {{ task.unit }}</td>
        </tr>
    </tbody>
</table>

<p class="signature">"Unterschrift": _______________________________</p>