{% extends "project.html" %}
{% load i18n bootstrap staticfiles %}

{% block sidebar %}{% include "project/sidebar.html" with section='invoices' %}{% endblock %}

{% block content %}
  <form role="form" method="post">
      {% csrf_token %}
      {{ form|bootstrap }}
      {% if is_flat_invoice %}
      <table class="table table-condensed" style="width: auto;">
        <tr>
          <td>{% trans 'Gross' %}</td>
          <td id="gross-amount" style="text-align: right;">-</td>
        </tr>
        <tr>
          <td>{% trans 'Net' %}</td>
          <td id="net-amount" style="text-align: right;">-</td>
        </tr>
        <tr>
          <td>{% trans 'Tax' %}</td>
          <td id="tax-amount" style="text-align: right;" data-tax-rate="{{ TAX_RATE }}">-</td>
        </tr>
      </table>
      {% endif %}
      <div class="form-group">
        <button type="submit" class="btn btn-primary" value="{% trans 'Save' %}">{% trans 'Save' %}</button>
      </div>
  </form>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
    $('[name="doc_template"]').on('change', function () {
      var templateid = this.value;
      if (templateid) {
        $.ajax({
          type: 'GET',
          headers: {'X-CSRFToken': '{{ csrf_token }}'},
          dataType: 'json',
          data: {'templateid': templateid},
          url: "{% url 'api_dispatch_document_template' 'v1' 'project' project.id %}",
          async: false
        }).done(function (template) {
          $('[name="header"]').val(template['header']);
          $('[name="footer"]').val(template['footer']);
        });
      }
    });
  </script>
  {% if is_flat_invoice %}
  <script type="application/dart" src="{% static "dart/flat_invoice.dart" %}"></script>
  <script src="{% static "dart/packages/web_components/webcomponents.min.js" %}"></script>
  <script src="{% static "dart/packages/web_components/dart_support.js" %}"></script>
  <script src="{% static "dart/packages/browser/dart.js" %}"></script>
  {% endif %}
{% endblock extra_js %}