{% extends "project.html" %}
{% load i18n bootstrap staticfiles customformatting %}

{% block sidebar %}{% include "project/sidebar.html" with section='invoices' %}{% endblock %}

{% block content %}
  <form role="form" method="post">{% csrf_token %}

      <h2 class="sub-header">{% trans "Invoice" %}</h2>
      {{ form.invoice_form|bootstrap }}

      <div class="form-group {% if form.non_form_errors %}has-error{% endif %}">
      {{ form.management_form }}

      <style>

        tr > :nth-child(4), tr > th.invoice {
          border-left: 2px solid #ddd;
        }

        tr > :nth-child(6), tr > th.invoice {
          border-right: 2px solid #ddd;
        }

        tr > th.invoice, tr > th.totals {
          text-align: center;
        }

        tr > .job-name,
        tr > .job-debit {
          min-width: 180px!important;
        }

        tr > :nth-child(n+3) {
          text-align: right;
          min-width: 80px;
        }

        .job-flat > input.form-control {
          margin-top: -6px;
          width: 100px;
          float: right;
          text-align: right;
        }

        .job-row:not(.invoiced) {
          color: lightgray;
        }

        .job-row:not(.invoiced) .job-debit>span{
          visibility: hidden;
        }

        textarea.job-debit-comment {
          opacity: 1;
          height: 50px;
          width: 100%;
          background-color: inherit;
          transition: all 0.5s ease 0.15s;
        }

        .job-row:not(.invoiced) textarea.job-debit-comment,
        .job-row:not(.flat) textarea.job-debit-comment {
          opacity: 0;
          height: 1px;
          margin-top: -10px;
        }

      </style>
      <h2 class="sub-header">{% trans "Debits" %}</h2>
      <table is="job-table" class="table table-striped">
        <thead>
        <tr>
          <th colspan="3"></th>
          <th colspan="3" class="invoice">{% trans 'Invoice' %}</th>
          <th colspan="2" class="totals">{% trans 'Totals' %}</th>
        </tr>
        <tr>
          <th class="job-invoiced"></th>
          <th class="job-name">{% trans 'Job' %}</th>
          <th class="job-estimate">{% trans 'Estimate' %}</th>
          <th class="job-flat">{% trans 'Flat' %}</th>
          <th class="job-itemized">{% trans 'Itemized' %}</th>
          <th class="job-debit bg-info">{% trans 'New Debit' %}</th>
          <th class="job-debited">{% trans 'Billed' %}</th>
          <th class="job-balance">{% trans 'Balance' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for job_form in form.forms %}
          <tr is="job-row" class="job-row {% if job_form.is_invoiced.value %}invoiced{% endif %} {% if job_form.is_flat.value %}flat{% endif %}">
            <td class="job-invoiced">{{ job_form.is_invoiced }}</td>
            <td class="job-name">{{ job_form.job }}{{ job_form.initial.job.name }}</td>
            <td class="job-estimate" data-amount="{{ job_form.latest_estimate }}">{{ job_form.latest_estimate|ubrdecimal:2 }}</td>
            <td class="job-flat {% if job_form.flat_amount.errors %}has-error bg-danger{% endif %}">
              {{ job_form.is_flat }}
              {{ job_form.flat_amount }}
              {% for error in job_form.flat_amount.errors %}
                <p class="help-block">{{ error }}</p>
              {% endfor %}
            </td>
            <td class="job-itemized" data-amount="{{ job_form.latest_itemized }}">{{ job_form.latest_itemized|ubrdecimal:2 }}</td>
            <td class="job-debit {% if job_form.debit_comment.errors %}has-error bg-danger{% else %}bg-info{% endif %}">
              {{ job_form.debit_amount }}
              <div class="job-debit-amount">{{ job_form.debit_amount_decimal|ubrdecimal:2 }}</div>
              {{ job_form.debit_comment }}
              {% for error in job_form.debit_comment.errors %}
                <p class="help-block">{{ error }}</p>
              {% endfor %}
            </td>
            <td class="job-debited" data-amount="{{ job_form.latest_debited_base }}">{{ job_form.latest_debited|ubrdecimal:2 }}</td>
            <td class="job-balance" data-amount="{{ job_form.latest_balance_base }}">{{ job_form.latest_balance|ubrdecimal:2 }}</td>
          </tr>
        {% endfor %}
          <tr class="job-table-totals">
            <td class="job-invoiced"></td>
            <td class="job-name"></td>
            <td class="job-estimate">{{ form.estimate_total|ubrdecimal:2 }}</td>
            <td class="job-flat"></td>
            <td class="job-itemized">{{ form.itemized_total|ubrdecimal:2 }}</td>
            <td class="job-debit">{{ form.debit_total|ubrdecimal:2 }}</td>
            <td class="job-debited">{{ form.debited_total|ubrdecimal:2 }}</td>
            <td class="job-balance">{{ form.balance_total|ubrdecimal:2 }}</td>
          </tr>
        </tbody>
      </table>
      {% for error in form.non_form_errors %}
        <span class="help-block ">{{ error }}</span>
      {% endfor %}
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary" value="{% trans 'Save' %}">{% trans 'Save' %}</button>
      </div>
  </form>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
    $('[name="doc_template"]').on('change', function () {
      var templateid = this.value;
      if (templateid) {
        $.ajax({
          type: 'GET',
          headers: {'X-CSRFToken': '{{ csrf_token }}'},
          dataType: 'json',
          data: {'templateid': templateid},
          url: "{% url 'api_dispatch_document_template' 'v1' 'project' project.id %}",
          async: false
        }).done(function (template) {
          $('[name="header"]').val(template['header']);
          $('[name="footer"]').val(template['footer']);
        });
      }
    });
  </script>
  <script type="application/dart" src="{% static "dart/invoice_editor.dart" %}"></script>
  <script src="{% static "dart/packages/web_components/webcomponents.min.js" %}"></script>
  <script src="{% static "dart/packages/web_components/dart_support.js" %}"></script>
  <script src="{% static "dart/packages/browser/dart.js" %}"></script>
{% endblock extra_js %}