{% extends "project.html" %}
{% load i18n bootstrap staticfiles customformatting %}

{% block sidebar %}{% include "project/sidebar.html" with section='invoices' %}{% endblock %}

{% block content %}
  <form role="form" method="post">{% csrf_token %}

      <h2 class="sub-header">{% trans "Invoice" %}</h2>
      {{ form.invoice_form|bootstrap }}

      <div class="form-group {% if form.non_form_errors %}has-error{% endif %}">
      {{ form.management_form }}

      <style>

        tr > :nth-child(6), tr > th.invoice {
          border-left: 2px solid #ddd;
        }

        tr > :nth-child(7), tr > th.invoice {
          border-right: 2px solid #ddd;
        }

        tr > th.invoice, tr > th.totals, tr > th.net {
          text-align: center;
        }

        tr > .job-name,
        tr > .job-amount-net {
          min-width: 180px!important;
        }

        tr > :nth-child(n+3) {
          text-align: right;
          min-width: 80px;
        }

        .job-amount-net > input.form-control {
          display: inline-block;
          margin-top: -6px;
          width: 100px;
          text-align: right;
        }

        .job-row:not(.invoiced) {
          color: lightgray;
        }

        textarea.job-override-comment {
          opacity: 1;
          height: 50px;
          width: 100%;
          background-color: inherit;
          transition: all 0.5s ease 0.15s;
        }

        .job-row:not(.invoiced) textarea.job-override-comment,
        .job-row:not(.override) textarea.job-override-comment {
          opacity: 0;
          height: 1px;
          margin-top: -10px;
        }

        .job-row .itemized-icon {
          display: none;
        }
        .job-row.override .itemized-icon.glyphicon-tag,
        .job-row:not(.override) .itemized-icon.glyphicon-list {
          display: inline-block;
        }

      </style>
      <h2 class="sub-header">{% trans "Debits" %}</h2>
      <table is="invoice-table" class="table table-striped">
        <thead>
        <tr>
          <th colspan="2"></th>
          <th colspan="3" class="net">{% trans 'Net' %}</th>
          <th colspan="2" class="invoice">{% trans 'This Invoice' %}</th>
          <th colspan="2" class="totals">{% trans 'All Invoices' %}</th>
        </tr>
        <tr>
          <th class="job-invoiced"></th>
          <th class="job-name">{% trans 'Job' %}</th>
          <th class="job-estimated">{% trans 'Estimated' %}</th>
          <th class="job-completed">{% trans 'Completed' %}</th>
          <th class="job-billable"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> {% trans 'Billable' %}</th>
          <th class="job-amount-net">{% trans 'Net' %}</th>
          <th class="job-amount-gross bg-info">{% trans 'Gross' %} 19% {% trans 'VAT' %}</th>
          <th class="job-debited">{% trans 'Gross Invoiced' %}</th>
          <th class="job-balance">{% trans 'Balance' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for debit_form in form.forms %}
          <tr is="invoice-debit" class="job-row {% if debit_form.is_invoiced.value %}invoiced{% endif %} {% if debit_form.is_override.value %}override{% endif %}">
            <td class="job-invoiced">{{ debit_form.is_invoiced }}</td>
            <td class="job-name">{{ debit_form.job }}{{ debit_form.initial.job.name }}</td>
            <td class="job-estimated" data-amount="{{ debit_form.latest_estimate_net }}">
              {{ debit_form.latest_estimate_net|ubrdecimal:2 }}<br />
              <input type="range" min="0" max="50" value="0" step="1" />
            </td>
            <td class="job-completed" data-amount="{{ debit_form.latest_itemized_net }}">
              {{ debit_form.latest_itemized_net|ubrdecimal:2 }}<br />
              {{ debit_form.latest_percent_complete }}%
            </td>
            <td class="job-billable" data-amount="{{ debit_form.billable_amount_net }}">{{ debit_form.billable_amount_net|ubrdecimal:2 }}</td>
            <td class="job-amount-net {% if debit_form.amount_net.errors or debit_form.override_comment.errors %}has-error bg-danger{% endif %}">

              <span class="glyphicon glyphicon-tag itemized-icon" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-list itemized-icon" aria-hidden="true"></span>
              {{ debit_form.amount_net }}
              {% for error in debit_form.amount_net.errors %}
                <p class="help-block">{{ error }}</p>
              {% endfor %}

              {{ debit_form.is_override }}
              {{ debit_form.override_comment }}
              {% for error in debit_form.override_comment.errors %}
                <p class="help-block">{{ error }}</p>
              {% endfor %}

            </td>
            <td class="job-amount-gross bg-info" data-amount="{{ debit_form.debit_amount_gross }}">
              {{ debit_form.debit_amount_gross|ubrdecimal:2 }}
            </td>
            <td class="job-debited" data-base="{{ debit_form.base_debited_gross }}" data-new="{{ debit_form.new_debited_gross }}">{{ debit_form.new_debited_gross|ubrdecimal:2 }}</td>
            <td class="job-balance" data-base="{{ debit_form.base_balance_gross }}" data-new="{{ debit_form.new_balance_gross }}">{{ debit_form.new_balance_gross|ubrdecimal:2 }}</td>
          </tr>
        {% endfor %}
          <tr class="job-table-totals">
            <td class="job-invoiced"></td>
            <td class="job-name"></td>
            <td class="job-estimated"></td>
            <td class="job-completed"></td>
            <td class="job-billable"></td>

            <td class="job-amount-net">{{ form.debit_net_total|ubrdecimal:2 }}</td>
            <td class="job-amount-gross">{{ form.debit_gross_total|ubrdecimal:2 }}</td>

            <td class="job-debited">{{ form.debited_gross_total|ubrdecimal:2 }}</td>
            <td class="job-balance">{{ form.balance_gross_total|ubrdecimal:2 }}</td>
          </tr>
        </tbody>
      </table>
      {% for error in form.non_form_errors %}
        <span class="help-block ">{{ error }}</span>
      {% endfor %}
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary" value="{% trans 'Save' %}">{% trans 'Save' %}</button>
      </div>
  </form>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
    $('[name="doc_template"]').on('change', function () {
      var templateid = this.value;
      if (templateid) {
        $.ajax({
          type: 'GET',
          headers: {'X-CSRFToken': '{{ csrf_token }}'},
          dataType: 'json',
          data: {'templateid': templateid},
          url: "{% url 'api_dispatch_document_template' 'v1' 'project' project.id %}",
          async: false
        }).done(function (template) {
          $('[name="header"]').val(template['header']);
          $('[name="footer"]').val(template['footer']);
        });
      }
    });
  </script>
  <script type="application/dart" src="{% static "dart/invoice_editor.dart" %}"></script>
  <script src="{% static "dart/packages/web_components/webcomponents.min.js" %}"></script>
  <script src="{% static "dart/packages/web_components/dart_support.js" %}"></script>
  <script src="{% static "dart/packages/browser/dart.js" %}"></script>
{% endblock extra_js %}