{% extends "base.html" %}
{% load i18n bootstrap %}

{% block mainmenu %}{% include "main/mainmenu.html" with section="templates" %}{% endblock %}

{% block container %}
<div class="container-fluid">
  <div class="col-md-12">

          <form role="form" enctype="multipart/form-data"  method="post">
              {% csrf_token %}
              {% bootstrap form %}
              <div class="form-group">
                <button type="submit" class="btn btn-primary" value="{% trans 'Save' %}">{% trans 'Save' %}</button>
              </div>
          </form>

          {% for key, val in form.instance.vars.items %}
            <b>[{{ key }}]</b> &nbsp; {{ val }}<br/>
          {% endfor %}

  </div>
</div>
{% endblock %}