{% extends "project.html" %}
{% load i18n bootstrap %}

{% block sidebar %}{% include "project/sidebar.html" with section='proposals' %}{% endblock %}

{% block content %}
  <form role="form" method="post">
      {% csrf_token %}
      {{ form|bootstrap }}
      <div class="form-group">
        <button type="submit" class="btn btn-primary" value="{% trans 'Save' %}">{% trans 'Save' %}</button>
      </div>
  </form>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
    $('[name="doc_template"]').on('change', function () {
      var templateid = this.value;
      if (templateid) {
        $.ajax({
          type: 'GET',
          headers: {'X-CSRFToken': '{{ csrf_token }}'},
          dataType: 'json',
          data: {'templateid': templateid},
          url: "{% url 'api_dispatch_document_template' 'v1' 'project' project.id %}",
          async: false
        }).done(function (template) {
          $('[name="header"]').val(template['header']);
          $('[name="footer"]').val(template['footer']);
        });
      }
    });
  </script>
{% endblock extra_js %}