{% extends "project.html" %}
{% load i18n l10n bootstrap static dartium amount customformatting %}

{% block head %}
    {{ block.super }}
    {{ form.media.css }}
{% endblock %}

{% block sidebar %}{% include "project/sidebar.html" with section='proposals' %}{% endblock %}

{% block content %}
  <form role="form" method="post">{% csrf_token %}

    <h2 class="sub-header">{% trans "Proposal" %}</h2>
    {% bootstrap form %}

    <div class="">

      <style>

        .proposal-row:not(.is-attached) {
          color: lightgray;
        }

        tr > .job-name {
          min-width: 180px !important;
        }

      </style>

      <h2 class="sub-header">{% trans "Jobs" %}</h2>
      <div class="form-group {% if form.formset.non_form_errors %}has-error{% endif %} table-responsive">
      {{ form.formset.management_form }}
      <table is="proposal-table" class="table table-striped" data-tax-rate="{{ TAX_RATE|unlocalize }}">
        <thead>
        <tr>
          <th class="job-is-attached"></th>
          <th class="job-status">{% trans 'Status' %}</th>
          <th class="job-name">{% trans 'Job' %}</th>
          <th class="job-estimate">{% trans 'Estimate' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for job_form in form.formset %}
          <tr {% if job_form.initial.job.can_propose %}is="proposal-row"{% endif %} class="proposal-row {% if job_form.is_attached.value %}is-attached{% endif %}">
            <td class="job-is-attached">
              {% if job_form.initial.job.can_propose %}
                {{ job_form.is_attached }}
              {% endif %}
            </td>
            <td class="job-status">{{ job_form.initial.job.get_status_display }}</td>
            <td class="job-name">{{ job_form.job_id }}{{ job_form.initial.job.code }} {{ job_form.initial.job.name }}</td>
            {% amount_view "job-estimate" job_form "estimate" "net" %}
          </tr>
        {% endfor %}
        <tr class="proposal-table-totals">
          <td colspan="3"></td>
          {% amount_view "job-estimate" form "estimate_total" "net" %}
        </tr>
        </tbody>
      </table>
      </div>
      {% for error in form.formset.non_form_errors %}
        <span class="help-block ">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group">
      <button name="save" type="submit" class="btn btn-primary" value="{% trans 'Save' %}">{% trans 'Save' %}</button>
    </div>
  </form>
{% endblock %}

{% block extra_js %}
  {{ form.media.js }}
  {% fieldinit form %}
  <script type="text/javascript">
    $('[name="doc_template"]').on('change', function () {
      var templateid = this.value;
      if (templateid) {
        $.ajax({
          type: 'GET',
          headers: {'X-CSRFToken': '{{ csrf_token }}'},
          dataType: 'json',
            // DocumentTemplateModelViewSet action for_project
          url: "/api/document/documenttemplate/"+templateid+"/project-{{ project.pk }}/",
          async: false
        }).done(function (template) {
          $('[name="header"]').val(template['header']);
          $('[name="footer"]').val(template['footer']);
        });
      }
    });
  </script>
  {% dart "proposal_editor.dart" %}
{% endblock extra_js %}