{% load i18n %}

{% autoescape off %}

<p class="address">
{% if address_label %}
  {{address_label|linebreaksbr}}
{% else %}
  {% if business %}{{business}}<br />{% endif %}
  {{salutation}} {{first_name}} {{last_name}}<br />
  {{address}}<br />
  {{postal_code}} {{city}}
{% endif %}
</p>

<p class="vspace-50"><br></p>

<table>
  <colgroup span="2"></colgroup>
  <tr>
    <td><p class="header-title">{{title}}</p></td>
    <td><p class="header-date">{{doc_date}}</p></td>
  </tr>
</table>

<p><br></p>

{% if show_project_id %}
  <p>{% trans "Project" %} #{{project_id}}</p>
{% endif %}

<p>{{header|linebreaksbr}}</p>

<p><br></p>

<table>

  <colgroup>
    <bericht-col width="0*">{{longest_code}}</bericht-col>
    <bericht-col width="1*"></bericht-col>
    <bericht-col width="0*">{{longest_amount}}</bericht-col>
    <bericht-col width="0*">{{longest_unit}}</bericht-col>
    <bericht-col width="0*">{{longest_price}}</bericht-col>
    <bericht-col width="0*">{{longest_total}}</bericht-col>
  </colgroup>

  <thead>
    <tr>
      <td><p class="left">{% trans "Pos." %}</td>
      <td><p>{% trans "Description" %}</td>
      <td colspan="2"><p>{% trans "Amount" %}</td>
      <td><p>{% trans "Price" %}</td>
      <td><p>{% trans "Total" %}</td>
    </tr>
  </thead>

{% endautoescape %}
