{% extends "project.html" %}
{% load i18n bootstrap staticfiles customformatting %}

{% block sidebar %}{% include "project/sidebar.html" with section='invoices' %}{% endblock %}

{% block content %}
  <form role="form" method="post">{% csrf_token %}

    <style>
    tr > .job-amount,
    tr > .job-paid,
    tr > .job-overpaid {
      text-align: right;
      min-width: 80px;
    }

    tr > td.job-paid > a,
    tr > td.job-overpaid > a {
      color: black;
      background-color: transparent;
      display: block;
      text-align: right;
      height: 100%;
    }
    tr > td.job-paid > a:hover,
    tr > td.job-overpaid > a:hover {
      background-color: #e6e6e6;
    }
    tr > .job-amount > input.form-control {
      display: inline-block;
      margin-top: -6px;
      width: 100px;
      text-align: right;
    }
    </style>

    <h2 class="sub-header">{% trans "Refund" %}</h2>
    {% include "document/refund_jobs_table.html" with form=form.refund_jobs_form %}

    <h2 class="sub-header">{% trans "Apply" %}</h2>
    {% include "document/refund_jobs_table.html" with form=form.apply_jobs_form %}

    <h2 class="sub-header">{% trans "Document" %}</h2>
    <div class="form-group">
      <label class="control-label">{% trans "Refund Amount" %}</label>
      <div class="refund-amount">{{ form.refund_amount|ubrdecimal:2 }}</div>
    </div>
    {{ form|bootstrap }}

    <div class="form-group">
      <button type="submit" class="btn btn-primary" value="{% trans 'Save' %}">{% trans 'Save' %}</button>
    </div>
  </form>
{% endblock %}

{% block extra_js %}
  <script type="application/dart" src="{% static "dart/refund_editor.dart" %}"></script>
  <script src="{% static "dart/packages/web_components/webcomponents.min.js" %}"></script>
  <script src="{% static "dart/packages/web_components/dart_support.js" %}"></script>
  <script src="{% static "dart/packages/browser/dart.js" %}"></script>
{% endblock extra_js %}