@page {
  margin-top: 50px;
  margin-right: 35px;
  margin-bottom: 75px;
  margin-left: 35px;
  letterhead-page: 1;
}

.h2 {
  font-size: 16pt;
  font-weight: bold;
  padding-bottom: 20px;
}

table.month > thead > tr > td {
  text-align: center;
}

.table-striped > tbody > tr:nth-child(odd) {
  background-color: rgb(204, 255, 255);
}

td {
  border-top-width: .5px;
  border-right-width: .5px;
  border-bottom-width: .5px;
  border-left-width: .5px;

  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 2px;

  font-size: 8pt;
}

tr.row-payables > td {
  border-top-width: 2px;
}

tr.row-compensation > td {
  border-top-width: 2px;
  background-color: rgb(255, 255, 255);
}

td.info {
  text-align: right;
}

td.monday {
  border-left-width: 2px;
}

.summary-layout > tbody > tr > td {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;

  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;

  font-size: 8pt;
}

.right {
  text-align: right;
}

.signature {
  page-break-after: always;
  text-align: right;
}
