{% load i18n customformatting %}
<table class="table table-bordered table-condensed {{ extra_css }}">

  <colgroup span="5" />

  <thead>
  <tr>
    <td></td>
    {% if full %}
    <td><p>{% trans "Previous" context "timesheet" %}</td>
    <td><p>{% trans "Correction" context "timesheet" %}</td>
    <td><p>{{ timesheet.document_date|date:"F" }}</td>
    {% endif %}
    <td><p>{% trans "Balance" context "timesheet" %}</td>
  </tr>
  </thead>

  <tr>
    <td><p>{% trans "Vacation" %}</td>
    {% if full %}
    <td><p>{{ timesheet.json.vacation_transferred|zeroblank|workdays }}</td>
    <td><p>{{ timesheet.json.vacation_correction|zeroblank|workdays }}</td>
    <td><p>
      {{ timesheet.json.vacation_net|workdays }}
      {% if timesheet.json.vacation_total != 0 %}
        ({{ timesheet.json.vacation_added|workdays }} - {{ timesheet.json.vacation_total|workdays }})
      {% endif %}
    </td>
    {% endif %}
    <td class="info"><p>{{ timesheet.json.vacation_balance|workdays }}</td>
  </tr>

  <tr>
    <td><p>{% trans "Overtime" %}</td>
    {% if full %}
    <td><p>{{ timesheet.json.overtime_transferred|zeroblank|hours }}</td>
    <td><p>{{ timesheet.json.overtime_correction|zeroblank|hours }}</td>
    <td><p>
      {{ timesheet.json.overtime_net|hours }}
      {% if timesheet.json.paid_leave_total != 0 %}
        ({{ timesheet.json.overtime_total|hours }} - {{ timesheet.json.paid_leave_total|hours }})
      {% endif %}
    </td>
    {% endif %}
    <td class="info"><p>{{ timesheet.json.overtime_balance|hours }} ({{ timesheet.json.overtime_balance|workdays }})</td>
  </tr>

  <tr>
    <td><p>{% trans "Compensation" context "timesheet" %}</td>
    {% if full %}
    <td></td>
    <td><p>{{ timesheet.json.work_correction|zeroblank|hours }}</td>
    <td><p>
      {{ timesheet.json.compensation_total|hours }}
      {% if timesheet.json.overtime_total != 0 %}
        ({{ timesheet.json.payables_total|hours }} - {{ timesheet.json.overtime_total|hours }})
      {% endif %}
    </td>
    {% endif %}
    <td class="info"><p>{{ timesheet.json.compensation_final|hours }}</td>
  </tr>

</table>
