{% extends "base.html" %}
{% load i18n customformatting bootstrap %}

{% block mainmenu %}{% include "main/mainmenu.html" with section='timesheets' %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-6">
        <h2 class="sub-header">{% trans 'Timesheets' %}</h2>
    </div>
    <div class="col-xs-6">
        <h4>{% trans "Filter period" %}</h4>
        <form action="{% url 'timesheets' %}" method="post">
        {% csrf_token %}
        {%  bootstrap form %}
          <input type="submit" value="Submit">
        </form>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>{% trans 'Month' %}</th>
      <th colspan="3">{% trans 'Timesheets' %}</th>
      <th>{% trans 'Actions' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for month in months %}
      <tr>
        <td>{{ month.date|date:"Y F" }}</td>
        <td colspan="3">{{ month.count }}</td>
        <td>
          {% if month.can_generate %}
          <a href="{% url 'timesheets.generate' month.date.year month.date.month %}">{% trans "Generate" %}</a>
          {% endif %}
          {% if month.count > 0 %}
          <a href="{% url 'timesheets.pdf' month.date.year month.date.month %}">{% trans "Download" %}</a>
          {% endif %}
        </td>
      </tr>
      {% for row in month.timesheets|split_rows_vertically:3 %}
        <tr>
          <td></td>
          {% for col in row %}
            <td>{% if col %}<a href="{% url 'timesheet.update' col.pk %}">{{ col.worker.get_full_name }}</a>{% endif %}</td>
          {% endfor %}
          <td></td>
        </tr>
      {% endfor %}
    {% endfor %}
    </tbody>
  </table>
{% endblock content %}