{% extends "field/base.html" %}
{% load i18n staticfiles %}

{% block container %}
<style>
.date-header {
  text-align: center;
  margin-top: 7px;
}
.back-buttons > div.text-right > a {
  text-align: right;
}
</style>
<div class="container">

  <div class="row back-buttons">
    <div class="col-xs-4"><a href="{% url 'field.dashboard' %}" class="btn btn-default btn-block">&laquo; {% trans 'Dashboard' %}</a></div>
    <div class="col-xs-4 date-header">{% now 'DATE_FORMAT' %}</div>
    <div class="col-xs-4 text-right"><a href="{% url 'field.projects' %}" class="btn btn-default btn-block">{% trans 'Projects' %} &raquo;</a></div>
  </div>

  {% for plan in todays_plans %}

  <div class="panel panel-primary">

    <div class="list-group">
      <a href="{% url 'field.project' plan.jobsite.project_id %}" class="list-group-item active">
        <span class="pull-right">&raquo;</span>
        <b>{{ plan.jobsite.project.name }}</b><br/>
        {{ plan.jobsite.name }} - {{ plan.jobsite.address }} {{ plan.jobsite.city }}
      </a>
    </div>

    <div class="list-group">

      <div class="list-group-item sub-header">
        {% trans "Workers" %}
      </div>
    
      {% for member in plan.members.all %}
      <div class="list-group-item"> {{ member.member.get_full_name }} {% if member.is_foreman %}<span class="pull-right">{% trans 'Foreman' %}</span>{% endif %}</div>
      {% endfor %}

      <div class="list-group-item sub-header">
        {% trans "Tasks" %}
      </div>

      {% for task in plan.tasks.all %}
      <a href="{% url 'field.task' project.id plan.jobsite.id task.taskgroup.job.id task.id %}" class="list-group-item clearfix">
        {{ task.name }}
        {% if task.complete_percent > 0 %}
        <span class="badge">{{ task.complete_percent }}%</span>
        {% else %}
        <span class="pull-right">&raquo;</span>
        {% endif %}
      </a>
      {% endfor %}

    </div>

  </div>
  
  {% endfor %}


</div>
{% endblock %}