{% extends "field/base.html" %}
{% load static i18n customformatting %}

{% block container %}
  {% csrf_token %}
  <div class="container">

    {% if worker.has_staff %}

      <div class="panel panel-primary">

        <div class="panel-heading">
          {% trans 'Manage' %}
        </div>

        <div class="list-group">
          <a href="{% url 'field.projects' %}" class="list-group-item">{% trans 'Projects' %} <span
              class="pull-right">&raquo;</span></a>
          <a href="{% url 'field.planning' %}" class="list-group-item">{% trans 'Planning' %} <span
              class="pull-right">&raquo;</span></a>
          <a href="{% url 'field.equipment' %}" class="list-group-item">{% trans 'Equipment' %} <span
              class="pull-right">&raquo;</span></a>
          <a href="{% url 'field.notes.all' %}" class="list-group-item">{% trans 'Notes' %} <span
              class="pull-right">&raquo;</span></a>
        </div>

      </div>

    {% endif %}

    <div class="day-separator">
      {% now "l" %}, {% now "DATE_FORMAT" %}
      {% if worker.is_laborer or worker.is_foreman %}
        <a href="{% url 'field.projects' %}"
           class="btn btn-default btn-contextual btn-add-plan">{% trans "Projects" %} &raquo;</a>
      {% endif %}
    </div>

    {% for plan in todays_plans %}

      <div class="day-separator">
        #{{ plan.jobsite.project.id }} - {{ plan.jobsite.project.name }}
      </div>

      {% include "field/dailyplan.html" with dailyplan=plan %}

    {% empty %}

      <p>{% trans "You have not been assigned to any job sites today." %}</p>

    {% endfor %}

    {% if worker.can_track_time %}
      <style type="text/css">
        #timer-digits {
          font-family: monospace;
          font-size: 300%;
          display: inline-block;
        }
        #timer-toggle {
          position: relative;
          top: -10px;
        }
      </style>

      <timer-widget
          data-running="{% if timer %}true{% endif %}"
          data-seconds="{% if timer %}{{ timer.running_duration_seconds }}{% else %}0{% endif %}">
        <div id="timer-digits">{% if timer %}{{ timer.running_duration|hours }}{% else %}-:--{% endif %}</div>
        <button type="button" class="btn btn-default" id="timer-toggle">
          <span class="glyphicon glyphicon-{% if timer %}pause{% else %}play{% endif %}"></span>
          <span class="btn-label"
                data-started="{% trans 'Running' %}"
                data-start-failed="{% trans 'Could not start timer.' %}"
                data-stopped="{% trans 'Stopped' %}"
                data-stop-failed="{% trans 'Could not stop timer.' %}"
                data-geolocating="{% trans 'Geolocating...' %}"
                data-geolocating-failed="{% trans 'Could not determine location.' %}">
          {% if timer %}
            {% trans 'Running' %}
          {% else %}
            {% trans 'Stopped' %}
          {% endif %}
        </span>
        </button>
      </timer-widget>
    {% endif %}

    {% if worker.contract.requires_time_tracking %}
    <div class="panel panel-default">

      <div class="panel-heading">
        {% trans "Timesheet Balances" %}
        {% if timesheet %}{{ timesheet.document_date|date:"DATE_FORMAT" }}{% endif %}
      </div>

      {% if timesheet %}

        {% include "document/timesheet_summary.html" with timesheet=timesheet available_holidays=available_holidays extra_css="table-striped"%}

      {% else %}

        <div class="panel-body">
          <p>{% trans "Timesheet balance not available yet." %}</p>
        </div>

      {% endif %}

      <div class="panel-footer clearfix">
        <div class="pull-right">
          <a href="{% url 'field.timers' %}" class="btn btn-primary">{% trans "Details" %}</a>
        </div>
      </div>

    </div>
    {% endif %}

  </div>
{% endblock %}

{% if worker.can_track_time %}
{% block extra_js %}
  <script src="{% static "/dart/build/timetracking.dart.js" %}"></script>
{% endblock extra_js %}
{% endif %}
