{% extends "field/base.html" %}
{% load i18n staticfiles %}

{% block head %}
{{ block.super }}
<style type="text/css">
  #timer-box { font-size: 300%; display: inline-block; }
  #timer-toggle { position: relative; top: -10px; }
</style>
{% endblock %}

{% block container %}
  <div class="container">

    {% if worker.has_staff %}

      <div class="panel panel-primary">

        <div class="panel-heading">
          {% trans 'Manage' %}
        </div>

        <div class="list-group">
          <a href="{% url 'field.projects' %}" class="list-group-item">{% trans 'Projects' %} <span
              class="pull-right">&raquo;</span></a>
          <a href="{% url 'field.planning' %}" class="list-group-item">{% trans 'Planning' %} <span
              class="pull-right">&raquo;</span></a>
          <a href="{% url 'field.equipment' %}" class="list-group-item">{% trans 'Equipment' %} <span
              class="pull-right">&raquo;</span></a>
        </div>

      </div>

    {% endif %}

    <div class="day-separator">
      {% now "l" %}, {% now "DATE_FORMAT" %}
      {% if worker.is_laborer or worker.is_foreman %}
        <a href="{% url 'field.projects' %}"
           class="btn btn-default btn-contextual btn-add-plan">{% trans "Projects" %} &raquo;</a>
      {% endif %}
    </div>

    {% for plan in todays_plans %}

          <div class="day-separator">
            {{ plan.jobsite.project.name }}
          </div>

      {% include "field/dailyplan.html" with dailyplan=plan %}

    {% empty %}

      <p>{% trans "You have not been assigned to any job sites today." %}</p>

    {% endfor %}

    <div>
    {% include "timetracking/dashboard_part.html" %}
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  {% if request.is_dartium %}
    <script type="application/dart" src="{% static "dart/timetracking.dart" %}"></script>
  {% else %}
    <script src="{% static "build/timetracking.dart.js" %}"></script>
  {% endif %}
{% endblock extra_js %}
