{% extends "field/base.html" %}
{% load i18n staticfiles %}

{% block container %}
<div class="container">

  <div class="row back-buttons">
    <div class="col-xs-8"><a href="{% url 'field.project' jobsite.project.id %}" class="btn btn-default btn-block btn-back">&laquo; {{ jobsite.project.name }}</a></div>
    <div class="col-xs-4"><a href="{% url 'field.dashboard' %}" class="btn btn-default btn-block">&laquo; {% trans 'Dashboard' %}</a></div>
  </div>

  <div class="panel panel-default">

    <div class="panel-heading">
      {% trans 'Jobs' %}
    </div>

    <ul class="list-group">
    {% for job in jobsite.project.jobs.all %}
      <a href="{% url 'field.dailyplan.job' jobsite.id dailyplan.url_id job.id %}" class="list-group-item clearfix">{{ job.name }} <span class="pull-right">&raquo;</span></a>
    {% endfor %}
    </ul>

  </div>

</div>
{% endblock %}