{% extends "field/base.html" %}
{% load i18n static dartium field_app %}

{% block container %}

  <style>
    field-clipboard {
      background: beige;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 5px 5px;
      border-top: 2px black solid;
    }
  </style>

  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <div class="field-nav">
          <div class="row back-buttons">
            <div class="col-xs-4"><a href="{% url 'field.dashboard' %}"
                                     class="btn btn-default btn-block">&laquo; {% trans 'Dashboard' %}</a></div>
            <div class="col-xs-4"><a href="{% url 'field.projects' %}" class="btn btn-default btn-block"
                                     style="text-align: center;">&uarr; {% trans 'Projects' %}</a></div>
            <div class="col-xs-2"><a href="{% url 'field.planning.toggle' selected_day.isoformat 'tasks' %}"
                                     class="btn btn-default btn-block {% if request.session.is_planning_tasks %}active{% endif %}"
                                     style="text-align: center;"><span class="glyphicon glyphicon-list"
                                                                       aria-hidden="true"></span></a></div>
            <div class="col-xs-2"><a href="{% url 'field.planning.toggle' selected_day.isoformat 'notes' %}"
                                     class="btn btn-default btn-block {% if request.session.is_planning_notes %}active{% endif %}"
                                     style="text-align: center;"><span class="glyphicon glyphicon-paperclip"
                                                                       aria-hidden="true"></span></a></div>
          </div>

          <div class="row back-buttons">
            <div class="col-xs-4"><a href="{{ previous_day_url }}"
                                     class="btn btn-default btn-block">&laquo; {{ previous_day|date:"N j" }}</a></div>
            <div class="col-xs-4 date-header">{{ selected_day|date:"DATE_FORMAT" }}<br/>{{ selected_day|date:"l" }}</div>
            <div class="col-xs-4 text-right"><a href="{{ next_day_url }}"
                                                class="btn btn-default btn-block">{{ next_day|date:"N j" }} &raquo;</a></div>
          </div>
        </div>
      </div>
    </div>

    <div class="field-container">
      {% for plan in selected_plans %}

        {% ifchanged plan.jobsite.project.id %}

          <a name="project-{{ plan.jobsite.project.id }}"></a>

          <div class="day-separator">
            {{ plan.jobsite.project.id }} - {{ plan.jobsite.project.name }}
            {% if worker.has_foreman and plan.day >= today %}
              <a href="{% add_daily_plan_url plan.jobsite.project plan.day %}?origin={{ request.path }}%23project-{{ plan.jobsite.project.id }}"
                 class="btn btn-primary btn-contextual btn-add-plan">{% trans 'Add' %}</a>
            {% endif %}
          </div>

        {% endifchanged %}

        {% include "field/dailyplan.html" with dailyplan=plan %}

      {% endfor %}
      {% if worker.has_foreman and selected_day >= today %}
        <div class="row">
          <div class="col-xs-12">
            <div class="list-group">
            {% for day in latest_days_with_plans %}
              <a href="{% url 'field.planning.generate' selected_day day.day|date:'Y-m-d' %}"
                 class="list-group-item btn list-group-item-info">
                {% blocktrans with otherday=day.day|date:'l d. F' %}Copy from {{ otherday }}.{% endblocktrans %}</a>
            {% endfor %}
            </div>
          </div>
        </div>
       {% endif %}
    </div>

  </div>

  <field-clipboard style="display: none" class="bg-warning text-warning">
    <button type="button" class="close pull-right" aria-label="Close" id="cancel-clipboard">
      <span aria-hidden="true">&times;</span>
    </button>
    <div id="clipboard"></div>
  </field-clipboard>

{% endblock %}

{% block extra_js %}
  {% csrf_token %}
  {% dart "field_planning.dart" %}
{% endblock extra_js %}
