{% extends "field/base.html" %}
{% load i18n staticfiles %}

{% block container %}
<div class="container">

  <a href="{% url 'field.projects' %}" class="btn btn-default btn-block btn-back">&laquo; {% trans 'Projects' %}</a>

  <div class="panel panel-default">

    <div class="panel-heading">
      {{ project.name }}
    </div>
    
    <div class="panel-body">
      {{ project.description }}
    </div>

  </div>

{% for jobsite in project.jobsites.all %}
  <div class="panel panel-default">

    <div class="panel-heading">
        {{ jobsite }}<br />
        {{ jobsite.address }} {{ jobsite.city }}
    </div>

    <div class="panel-body">
        {% with daily_plan=jobsite.dailys_plans.first %}
        {% if daily_plan and daily_plan.is_today %}
            daily plan...
        {% else %}
          {% trans "Nothing planned for today yet." %}
        {% endif %}
        {% endwith %}
    </div>

    <div class="panel-footer clearfix">
        <div class="pull-right">
            <a href="{% url 'field.add_self_to_jobsite' jobsite.id 'foreman' %}" class="btn btn-default">{% blocktrans %}Add yourself as <b>foreman</b>.{% endblocktrans %}</a>
            <a href="{% url 'field.add_self_to_jobsite' jobsite.id 'laborer' %}" class="btn btn-default">{% blocktrans %}Add yourself as <b>laborer</b>.{% endblocktrans %}</a>
        </div>
    </div>

  </div>
{% endfor %}

</div>
{% endblock %}