{% extends "field/base.html" %}
{% load i18n l10n static customformatting field_app %}

{% block container %}
  <div class="container">

    <div class="row back-buttons">
      <div class="col-xs-8"><a
          href="{% url 'field.dailyplan.group' jobsite.id dailyplan.url_id task.job.id %}"
          class="btn btn-default btn-block">&laquo; {{ task.job.name }}</a></div>
      <div class="col-xs-4"><a
          href="{% if request.GET.origin %}{{ request.GET.origin }}{% else %}{% url 'field.dashboard' %}{% endif %}"
          class="btn btn-default btn-block">&laquo;
        {% if request.GET.origin %}{% trans 'Back' %}{% else %}{% trans 'Dashboard' %}{% endif %}</a></div>
    </div>

    <div class="panel panel-default">

      <div class="panel-heading">
        {{ task.code }} {{ task.name|safe }} {% if task.is_optional %} <span class="label label-warning">{% trans 'Optional' %}</span> {% endif %}
      </div>

      <div class="panel-body">
        {{ task.description|safe }}
      </div>

      <div class="panel-footer clearfix">
        <div class="pull-right">
          {% if in_current_dailyplan %}
            <a href="{% url 'field.dailyplan.task.remove' jobsite.id dailyplan.url_id task.id %}?origin={{ request.GET.origin|urlencode }}"
               class="btn btn-primary">{% blocktrans with jobsite=jobsite.name %}Remove task from {{ jobsite }}.{% endblocktrans %}</a>
          {% else %}
            <a href="{% url 'field.dailyplan.task.add' jobsite.id dailyplan.url_id task.id %}?origin={{ request.GET.origin|urlencode }}"
               class="btn btn-primary">{% blocktrans with jobsite=jobsite.name %}Add task to {{ jobsite }}.{% endblocktrans %}</a>
          {% endif %}
        </div>
      </div>

    </div>

    <form method="post">{% csrf_token %}
      {% localize off %}
        <div class="panel panel-default">

          <div class="panel-heading">
            {% trans 'Progress' %}
          </div>

          <div class="panel-body">
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Errors:</span>
                {{ form.errors }}
            </div>
            {% endif %}
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="percent">{{ task.complete_percent }}%</span>
              <input type="text" class="form-control" name="complete" value="{{ task.complete|ubrdecimal }}">
              <span class="input-group-addon">{{ task.unit }}</span>
            </div>
            <input type="range" id="completion-range" min="0" max="{{ task.qty }}" data-max-local="{{ task.qty|ubrdecimal }}"
                   value="{{ task.complete|stringformat:'d' }}" step="0.01" data-unit="{{ task.unit }}"/>

            <div>{% trans 'Comments' %}:</div>
            <textarea rows="4" style="width: 100%;" name="comment"></textarea>

            <div><label>{{ form.status.label }}: <br>{{ form.status }}</label></div>
            
          </div>

          <div class="panel-footer clearfix">
            <div class="pull-right">
              <input type="hidden" name="origin"
                     value="{% url 'field.dailyplan.group' jobsite.id dailyplan.url_id task.job.id %}"/>
              <input type="submit" class="btn btn-primary" id="task-submit" value="{% trans 'Save Progress' %}"/>
            </div>
          </div>

        </div>
      {% endlocalize %}
    </form>

    <div class="panel panel-default">

      <div class="panel-heading">
        {% trans 'Line Items' %}
      </div>

      <ul class="list-group">
        {% for lineitem in task.instance.lineitems.all %}
          <li class="list-group-item clearfix">{{ lineitem.name }}<span
              class="pull-right">{{ lineitem|task_total|ubrdecimal }} {{ lineitem.unit }}</span></li>
        {% endfor %}
      </ul>

    </div>

    <div class="panel panel-default">

      <div class="panel-heading">
        {% trans 'Progress Reports' %}
      </div>

      <ul class="list-group">
        {% for report in task.progressreports.all %}
          <li class="list-group-item clearfix"><span
              class="badge {% if report.complete_percent > 100 %}badge-warning{% endif %}">{{ report.complete|ubrdecimal }} {{ task.unit }} / {{ report.complete_percent }}%</span>{{ report.timestamp }}<br/>{{ report.worker.get_full_name }}
              {% if report.comment %}<br/>{{ report.comment }}{% endif %}</li>
        {% endfor %}
      </ul>

    </div>

    <div class="panel panel-default">

      <div class="panel-heading">
        {% trans 'Attachments' %}
      </div>

      <div class="panel-body">
        <form method="post" enctype="multipart/form-data"
              action="{% url 'field.dailyplan.task.upload' jobsite.id dailyplan.url_id task.id %}">{% csrf_token %}
          <div class="input-group">
            <input type="hidden" name="redirect" value="{% url 'field.dailyplan.task' jobsite.id dailyplan.url_id task.id %}">
            <input type="file" class="form-control" name="attachment">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Upload</button>
            </span>
          </div>
        </form>
      </div>

      <ul class="list-group">
        {% for attachment in task.attachments.all %}
          <li class="list-group-item clearfix">
            {{ attachment.current.uploaded }}<br/>{{ attachment.current.worker.get_full_name }}<br/>
            <a href="{% url 'attachment.download' attachment.id %}/{{ attachment.current.file.url }}">open</a>
          </li>
        {% endfor %}
      </ul>

    </div>

  </div>
{% endblock %}


{% block extra_js %}
  <script src="{% static "/dart/build/field.dart.js" %}"></script>
{% endblock extra_js %}
