{% extends "frame.html" %}
{% load i18n bootstrap staticfiles %}

{% block menu_dropdown %}{% include "main/menu_dropdown.html" with section='directory' %}{% endblock %}

{% block content %}
  <form class="form-horizontal" method="post">
      {% csrf_token %}
      {% bootstrap form layout='horizontal' %}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary" value="{% trans 'Save' %}">{% trans 'Save' %}</button>
        </div>
      </div>
  </form>
{% endblock %}

{% block extra_js %}
  <script src="{% static "js/address_label_generator.js" %}"></script>
{% endblock extra_js %}
