{% extends "frame.html" %}
{% load i18n %}

{% block sidebar %}{% include "main/sidebar.html" with section='directory' %}{% endblock %}

{% block content %}
  <h2 class="sub-header">{% trans 'Directory' %}</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>{% trans 'Contact' %}</th>
      <th>{% trans 'Business' %}</th>
      <th>{% trans 'Actions' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for contact in contact_list %}
      <tr>
        <td>{{ contact.id }}</td>
        <td><a
            href="{% url 'contact.view' contact.id %}">{{ contact.salutation }} {{ contact.first_name }} {{ contact.last_name }}</a>
        </td>
        <td>{{ contact.business }}</td>
        <td>
          <a href="{% url 'contact.edit' contact.id %}">{% trans "Edit" %}</a>
          <a href="{% url 'contact.delete' contact.id %}">{% trans "Delete" %}</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'contact.create' %}">{% trans "Create" %}</a>
{% endblock content %}