{% extends "frame.html" %}
{% load i18n bootstrap staticfiles %}

{% block sidebar %}{% include "main/sidebar.html" with section='directory' %}{% endblock %}

{% block content %}
  <form role="form" method="post">
      {% csrf_token %}
      {{ form|bootstrap }}
      <div class="form-group">
        <button type="submit" class="btn btn-primary" value="{% trans 'Save' %}">{% trans 'Save' %}</button>
      </div>
  </form>
{% endblock %}

{% block extra_js %}
  <script src="{% static "js/address_label_generator.js" %}"></script>
{% endblock extra_js %}
