{% extends "project.html" %}
{% load i18n bootstrap staticfiles %}

{% block sidebar %}{% include "project/sidebar.html" with section='contacts' %}{% endblock %}

{% block content %}
  <h2 class="sub-header">
    {% blocktrans with project_name=project.name %}Create and then add contact to {{ project_name }}{% endblocktrans %}
  </h2>
  <form role="form" method="post">
      {% csrf_token %}
      {{ project_contact_form|bootstrap }}
      {{ form|bootstrap }}
      <div class="form-group">
        <button type="submit" class="btn btn-primary" value="{% trans "Create" %}">{% trans "Create" %}</button>
      </div>
  </form>
{% endblock content %}

{% block extra_js %}
  <script src="{% static "js/address_label_generator.js" %}"></script>
{% endblock extra_js %}
