{% extends "project.html" %}
{% load i18n bootstrap staticfiles %}

{% block sidebar %}{% include "project/sidebar.html" with section='contacts' %}{% endblock %}

{% block content %}
  <h2 class="sub-header">
    {% blocktrans with project_name=project.name %}Create and then add contact to {{ project_name }}{% endblocktrans %}
  </h2>
  <form class="form-horizontal" method="post">
      {% csrf_token %}
      {% bootstrap project_contact_form layout="horizontal" %}
      {% bootstrap form layout="horizontal" %}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary" value="{% trans "Create" %}">{% trans "Create" %}</button>
        </div>
      </div>
  </form>
{% endblock content %}

{% block extra_js %}
  <script src="{% static "js/address_label_generator.js" %}"></script>
{% endblock extra_js %}
