{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Projects" %}{% endblock %}

{% block content %}

<ul>
{% for project in project_list %}
    <li><a href="{% url 'tasks' project.id %}">{{ project.name }}</a> - [
        <a href="{% url 'project.edit' project.id %}">{% trans "Edit" %}</a>
        <a href="{% url 'project.delete' project.id %}">{% trans "Delete" %}</a>
    ]</li>
{% endfor %}
</ul>
<a href="{% url 'project.create' %}">{% trans "Create" %}</a>

{% endblock content %}