{% extends "project.html" %}
{% load i18n %}

{% block sidebar %}{% include "main/sidebar.html" with section='templates' %}{% endblock %}

{% block content %}
<h2 class="sub-header">{% trans "Job Templates" %}</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Actions" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for job in project.jobs.all %}
      <tr>
        <td><a href="{% url 'tasks' job.id %}">{{ job }}</a></td>
        <td>
          <a href="{% url 'job.edit' job.id %}">{% trans "Edit" %}</a>
          <a href="{% url 'job.delete' job.id %}">{% trans "Delete" %}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'job.create' %}">{% trans "Create" %}</a>
</div>
{% endblock %}