body {
  padding-top: 70px;
  font-family: "Open Sans", sans-serif;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    padding: 20px;
    padding-top: 60px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #D1725E;
}

/*
 * Main content
 */

.main {
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}


td[is=amount-input] {
  width: 216px;
}
td[is=amount-input]>input {
  padding-right: 5px;
  text-align: right;
}
td[is=amount-input]>input.amount-gross {
  width: 200px;
  font-weight: bold;
}
td[is=amount-input]>input.amount-net {
  width: 110px;
}
td[is=amount-input]>input.amount-tax {
  width: 90px;
}

td[is=amount-input]>textarea.amount-comment {
  opacity: 1;
  height: 100px;
  width: 100%;
  background-color: inherit;
  transition: all 0.5s ease 0.15s;
  margin-top: 8px;
}


td[is=amount-view],
td[is=amount-stateful] {
  width: 216px;
}
td[is=amount-view]>div,
td[is=amount-stateful]>div {
  padding-right: 5px;
  text-align: right;
}
td[is=amount-view]>div.amount-gross,
td[is=amount-stateful]>div.amount-gross {
  width: 200px;
  border-bottom: 1px solid #808080;
}
td[is=amount-view]>div.amount-net,
td[is=amount-stateful]>div.amount-net {
  float: left;
  width: 110px;
  border-right: 1px solid #808080;
  right: -1px;
}
td[is=amount-view]>div.amount-tax,
td[is=amount-stateful]>div.amount-tax {
  float: right;
  width: 90px;
}

td[is=amount-view]>div>.amount-diff,
td[is=amount-stateful]>div>.amount-diff {
  font-weight: normal;
  font-size: x-small;
}
td[is=amount-view]>div>.amount-diff.red,
td[is=amount-stateful]>div>.amount-diff.red,
td[is=amount-view]>div.amount-percent.red,
td[is=amount-stateful]>div.amount-percent.red {
  color: red;
}
td[is=amount-view]>div>.amount-diff.green,
td[is=amount-stateful]>div>.amount-diff.green,
td[is=amount-view]>div.amount-percent.green,
td[is=amount-stateful]>div.amount-percent.green {
  color: green;
}
td[is=amount-view]>div>.amount-diff.blue,
td[is=amount-stateful]>div>.amount-diff.blue,
td[is=amount-view]>div.amount-percent.blue,
td[is=amount-stateful]>div.amount-percent.blue {
  color: blue;
}
td[is=amount-view]>div.amount-net>.amount-diff,
td[is=amount-stateful]>div.amount-net>.amount-diff,
td[is=amount-view]>div.amount-tax>.amount-diff,
td[is=amount-stateful]>div.amount-tax>.amount-diff {
  display: block;
}
td[is=amount-view]>div.bold {
  font-weight: bold;
}
td[is=amount-view]>div.amount-net:not(.bold),
td[is=amount-view]>div.amount-tax:not(.bold),
td[is=amount-view]>div.amount-gross:not(.bold) {
  color: #808080;
}
td[is=amount-view]>div.amount-percent,
td[is=amount-stateful]>div.amount-percent {
  float: left;
  width: 110px;
  font-weight: bold;
}

td[is=amount-view].clickable:hover,
td[is=amount-stateful].clickable:hover {
  cursor: pointer;
}

td[is=amount-view].clickable:hover>div,
td[is=amount-view].selected>div,
td[is=amount-stateful].clickable:hover>div,
td[is=amount-stateful].selected>div {
  background-color: #e6e6e6;
}

.prospective {
    background: linear-gradient(to bottom,rgba(183,219,193,0.05) 0%,rgba(183,219,193,0.4) 100%) !important;
}
.prospective:hover {
    background: rgba(183,219,193,0.8) !important;
}
.tendering {
    background: linear-gradient(to bottom,rgba(0,161,154,0.05) 0%,rgba(0,161,154,0.4) 100%) !important;
}
.tendering:hover {
    background: rgba(0,161,154,0.8) !important;
}
.planning {
    background: linear-gradient(to bottom,rgba(0,108,124,0.05) 0%,rgba(0,108,124,0.4) 100%) !important;
}
.planning:hover {
    background: rgba(0,108,124,0.5) !important;
}
.executing {
    background: linear-gradient(to bottom,rgba(250,185,75,0.05) 0%,rgba(250,185,75,0.4) 100%) !important;
}
.executing:hover {
    background: rgba(250,185,75,0.8) !important;
}
.settlement {
    background: linear-gradient(to bottom,rgba(238,114,95,0.05) 0%,rgba(238,114,95,0.4) 100%) !important;
}
.settlement:hover {
    background: rgba(238,114,95,0.8) !important;
}
.warranty {
    background: linear-gradient(to bottom,rgba(198,198,204,0.05) 0%,rgba(198,198,204,0.4) 100%) !important;
}
.warranty:hover {
    background: rgba(198,198,204,1) !important;
}
.finished {
    background: linear-gradient(to bottom,rgba(238,238,238,0.05) 0%,rgba(238,238,238,0.4) 100%) !important;
}
.finished:hover {
    background: rgba(238,238,238,1) !important;
}

/*change breakpoint for navbar*/
@media (max-width: 1100px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

.timer-bar-work {
    background-image: linear-gradient(to bottom, #6CB7B3 0, #A6CFCC 100%);
    color: #0f0f0f !important;
}
.timer-bar-vacation {
    background-image: linear-gradient(to bottom, #8AACB8 0, #C6D4DA 100%);
    color: #0f0f0f !important;
}
.timer-bar-sick {
    background-image: linear-gradient(to bottom, #FCCB7E 0, #FEDDAB 100%);
    color: #0f0f0f !important;
}
.timer-bar-public-holiday {
    background-image: linear-gradient(to bottom, #F8BDAD 0, #FCE0D6 100%);
    color: #0f0f0f !important;
}
.timer-bar-paid-leave {
    background-image: linear-gradient(to bottom, #EA99A2 0, #F5CFD1 100%);
    color: #0f0f0f !important;
}
.timer-bar-unpaid-leave {
    background-image: linear-gradient(to bottom, #D41351 0, #E05E76 100%);
    color: #0f0f0f !important;
}
.timer-bar-break {
    background-image: linear-gradient(to bottom, #DDEDE1 0, #EEF6F1 100%);
    color: #0f0f0f !important;
}

.notes-table-responsive {
    max-height: 300px;
    padding-bottom: 10px !important;
    overflow-y: auto;
}

.notes-table th:nth-child(2) {
    width: 100%;
}
.note-created {
    font-size: smaller;
}