body {
  padding-top: 70px;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    padding: 20px;
    padding-top: 60px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #D1725E;
}

/*
 * Main content
 */

.main {
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}


td[is=amount-input] {
  width: 216px;
}
td[is=amount-input]>input {
  padding-right: 5px;
  text-align: right;
}
td[is=amount-input]>input.amount-gross {
  width: 200px;
  font-weight: bold;
}
td[is=amount-input]>input.amount-net {
  width: 110px;
}
td[is=amount-input]>input.amount-tax {
  width: 90px;
}


td[is=amount-view],
td[is=amount-stateful] {
  width: 216px;
}
td[is=amount-view]>div,
td[is=amount-stateful]>div {
  padding-right: 5px;
  text-align: right;
}
td[is=amount-view]>div.amount-gross,
td[is=amount-stateful]>div.amount-gross {
  width: 200px;
  border-bottom: 1px solid #808080;
}
td[is=amount-view]>div.amount-net,
td[is=amount-stateful]>div.amount-net {
  float: left;
  width: 110px;
  border-right: 1px solid #808080;
  right: -1px;
}
td[is=amount-view]>div.amount-tax,
td[is=amount-stateful]>div.amount-tax {
  float: right;
  width: 90px;
}

td[is=amount-view]>div>.amount-diff,
td[is=amount-stateful]>div>.amount-diff {
  font-weight: normal;
  font-size: x-small;
}
td[is=amount-view]>div>.amount-diff.red,
td[is=amount-stateful]>div>.amount-diff.red,
td[is=amount-view]>div.amount-percent.red,
td[is=amount-stateful]>div.amount-percent.red {
  color: red;
}
td[is=amount-view]>div>.amount-diff.green,
td[is=amount-stateful]>div>.amount-diff.green,
td[is=amount-view]>div.amount-percent.green,
td[is=amount-stateful]>div.amount-percent.green {
  color: green;
}
td[is=amount-view]>div>.amount-diff.blue,
td[is=amount-stateful]>div>.amount-diff.blue,
td[is=amount-view]>div.amount-percent.blue,
td[is=amount-stateful]>div.amount-percent.blue {
  color: blue;
}
td[is=amount-view]>div.amount-net>.amount-diff,
td[is=amount-stateful]>div.amount-net>.amount-diff,
td[is=amount-view]>div.amount-tax>.amount-diff,
td[is=amount-stateful]>div.amount-tax>.amount-diff {
  display: block;
}
td[is=amount-view]>div.bold {
  font-weight: bold;
}
td[is=amount-view]>div.amount-net:not(.bold),
td[is=amount-view]>div.amount-tax:not(.bold),
td[is=amount-view]>div.amount-gross:not(.bold) {
  color: #808080;
}
td[is=amount-view]>div.amount-percent,
td[is=amount-stateful]>div.amount-percent {
  float: left;
  width: 110px;
  font-weight: bold;
}

td[is=amount-view].clickable:hover>div,
td[is=amount-stateful].clickable:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}
