body {
  padding-top:70px;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    padding: 20px;
    padding-top: 60px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*
 * Day Based Overview
 */
 
.overview-wrapper {
	display:flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	flex-direction: column;
	height: 30vw;
	width: 100vw;
}

.overview-box {
  margin: 0px 10px 0px 10px;
}

.overview-innerContent {
}

.foreman_crown {
	position:relative;
	top:-2px;
	left:-5px;
}
.foreman_crown:after {
	content: "♔";
}

.panel-custom  {
	padding: 2px 10px 2px 10px;
}

.notes-container{
	display:flex;
	width:100vw;
	position:fixed;
	bottom:0px;
}

.notes-box {
	margin: 10px;
	width:100vw;
}

.notes-project {
	color: rgb(250,0,0);
	font-weight:bold;
}