body {
  background-image: url("/static/img/field_app_bg.svg");
  background-repeat: no-repeat;
  background-position-y: 300px;
  background-position-x: center;


  padding-bottom: 10px;
}

.container {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
}

.field-nav {
  right:0;
  left:0;
  padding: 0 10px 0 10px;
  padding-top: 5px;
  position: fixed;
  z-index: 2;
  background-color: white;
}

.field-container {
  margin-top: 100px;
  z-index: 1;
}

.row.back-buttons {
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 5px;
}

.row.back-buttons > div {
  padding-left: 5px;
  padding-right: 5px;
}

.row.back-buttons > div > a {
  text-align: left;
  overflow: hidden;
}

.row.back-buttons > div.text-right > a {
  text-align: right;
}

.day-picker {
  font-size: 14pt;
  font-weight: bold;
  padding: 5px;
  border-bottom: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.day-separator {
  font-size: 14pt;
  font-weight: bold;
  border-bottom: 2px solid #333;
  margin: 2px 0px 2px 0px;
  position: relative;
}

.day-separator.today {
  font-weight: bold;
}

.btn-contextual {
  position: absolute;
  font-size: 14pt;
  padding: 3px 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  bottom: 0px;
}

.day-separator a.btn-add-plan {
  right: 0px;
}

.day-separator a.btn-copy-plan {
  right: 45px;
}

.day-separator a.btn-paste-plan {
  right: 90px;
}

#percent {
  width: 80px;
}

input[name="complete"] {
  text-align: right;
}

.list-group-item.sub-header {
  background-color: #eee;
  color: #777;
}

/*

Input Range CSS

Initially generated using this tool: http://danielstern.ca/range.css

Since this is intended for Android/iOS the Firefox and IE specific styles have been removed.

*/

input[type=range]::before {
  content: attr(min) " " attr(data-unit);
  position: absolute;
  left: 1px;
  top: -20px;
}

input[type=range]::after {
  content: attr(max) " " attr(data-unit);
  position: absolute;
  right: 1px;
  top: -20px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 50px 0;
  position: relative;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #eee;
  border: 0px solid #ccc;
  border-radius: 6px;
  z-index: 10;
}

input[type=range]::-webkit-slider-thumb {
  height: 50px;
  width: 50px;
  border: 1px solid #2e6da4;
  border-radius: 6px;
  background: #337ab7;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -20px; /*-19.5px;*/
}