{% load i18n l10n %}

/* for debugging tables
td {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
}
*/

@page {
  font-family: OpenSans;
  {% localize off %}
  margin-top: {{letterhead.top_margin}}mm;
  margin-right: {{letterhead.right_margin}}mm;
  margin-bottom: {{letterhead.bottom_margin}}mm;
  margin-left: {{letterhead.left_margin}}mm;
  {% endlocalize %}
  letterhead-page: 1;
  @bottom-right {
    content: '{% trans "Page" %} ' counter(page);
  }
}

@page:nth-child(n+2) {
  {% localize off %}
  margin-top: {{letterhead.top_margin_next}}mm;
  margin-bottom: {{letterhead.bottom_margin_next}}mm;
  {% endlocalize %}
  letterhead-page: 2;
}

td {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}

td, p {
  font-family: OpenSans;
  font-size: 10pt;
}

.header-title {
  font-weight: bold;
  font-size: 14pt;
}

.header-date {
  text-align: right;
}

.vspace-50 {
  padding-top: 50px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.line-above {
  border-top-width: 1px;
}

.code {
  padding-left: 0px;
  padding-right: 0px;
}

.total {
  padding-right: 0px;
}

.qty, .price, .total {
  text-align: right;
  vertical-align: bottom;
}

.unit {
  text-align: right;
  vertical-align: bottom;
}
