{% load i18n staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

  <head>

    <meta charset="utf-8">
    <link rel="shortcut icon" href="{% static "img/favicon.png" %}">

    <title>{% block title %}ubrblik{% endblock %}</title>

    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/jquery-ui.css" %}" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="{% block navbar_container_class %}container{% endblock %}">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">{% trans 'Toggle navigation' %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Ubrblik</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form id="set-language" action="{% url 'set_language' %}" method="post">{% csrf_token %}
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ LANGUAGE_CODE }}<b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                {% get_language_info_list for LANGUAGES as languages %}
                <input type="hidden" name="language" value="" />
                {% for language in languages %}
                    {% if language.code != LANGUAGE_CODE %}
                    <li><a class="language-link" href="#" data-language="{{ language.code }}">{{ language.name_local }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
              </li> 
            </ul>
          </form>
          {% if not user.is_authenticated and request.path != "/accounts/login/" %}
          <form class="navbar-form navbar-right" role="form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.get_full_path }}" />
            <div class="form-group">
              <input name="username" type="text" placeholder="{% trans 'Username' %}" class="form-control">
            </div>
            <div class="form-group">
              <input name="password" type="password" placeholder="{% trans 'Password' %}" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">{% trans 'Sign in' %}</button>
          </form>
          {% endif %}
          {% if user.is_authenticated %}
          {% block head_navbar %}{% endblock %}
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'settings' %}">{% trans 'Settings' %}</a></li>
                    <li><a href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
                </ul>
            </li>
          </ul>
          {% endif %}
        </div>
      </div>
    </nav>

    {% block container %}
    {% endblock container %}

    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <script src="{% static "js/language_picker.js" %}"></script>
    {% block extra_js%}{% endblock extra_js%}

  </body>
</html>