{% extends "frame.html" %}
{% load i18n %}

{% block title %}{{ project.name }}{% endblock %}
{% block head_navbar %}
<ul class="nav navbar-nav navbar-left">
  <li class="active"><a href="{% url 'project.view' project.id %}">{{ project.name }}</a></li>
</ul>
{% endblock %}

{% block sidebar %}
<ul class="nav nav-sidebar">
  <li class="active"><a href="{% url 'project.view' project.id %}">Project Dashboard</a></li>
  <li><a href="{% url 'project.view' project.id %}#jobs">Jobs</a></li>
  <li><a href="{% url 'project.view' project.id %}#docs">Documents</a></li>
  <li><a href="{% url 'project.view' project.id %}#contacts">Contacts</a></li>
</ul>
{% endblock %}

{% block content %}
{% endblock %}