{% extends "project.html" %}
{% load i18n bootstrap dartium %}

{% block head %}
  {{ block.super }}
  {{ form.media.css }}
{% endblock head %}

{% block title %}#{{ project.id }} {{ project.name }} > {{ job.name }}{% endblock %}

{% block mainmenu %}{% include "main/mainmenu.html" with section='projects' %}{% endblock %}

{% block head_navbar %}
  <!-- <li><a href="{% url 'project.view' project.pk %}">{{ project.name }}</a></li>
  <li class="active"><a href="{% url 'job.progress' project.pk job.pk %}">{{ job.name }}</a></li> -->
  <span><big>{{ project.name }}</big><small> ({{ project.get_phase_display }})</small> > {{ job.name }}</span>
{% endblock %}

{% block content %}
  <form role="form" method="post">
    {% csrf_token %}
    {% bootstrap form %}
    <table is="progress-table" class="table table-condensed">
      <thead>
        <tr>
          <th>{% trans 'code' %}</th>
          <th>{% trans 'name' %}</th>
          <th>{% trans 'offered' %}</th>
          <th>{% trans 'unit' %}</th>
          <th>
            <input type="checkbox">
            {% trans 'completed' %}
          </th>
          <th>
            <select name="worker">
            {% for worker in workers %}
              <option value="{{ worker.id }}"
                {% if worker == request.worker %}selected{% endif %}>
                {{ worker }}
              </option>
            {% endfor %}
            </select><br>
            {% trans 'worker' %}
          </th>
          <th>{% trans 'comment' %}</th>
        </tr>
      </thead>
      <tbody>
        {% include "task/progress/group.html" with group=job %}
      </tbody>
    </table>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" value="{% trans 'Save' %}">{% trans 'Save' %}</button>
    </div>
  </form>
{% endblock %}

{% block extra_js %}
  {{ form.media.js }}
  {% fieldinit form %}
  {% dart "progress_editor.dart" %}
{% endblock %}
