{% extends "project.html" %}
{% load i18n staticfiles %}

{% block title %}{{ project.name }} > {{ job.name }}{% endblock %}
{% block head_navbar %}
<ul class="nav navbar-nav navbar-left">
  <li><a href="{% url 'project.view' project.id %}">{{ project.name }}</a></li>
  <li class="active"><a href="{% url 'tasks' project.id job.id %}">{{ job.name }}</a></li>
</ul>
{% endblock %}

{% block sidebar %}{% include "project/sidebar.html" with section='jobs' %}{% endblock %}

{% block content %}
<style>

#task-editor {
}

ubr-taskgroup,
ubr-task,
ubr-taskinstance,
ubr-lineitem {
  display: block;
}

.editor {
  position: relative;
  padding-bottom: 10px;
}

.editor-row {
  display: flex;
}

/* task group & task */

.code {
  width: 80px;
}

.description {
  margin-left: 80px;
  width: 440px;
}

.qty {
  width: 90px;
  text-align: right;
}

.unit {
  width: 90px;
  padding-left: 4px;
}

.price {
  width: 90px;
  text-align: right;
  padding-right: 4px;
}

.total {
  width: 90px;
  font-weight: bold;
  text-align: right;
  padding-right: 4px;
}

.labels {
  padding-left: 20px;
}

.labels > .label:hover {
  cursor: pointer;
}

.labels > .label.False {
  display: none;
  background-color: #F0F0F0;
}

.editor:hover > .editor-row > .labels > .label.False {
  display: inline;
}

/* task group */

ubr-taskgroup > .editor .name {
  font-weight: bold;
  width: 680px;
}

ubr-taskgroup > .editor .total {
  width: 100px;
}

/* task */

ubr-task {
  padding-bottom: 40px;
}

ubr-task > .editor {
  padding-bottom: 0px;
}

ubr-task > .editor .name {
  width: 420px;
}

ubr-task > .editor .price {
  font-weight: bold;
  border: 1px solid black;
}

ubr-task > .editor .description {
  width: 602px;
  padding-bottom: 20px;
  border-right: 1px solid #f5f5f5;
}

/* task instance */

ubr-taskinstance:nth-of-type(1) > .editor {
  width: 682px;
  border-right: 1px solid #f5f5f5;
}

ubr-taskinstance:nth-of-type(1) > ubr-lineitem > .editor .total {
  border: 1px solid #f5f5f5;
}

ubr-taskinstance:nth-of-type(1) > ubr-lineitem > .editor .total:before {
  display: block;
  position: absolute;
  content: "";
  height: 10px;
  border-left: 1px solid #f5f5f5;
  top: -10px;
}


/* line item */

ubr-lineitem .name {
  width: 310px;
  margin-left: 100px;
}

ubr-lineitem .price {
  padding-right: 10px;
}

div[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  font-style: italic;
  color: #d9d9d9;
}

div[contenteditable][placeholder]:empty:focus:before {
  content: "";
}

ubr-autocomplete {
  z-index: 100;
  display: none;
  position: absolute;
  background: white;
  left: 60px;
  width: 310px;
  border: 1px solid lightgrey;
}

/*
ubr-autocomplete > div:hover {
  background: #FFE8D9;
  cursor: pointer;
}
*/

ubr-autocomplete > div.active {
  background: orange;
}

</style>


<ubr-job id="task-editor"
  data-pk="{{ job.pk }}"
  data-code="{{ job.code }}"
  data-taskgroup-zfill="{{ project.taskgroup_zfill }}"
  data-task-zfill="{{ project.task_zfill }}">

  {% for group in object_list %}
    {% include "task/taskgroup_loop.html" with group=group %}
  {% endfor %}

</ubr-job>

<template id="taskgroup-template">
  {% include "task/taskgroup_editor.html" with group=blank_taskgroup %}
</template>

<template id="task-template">
  {% include "task/task_editor.html" with task=blank_task %}
</template>

<template id="taskinstance-template">
  {% include "task/taskinstance_editor.html" with task=blank_taskinstance %}
</template>

<template id="lineitem-template">
  {% include "task/lineitem_editor.html" with lineitem=blank_lineitem %}
</template>

{% endblock content %}

{% block extra_js%}
<script type="application/dart" src="{% static "editor/editor.dart" %}"></script>
{% endblock extra_js%}