{% extends "project.html" %}
{% load i18n staticfiles %}

{% block title %}{{ project.name }} > {{ job.name }}{% endblock %}
{% block head_navbar %}
<ul class="nav navbar-nav navbar-left">
  <li><a href="{% url 'project.view' project.id %}">{{ project.name }}</a></li>
  <li class="active"><a href="{% url 'tasks' project.id job.id %}">{{ job.name }}</a></li>
</ul>
{% endblock %}

{% block sidebar %}
<ul class="nav nav-sidebar">
  <li class="active"><a href="{% url 'project.view' project.id %}">Tasks</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="task-editor" data-job-pk="{{ job.pk }}">
{% for group in object_list %}
  <ubr-taskgroup data-pk="{{ group.pk }}">
    <span class="code">{{ group.order }}</span>
    <span class="name">{{ group.name }}</span>
    <span class="description">{{ group.description }}</span>
    <span class="total">{{ group.total_amount|floatformat:2 }}</span>
  </ubr-taskgroup>

  {% for task in group.tasks.all %}
    <ubr-task data-pk="{{ task.pk }}">
      <span class="code">{{ task.code }}</span>
      <span class="name">{{ task.name }}</span>
      <span class="description">{{ task.description }}</span>
      <span class="total">{{ task.total_amount|floatformat:2 }}</span>
    </ubr-task>

    {% for lineitem in task.lineitems.all %}
    <ubr-lineitem data-pk="{{ lineitem.pk }}">
      <span class="name">{{ lineitem.name }}</span>
      <span class="qty">{{ lineitem.qty|floatformat:2 }}</span>
      <span class="unit">{{ lineitem.unit }}</span>
      <span class="price">{{ lineitem.price|floatformat:2 }}</span>
      <span class="total">{{ lineitem.total_amount|floatformat:2 }}</span>
    </ubr-lineitem>
    {% endfor %}
  {% endfor %}
{% endfor %}
</div>
<br /> <br /> <br />
<a href="{% url 'task.pdf' project.id job.id %}">{% trans "PDF Report" %}</a>

<style>
.total {
  font-weight: bold;
}
#task-editor {
  display: table;
  //border: 1px solid #000;
  width: 600px;
}

ubr-taskgroup,
ubr-task,
ubr-lineitem {
  display: table-row;
  //border: 1px solid #000;
}

ubr-taskgroup::shadow > td,
ubr-task::shadow > td,
ubr-lineitem::shadow > td {
  //border:1px solid black;
  vertical-align: top;
}

ubr-taskgroup:hover::shadow span[placeholder]:empty:before,
ubr-task:hover::shadow span[placeholder]:empty:before,
ubr-lineitem:hover::shadow span[placeholder]:empty:before {
  content: attr(placeholder);
  font-style: italic;
  color: #d9d9d9;
}

ubr-taskgroup:hover::shadow span[placeholder]:empty:focus:before,
ubr-task:hover::shadow span[placeholder]:empty:focus:before,
ubr-lineitem:hover::shadow span[placeholder]:empty:before {
  content: " ";
}
</style>

<template id="taskgroup-template">
  <style>
  .name {
    font-weight: bold;
    display: block;
  }
  .description {
    display: block;
  }
  </style>
  <td class="code"></td>
  <td colspan="4">
    <span class="name" placeholder="{% trans 'task group' %}" contenteditable></span>
    <span class="description" placeholder="{% trans 'description' %}" contenteditable></span>
  </td>
  <td class="total"></td>
</template>

<template id="task-template">
  <style>
  .description {
    display: block;
  }
  </style>
  <td class="code"></td>
  <td colspan="4">
    <span class="name" placeholder="{% trans 'task' %}" contenteditable></span>
    <span class="description" placeholder="{% trans 'description' %}" contenteditable></span>
  </td>
  <td class="total"></td>
</template>

<template id="lineitem-template">
  <style>
  </style>
  <td></td>
  <td class="name" placeholder="{% trans 'line item' %}" contenteditable></td>
  <td class="qty" placeholder="{% trans 'qty' %}" contenteditable></td>
  <td class="unit" placeholder="{% trans 'unit' %}" contenteditable></td>
  <td class="price" placeholder="{% trans 'price' %}" contenteditable></td>
  <td class="total"></td>
</template>

{% endblock content %}

{% block extra_js%}
<script type="application/dart" src="{% static "editor/editor.dart" %}"></script>
<!--
<script src="{% static "js/ubrblik/editor.dart.js" %}"></script>
 -->
{% endblock extra_js%}
