{% extends "project.html" %}
{% load i18n staticfiles %}

{% block title %}{{ project.name }} > {{ job.name }}{% endblock %}
{% block head_navbar %}
<ul class="nav navbar-nav navbar-left">
  <li><a href="{% url 'project.view' project.id %}">{{ project.name }}</a></li>
  <li class="active"><a href="{% url 'tasks' project.id job.id %}">{{ job.name }}</a></li>
</ul>
{% endblock %}

{% block sidebar %}{% include "project/sidebar.html" with section='jobs' %}{% endblock %}

{% block content %}
<style>

#task-editor {
}

.editor {
  position: relative;
  margin-bottom: 10px;
}

.editor-row {
  display: flex;
}

/* task group & task */

.code {
  width: 60px;
}

.description {
  margin-left: 60px;
  width: 440px;
}

.qty {
  width: 70px;
  text-align: right;
}

.unit {
  width: 70px;
  padding-left: 4px;
}

.price {
  width: 70px;
  text-align: right;
}

.total {
  width: 70px;
  font-weight: bold;
  text-align: right;
}

/* task group */

ubr-taskgroup > .editor .name {
  font-weight: bold;
  width: 510px;
}

ubr-taskgroup > .editor .total {
  width: 100px;
}

/* task */

ubr-task > .editor .name {
  width: 330px;
}

/* line item */

ubr-lineitem .name {
  width: 310px;
  margin-left: 80px;
}

div[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  font-style: italic;
  color: #d9d9d9;
}

div[contenteditable][placeholder]:empty:focus:before {
  content: "";
}

ubr-autocomplete {
  z-index: 100;
  display: none;
  position: absolute;
  background: white;
  left: 60px;
  width: 310px;
  border: 1px solid lightgrey;
}

/*
ubr-autocomplete > div:hover {
  background: #FFE8D9;
  cursor: pointer;
}
*/

ubr-autocomplete > div.active {
  background: orange;
}

</style>


<ubr-job id="task-editor"
  data-pk="{{ job.pk }}"
  data-code="{{ job.code }}"
  data-taskgroup-zfill="{{ project.taskgroup_zfill }}"
  data-task-zfill="{{ project.task_zfill }}">

  {% for group in object_list %}
    {% include "task/taskgroup_loop.html" with group=group %}
  {% endfor %}

</ubr-job>

<template id="taskgroup-template">
  {% include "task/taskgroup_editor.html" with group=blank_taskgroup %}
</template>

<template id="task-template">
  {% include "task/task_editor.html" with task=blank_task %}
</template>

<template id="lineitem-template">
  {% include "task/lineitem_editor.html" with lineitem=blank_lineitem %}
</template>

{% endblock content %}

{% block extra_js%}
<script type="application/dart" src="{% static "editor/editor.dart" %}"></script>
{% endblock extra_js%}