{% load i18n %}
<div class="editor">
  <div class="editor-row">
    <div class="code">{{ task.code }}</div>
    <div class="name" placeholder="{% trans 'task' %}" contenteditable>{{ task.name }}</div>
    <div class="qty" placeholder="{% trans 'qty' %}" contenteditable>{{ task.qty|floatformat:3 }}</div>
    <div class="unit" placeholder="{% trans 'unit' %}" contenteditable>{{ task.unit }}</div>
    <div class="price">{{ task.unit_price|floatformat:2 }}</div>
    <div class="total">{{ task.fixed_price_estimate|floatformat:2 }}</div>
    <div class="labels">
      <span class="is_optional {{ task.is_optional }} label label-primary">{% trans 'Optional' %}</span>
    </div>
  </div>
  <div class="description" placeholder="{% trans 'description' %}" contenteditable>{{ task.description }}</div>
</div>