{% extends "base.html" %}
{% load i18n staticfiles %}

{% block title %}{{ project.name }} - {% trans "Tasks" %}{% endblock %}

{% block content %}
<div id="overview">
  <div id="project-total">Summe netto: {{ project.total|floatformat:2 }}</div>
  <div id="project-total-gross">Summe brutto: {{project.total_gross|floatformat:2}}</div>
</div>
{% for group in object_list %}
<div id="task-editor" data-project-pk="{{ project.pk }}">
  <ubr-taskgroup data-pk="{{ group.pk }}">
    <span class="name">{{ group.name }}</span>
    <span class="total">{{ group.total|floatformat:2 }}</span>
    {% for task in group.tasks.all %}
    <ubr-task data-pk="{{ task.pk }}">
      <span class="name">{{ task.name }}</span>
      <span class="total">{{ task.total|floatformat:2 }}</span>
      {% for lineitem in task.lineitems.all %}
      <ubr-lineitem data-pk="{{ lineitem.pk }}">
        <span class="name">{{ lineitem.name }}</span>
        <span class="qty">{{ lineitem.qty|floatformat:2 }}</span>
        <span class="unit">{{ lineitem.unit }}</span>
        <span class="price">{{ lineitem.price|floatformat:2 }}</span>
        <span class="total">{{ lineitem.total|floatformat:2 }}</span>
      </ubr-lineitem>
      {% endfor %}
    </ubr-task>
    {% endfor %}
  </ubr-taskgroup>
</div>
{% endfor %}
<br /> <br /> <br />
<a href="{% url 'taskpdf' project.id %}">{% trans "PDF Report" %}</a>

<style>
::shadow .edit {
  display: none;
}
::shadow .item {
  padding-left: 20px;
}
#overview {
  display:flex;
  flex-direction:row;
  flex-wrap: nowrap;
}
#overview div {
  flex:1;
}
::shadow .task-group {
  display:flex;
  flex-direction: column;
}
::shadow .task-group span {
  flex: 1;
}
::shadow ubr-task {
  display:flex;
}
.hide {
  display:none;
}

</style>


<template id="taskgroup-template">
  <div class="item task-group">
    <div class="view">
      <content select=".name"></content>
      <content select=".total"></content>
    </div>
    <div class="edit">
      <input name="name" placeholder="task group name" />
    </div>
    <content select="ubr-task"></content>
  </div>
</template>

<template id="task-template">
  <div class="item task">
    <div class="view">
      <content select=".name"></content>
      <content select=".total"></content>
    </div>
    <div class="edit">
      <input name="name" placeholder="task name" />
    </div>
    <content select="ubr-lineitem"></content>
  </div>
</template>

<template id="lineitem-template">
  <div class="item lineitem">
    <div class="view">
      <content select=".name"></content>
      <content select=".qty"></content>
      <content select=".unit"></content>
      <content select=".price"></content>
      <content select=".total"></content>
    </div>
    <div class="edit">
      <input name="name" placeholder="line item name" />
      <input name="qty" placeholder="qty" />
      <input name="unit" placeholder="unit" />
      <input name="price" placeholder="price" />
    </div>
  </div>
</template>

{% endblock content %}

{% block extra_js%}
<script type="application/dart" src="{% static "editor/editor.dart" %}"></script>
<!--
<script src="{% static "js/ubrblik/editor.dart.js" %}"></script>
 -->
{% endblock extra_js%}
