{% extends "base.html" %}
{% load i18n staticfiles %}

{% block title %}{{ project.name }} - {% trans "Tasks" %}{% endblock %}

{% block content %}
{% for group in object_list %}
<div id="task-editor" data-project-pk="{{ project.pk }}">
  <ubr-taskgroup data-pk="{{ group.pk }}">
    <span class="name">{{ group.name }}</span>
    <span class="grand_total">{{ task.grand_total|floatformat:2 }}</span>
    {% for task in group.tasks.all %}
    <ubr-task data-pk="{{ task.pk }}">
      <span class="name">{{ task.name }}</span>
      <span class="total">{{ task.total|floatformat:2 }}</span>
      {% for lineitem in task.lineitems.all %}
      <ubr-lineitem data-pk="{{ lineitem.pk }}">
        <span class="name">{{ lineitem.name }}</span>
        <span class="qty">{{ lineitem.qty|floatformat:1 }}</span>
        <span class="unit">{{ lineitem.unit|floatformat:1 }}</span>
        <span class="price">{{ lineitem.price|floatformat:2 }}</span>
        <span class="total">{{ lineitem.total|floatformat:2 }}</span>
      </ubr-lineitem>
      {% endfor %}
    </ubr-task>
    {% endfor %}
  </ubr-taskgroup>
</div>
{% endfor %}


<style>
::shadow .item {
  padding-left: 20px;
}
::shadow .edit {
  display: none;
}
.total {
  font-weight: bold;
}
.grand_total {
  font-weight: bold;
}
.total::after {
  content: "\20AC";
}
.grand_total::after {
  content: "\20AC";
}
</style>


<template id="taskgroup-template">
  <div class="item task-group">
    <div class="view">
      <content select=".name"></content>
      <content select=".grand_total"></content>
    </div>
    <div class="edit">
      <input name="name" placeholder="task group name" />
    </div>
    <content select="ubr-task"></content>
  </div>
</template>

<template id="task-template">
  <div class="item task">
    <div class="view">
      <content select=".name"></content>
      <content select=".total"></content>
    </div>
    <div class="edit">
      <input name="name" placeholder="task name" />
    </div>
    <content select="ubr-lineitem"></content>
  </div>
</template>

<template id="lineitem-template">
  <div class="item lineitem">
    <div class="view">
      <content select=".name"></content>
      <content select=".qty"></content>
      <content select=".unit"></content>
      <content select=".price"></content>
      <content select=".total"></content>
    </div>
    <div class="edit">
      <input name="name" placeholder="line item name" />
      <input name="qty" placeholder="qty" />
      <input name="unit" placeholder="unit" />
      <input name="price" placeholder="price" />
    </div>
  </div>
</template>

{% endblock content %}

{% block extra_js%}
<script type="application/dart" src="{% static "editor/editor.dart" %}"></script>
<!--
<script src="{% static "js/ubrblik/editor.dart.js" %}"></script>
 -->
{% endblock extra_js%}